{% extends "base.html" %}
{% block title %}The Best Eye: {{article.subject}}{% endblock %}
{% load static %}
{% load i18n %}

{% block content %}

	{% if article %}

		<div class="heading2">
			<p>
				<img 
					class="heading_icon" 
					src="{% static "assets/images/blog-gear-256.png" %}" 
				/> 
				<b>{{article.subject}}:</b>
			</p>
		</div>

		<div id="whitebg">

			<table width="100%" cellpadding="5"><tr><td>

				<p>{{article.body|linebreaks}}</p>
				<a href="/blog/"><b>Back</b></a>
				{% if editable %}
					<p><a href="/blog/{{article.id}}/edit/"><b>Edit</b></a></p>
				{% endif %}

			</td></tr></table>
		</div>
	{% else %}
		<div id="whitebg">
			<p>Nothing here!</p>
			<p><a href="/blog/"><b>Back to Blog</b></a></p>
		</div>
	{% endif %}

{% endblock %}