{% extends "base.html" %}
{% block title %}The Best Eye Blog{% endblock %}
{% load static %}
{% load i18n %}

{% block content %}

	<div class="heading2">
		<p>
			<img 
				class="heading_icon" 
				src="{% static "assets/images/blog-gear-256.png" %}" 
			/> 
			<b>Best Eye Blog:</b>
		</p>
	</div>

	<div id="whitebg">

		<table width="100%" cellpadding="2">
			{% if articles.count > 0 %}
				{% for a in articles %}
					<tr>
						<td>
							<p>
								<a href="/blog/{{a.id}}/">
									<div class="heading2">{{a.subject}}:</div>
								</a>
							</p>
							<p>
								<a href="/blog/{{a.id}}/">
									{{a.body|linebreaks|truncatewords:"100"}}
								</a>  
								{% if a.createdby == thisuser %}
									<a href="/blog/{{a.id}}/edit/"><b>Edit</b></a>
								{% endif %}
							</p>
							<p>
								<a href="/blog/{{a.id}}/">
									<i>Published on {{a.pubdate}}</i>
								</a>

							</p>
							<br />
						</td>
					</tr>
				{% endfor %}
			{% endif %}
			{% if thisuser.user_object.blog_writer == True %}
				<tr>
					<td>
						<a href="/blog/new/">
							<img 
								width="30" 
								src="{% static "assets/images/newpost-plus-256.png" %}" 
							/> 
							<b>New</b>
						</a>
					</td>
				</tr>
			{% endif %}
		</table>
	</div>

{% endblock %}