{% extends "base.html" %}
{% block title %}The Best Eye: New Article{% endblock %}
{% load static %}
{% load i18n %}

{% block content %}

	<div id="whitebg">
		<form action="/blog/new/" method="post" />{% csrf_token %}
			<p>New Article:</p>
			<p>{{form.article_thumbnail}}</p>
			<p>{{form.subject}}</p>
			<p>{{form.body}}</p>
			<p><input type="submit" name="submit" value="New Message" /> • <a href="/blog/">Cancel</a></p>
		</form>
	</div>

{% endblock %}