{% extends "base.html" %}
{% load static %}
{% block title %}The Best Eye: Leaderboards{% endblock %}

{% block content %}

	<p>
		<div class="heading2">
			<img 
				class="heading_icon" 
				src="{% static "assets/images/leader-crown-256.png" %}" 
			/> 
			Leaderboards:
		</div>
	</p>

	<div id="whitebg">

		<table width="100%" cellpadding="2" />

			{% for player,user_status in players_list %}

				<tr>
					<td>
						<a href="/accounts/profile/{{player.user.id}}/">
							{% if player.avatar_thumbnail %}
								<img src="{% get_static_prefix %}{{player.avatar_thumbnail}}" width="50" />
							{% else %}
								<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
							{% endif %}
						</a> 
						<a href="/accounts/profile/{{player.user.id}}/">{{player.user.username}}</a>
					</td>
					<td>
						<a href="/accounts/profile/{{player.user.id}}/">{{player.totalpoints}} points</a>
					</td>
					<td>
						<a href="/accounts/profile/{{player.user.id}}/games/">See {{player.user.username}}'s games!</a>
					</td>
					<td>
						{% if user_status %}
							<a href="/accounts/profile/{{player.user.id}}/unfollow/?nextpage=/leaderboards/">(Unfollow)</a>
						{% else %}
							<a href="/accounts/profile/{{player.user.id}}/follow/?nextpage=/leaderboards/">Follow</a>
						{% endif %}
					</td>
				</tr>
		
			{% endfor %}

		</table>

		<div class="pagination" align="right">
			<span class="step-links">
				{% if player_points_list.has_previous %}
					<a href="?page={{ player_points_list.previous_page_number }}">previous</a>
				{% endif %}

				<span class="current">
					Page {{ player_points_list.number }} of {{ player_points_list.paginator.num_pages }}
				</span>

				{% if player_points_list.has_next %}
					<a href="?page={{ player_points_list.next_page_number }}">next</a>
				{% endif %}
			</span>
		</div>

	</div>

{% endblock %}