{% extends "base.html" %}
{% load static %}
{% block title %}The Best Eye: Games{% endblock %}
{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/all_games.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/game.css" %}">
	<script>
		$(function() {
			$( document ).tooltip();
		});
	</script>
	<style>
		label {
			display: inline-block;
			width: 5em;
		}
	</style>
{% endblock %}

{% block content %}

	<p>
		<div class="heading2">
			<img 
				class="heading_icon" 
				src="{% static "assets/images/game-puzzle-256.png" %}" 
			/>
			<b>All Photos from {{game.name}}:</b>
		</div>
	</p>

	{% if results %}

		{% for result in results %}

			{% if result.disqualified %}

				<div id="whitebg">

					<p>Player is disqualified!</p>
					<p><a href="/games/{{game.id}}/">Back to Game</a></p>

				</div>

			{% else %}

				<div id="whitebg">

					{% if result.result01crop %}

						<a name="{{result.player.id}}-1"></a>

						<p><b>01: {{game.item01}}:</b></p>

						<div align="center">
							<a href="/games/{{game.id}}/photos/results/{{result.player.id}}/item/1/">
								<img 
									src="{% get_static_prefix %}{{result.result01crop}}" 
									title="{{result.result01desc|truncatewords:"20"}}"
									width="700"
								/>
								<p><b>{{result.result01desc}}</b></p>
							</a>
							<p>
								{% if thisuser %}
									{% if result.photo01liked %}
										<a href="/games/{{game.id}}/results/{{result.player.id}}/item/1/unlike/?next=/games/{{game.id}}/photos/">
											<img 
												class="media_icon" 
												src="{% static "assets/images/heart-unlike-256.png" %}" 
												title="Unlike Photo" 
											/> {{result.result01likes.count}} 
										</a>
									{% else %}
										{% if result.result01likes %}
											<a href="/games/{{game.id}}/results/{{result.player.id}}/item/1/like/?next=/games/{{game.id}}/photos/">
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-like-256.png" %}" 
													title="Like Photo" 
												/> {{result.result01likes.count}}
											</a>
										{% else %}
											<a href="/games/{{game.id}}/results/{{result.player.id}}/item/1/like/?next=/games/{{game.id}}/photos/">
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-like-256.png" %}" 
													title="Like Photo" 
												/>
											</a>
										{% endif %}
									{% endif %}
								{% else %}
									{% if result.result01likes %}
										<img 
											class="media_icon" 
											src="{% static "assets/images/heart-nolike-256.png" %}" 
											title="Like Game" 
										/> {{result.result01likes.count}} 
									{% endif %}
								{% endif %}
							</p>
						</div>

						<table width="700" align="center">
							{% if result.photo01comments %}
								<tr>
									<td colspan="2">
										<p>Comments on <b><a href="/accounts/profile/{{result.player.id}}/">
											@{{result.player.username}}'s Result:
											</a></b>
										</p>
									</td>
								</tr>
							{% else %}
								{% if thisuser %}
									<tr>
										<td colspan="2">
											<p>Comment on <b><a href="/accounts/profile/{{result.player.id}}/">
												@{{result.player.username}}'s Result:
												</a></b>
											</p>
										</td>
									</tr>
								{% endif %}
							{% endif %}
							{% if result.photo01comments %}
								{% for photo01comment in result.photo01comments %}
									<tr>
										<td rowspan="2" valign="top" align="right" width="100">
											{% if photo01comment.usertocomment.user_object.avatar_thumbnail %}
												<img src="{% get_static_prefix %}{{photo01comment.usertocomment.user_object.avatar_thumbnail}}" alt="thumbnail" width="50"/>
											{% else %}
												<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
											{% endif %}
										</td>
										<td>
											<a href="/accounts/profile/{{photo01comment.usertocomment.id}}/"><b>{{photo01comment.usertocomment.username}}:</b></a> 
											{{photo01comment.comment}} 
										</td>
									</tr>
									<tr>
										<td>
											{% if thisuser %}
												{% if photo01comment.liked %}
													<a href="/games/{{game.id}}/item/1/results/{{result.player.id}}/comment/{{photo01comment.unique_id}}/unlike/?next=/games/{{game.id}}/photos/" />
														<img 
															class="comment_icon" 
															src="{% static "assets/images/heart-unlike-256.png" %}" 
															title="Unlike Photo" 
														/> {{photo01comment.resultitemcommentlikes.count}} 
													</a>
												{% else %}
													<a href="/games/{{game.id}}/item/1/results/{{result.player.id}}/comment/{{photo01comment.unique_id}}/like/?next=/games/{{game.id}}/photos/" />
														<img 
															class="comment_icon" 
															src="{% static "assets/images/heart-like-256.png" %}" 
															title="Like Photo" 
														/> {{photo01comment.resultitemcommentlikes.count}}
													</a>
												{% endif %}
											{% else %}
												{% if photo01comment.resultitemcommentlikes %}
													<img 
														class="comment_icon" 
														src="{% static "assets/images/heart-nolike-256.png" %}" 
														title="Like Game" 
													/> {{photo01comment.resultitemcommentlikes.count}}
												{% endif %}
											{% endif %} 

<!--											{{photo01comment.resultitemcommentlikes.count}} likes. 
											{% if thisuser %}
												{% if photo01comment.liked %}
													<a href="/games/{{game.id}}/item/1/results/{{result.player.id}}/comment/{{photo01comment.unique_id}}/unlike/?next=/games/{{game.id}}/photos/" />
														<b>Unlike!</b>
													</a>
												{% else %}
														<a href="/games/{{game.id}}/item/1/results/{{result.player.id}}/comment/{{photo01comment.unique_id}}/like/?next=/games/{{game.id}}/photos/" />
														<b>Like!</b>
													</a>
												{% endif %}
											{% endif %} -->
											<span class="small_font">
												<i>Posted on {{photo01comment.pubdate}}</i> 
												{% if comment.usertocomment == thisuser %}
													<a href="/games/{{game.id}}/item/1/results/{{result.player.id}}/comment/{{photo01comment.unique_id}}/edit/">
														<b>Edit</b></a>
												{% endif %}
											</span>
										</td>
									</tr>
									<tr><td colspan="2"></td></tr>
										{% endfor %}
									{% endif %}
									{% if thisuser %}
										<tr><td colspan="2">
											<form 
												action="/games/{{game.id}}/item/1/results/{{result.player.id}}/new_comment/?next=/games/{{game.id}}/photos/" 
												method="post"
												>
												{% csrf_token %}
												<input type="text" name="comment" id="comment" placeholder="Comment" size="40" />
												<input type="submit" name="newcomment" id="newcomment" value="New Comment" />
											</form>
										</td></tr>
									{% endif %}
								</td>
							</tr>
						</table>

					{% endif %}

					{% if result.result02crop %}

						<p><b>02: {{game.item02}}:</b></p>

						<div align="center">
							<a href="/games/{{game.id}}/photos/results/{{result.player.id}}/item/2/">
								<img 
									src="{% get_static_prefix %}{{result.result02crop}}" 
									title="{{result.result02desc|truncatewords:"20"}}"
									width="700"
								/>
								<p><b>{{result.result02desc}}</b></p>
							</a>
							<p>
								{% if thisuser %}
									{% if result.photo02liked %}
										<a href="/games/{{game.id}}/results/{{result.player.id}}/item/2/unlike/?next=/games/{{game.id}}/photos/">
											<img 
												class="media_icon" 
												src="{% static "assets/images/heart-unlike-256.png" %}" 
												title="Unlike Photo" 
											/> {{result.result02likes.count}} 
										</a>
									{% else %}
										{% if result.result02likes %}
											<a href="/games/{{game.id}}/results/{{result.player.id}}/item/2/like/?next=/games/{{game.id}}/photos/">
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-like-256.png" %}" 
													title="Like Photo" 
												/> {{result.result02likes.count}}
											</a>
										{% else %}
											<a href="/games/{{game.id}}/results/{{result.player.id}}/item/2/like/?next=/games/{{game.id}}/photos/">
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-like-256.png" %}" 
													title="Like Photo" 
												/>
											</a>
										{% endif %}
									{% endif %}
								{% else %}
									{% if result.result02likes %}
										<img 
											class="media_icon" 
											src="{% static "assets/images/heart-nolike-256.png" %}" 
											title="Like Game" 
										/> {{result.result02likes.count}} 
									{% endif %}
								{% endif %}
							</p>
						</div>

						<table width="700" align="center">
							{% if result.photo02comments %}
								<tr>
									<td colspan="2">
										<p>Comments on <b><a href="/accounts/profile/{{result.player.id}}/">
											@{{result.player.username}}'s Result:
											</a></b>
										</p>
									</td>
								</tr>
							{% else %}
								{% if thisuser %}
									<tr>
										<td colspan="2">
											<p>Comment on <b><a href="/accounts/profile/{{result.player.id}}/">
												@{{result.player.username}}'s Result:
												</a></b>
											</p>
										</td>
									</tr>
								{% endif %}
							{% endif %}
							{% if result.photo02comments %}
								{% for photo02comment in result.photo02comments %}
									<tr>
										<td rowspan="2" valign="top" align="right" width="100">
											{% if photo02comment.usertocomment.user_object.avatar_thumbnail %}
												<img src="{% get_static_prefix %}{{photo02comment.usertocomment.user_object.avatar_thumbnail}}" alt="thumbnail" width="50"/>
											{% else %}
												<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
											{% endif %}
										</td>
										<td>
											<a href="/accounts/profile/{{photo02comment.usertocomment.id}}/"><b>{{photo02comment.usertocomment.username}}:</b></a> 
											{{photo02comment.comment}} 
										</td>
									</tr>
									<tr>
										<td colspan="2">
											{% if thisuser %}
												{% if photo02comment.liked %}
													<a href="/games/{{game.id}}/item/2/results/{{result.player.id}}/comment/{{photo02comment.unique_id}}/unlike/?next=/games/{{game.id}}/photos/" />
														<img 
															class="comment_icon" 
															src="{% static "assets/images/heart-unlike-256.png" %}" 
															title="Unlike Photo" 
														/> {{photo02comment.resultitemcommentlikes.count}} 
													</a>
												{% else %}
													<a href="/games/{{game.id}}/item/2/results/{{result.player.id}}/comment/{{photo02comment.unique_id}}/like/?next=/games/{{game.id}}/photos/" />
														<img 
															class="comment_icon" 
															src="{% static "assets/images/heart-like-256.png" %}" 
															title="Like Photo" 
														/> {{photo02comment.resultitemcommentlikes.count}}
													</a>
												{% endif %}
											{% else %}
												{% if photo02comment.resultitemcommentlikes %}
													<img 
														class="comment_icon" 
														src="{% static "assets/images/heart-nolike-256.png" %}" 
														title="Like Game" 
													/> {{photo02comment.resultitemcommentlikes.count}}
												{% endif %}
											{% endif %} 
											<span class="small_font">
												<i>Posted on {{photo02comment.pubdate}}</i> 
												{% if comment.usertocomment == thisuser %}
													<a href="/games/{{game.id}}/item/2/results/{{result.player.id}}/comment/{{photo02comment.unique_id}}/edit/">
														<b>Edit</b></a>
												{% endif %}
											</span>
										</td>
									</tr>
									<tr><td colspan="2"></td></tr>
										{% endfor %}
									{% endif %}
									{% if thisuser %}
										<tr><td colspan="2">
											<form 
												action="/games/{{game.id}}/item/2/results/{{result.player.id}}/new_comment/?next=/games/{{game.id}}/photos/" 
												method="post"
												>
												{% csrf_token %}
												<input type="text" name="comment" id="comment" placeholder="Comment" size="40" />
												<input type="submit" name="newcomment" id="newcomment" value="New Comment" />
											</form>
										</td></tr>
									{% endif %}
								</td>
							</tr>
						</table>

					{% endif %}

					{% if result.result03crop %}

						<p><b>03: {{game.item03}}:</b></p>
						<div align="center">
							<a href="/games/{{game.id}}/photos/results/{{result.player.id}}/item/3/">
								<img 
									src="{% get_static_prefix %}{{result.result03crop}}" 
									title="{{result.result03desc|truncatewords:"20"}}"
									width="700"
								/>
								<p><b>{{result.result03desc}}</b></p>
							</a>
							<p>
								{% if thisuser %}
									{% if result.photo03liked %}
										<a href="/games/{{game.id}}/results/{{result.player.id}}/item/3/unlike/?next=/games/{{game.id}}/photos/">
											<img 
												class="media_icon" 
												src="{% static "assets/images/heart-unlike-256.png" %}" 
												title="Unlike Photo" 
											/> {{result.result03likes.count}} 
										</a>
									{% else %}
										{% if result.result03likes %}
											<a href="/games/{{game.id}}/results/{{result.player.id}}/item/3/like/?next=/games/{{game.id}}/photos/">
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-like-256.png" %}" 
													title="Like Photo" 
												/> {{result.result03likes.count}}
											</a>
										{% else %}
											<a href="/games/{{game.id}}/results/{{result.player.id}}/item/3/like/?next=/games/{{game.id}}/photos/">
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-like-256.png" %}" 
													title="Like Photo" 
												/>
											</a>
										{% endif %}
									{% endif %}
								{% else %}
									{% if result.result03likes %}
										<img 
											class="media_icon" 
											src="{% static "assets/images/heart-nolike-256.png" %}" 
											title="Like Game" 
										/> {{result.result03likes.count}} 
									{% endif %}
								{% endif %}
							</p>
						</div>

						<table width="700" align="center">
							{% if result.photo03comments %}
								<tr>
									<td colspan="2">
										<p>Comments on <b><a href="/accounts/profile/{{result.player.id}}/">
											@{{result.player.username}}'s Result:
											</a></b>
										</p>
									</td>
								</tr>
							{% else %}
								{% if thisuser %}
									<tr>
										<td colspan="2">
											<p>Comment on <b><a href="/accounts/profile/{{result.player.id}}/">
												@{{result.player.username}}'s Result:
												</a></b>
											</p>
										</td>
									</tr>
								{% endif %}
							{% endif %}
							{% if result.photo03comments %}
								{% for photo03comment in result.photo03comments %}
									<tr>
										<td rowspan="2" valign="top" align="right" width="100">
											{% if photo03comment.usertocomment.user_object.avatar_thumbnail %}
												<img src="{% get_static_prefix %}{{photo03comment.usertocomment.user_object.avatar_thumbnail}}" alt="thumbnail" width="50"/>
											{% else %}
												<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
											{% endif %}
										</td>
										<td>
											<a href="/accounts/profile/{{photo03comment.usertocomment.id}}/"><b>{{photo03comment.usertocomment.username}}:</b></a> 
											{{photo03comment.comment}} 
										</td>
									</tr>
									<tr>
										<td colspan="2">
											{% if thisuser %}
												{% if photo03comment.liked %}
													<a href="/games/{{game.id}}/item/3/results/{{result.player.id}}/comment/{{photo03comment.unique_id}}/unlike/?next=/games/{{game.id}}/photos/" />
														<img 
															class="comment_icon" 
															src="{% static "assets/images/heart-unlike-256.png" %}" 
															title="Unlike Photo" 
														/> {{photo03comment.resultitemcommentlikes.count}} 
													</a>
												{% else %}
													<a href="/games/{{game.id}}/item/3/results/{{result.player.id}}/comment/{{photo03comment.unique_id}}/like/?next=/games/{{game.id}}/photos/" />
														<img 
															class="comment_icon" 
															src="{% static "assets/images/heart-like-256.png" %}" 
															title="Like Photo" 
														/> {{photo03comment.resultitemcommentlikes.count}}
													</a>
												{% endif %}
											{% else %}
												{% if photo03comment.resultitemcommentlikes %}
													<img 
														class="comment_icon" 
														src="{% static "assets/images/heart-nolike-256.png" %}" 
														title="Like Game" 
													/> {{photo03comment.resultitemcommentlikes.count}}
												{% endif %}
											{% endif %} 
											<span class="small_font">
												<i>Posted on {{photo03comment.pubdate}}</i> 
												{% if photo03comment.usertocomment == thisuser %}
													<a href="/games/{{game.id}}/item/3/results/{{result.player.id}}/comment/{{photo03comment.unique_id}}/edit/">
														<b>Edit</b></a>
												{% endif %}
											</span>
										</td>
									</tr>
									<tr><td colspan="2"></td></tr>
										{% endfor %}
									{% endif %}
									{% if thisuser %}
										<tr><td colspan="2">
											<form 
												action="/games/{{game.id}}/item/3/results/{{result.player.id}}/new_comment/?next=/games/{{game.id}}/photos/" 
												method="post"
												>
												{% csrf_token %}
												<input type="text" name="comment" id="comment" placeholder="Comment" size="40" />
												<input type="submit" name="newcomment" id="newcomment" value="New Comment" />
											</form>
										</td></tr>
									{% endif %}
								</td>
							</tr>
						</table>

					{% endif %}

					{% if result.result04crop %}
						<p><b>04: {{game.item04}}:</b></p>
						<div align="center">
							<a href="/games/{{game.id}}/photos/results/{{result.player.id}}/item/4/">
								<img 
									src="{% get_static_prefix %}{{result.result04crop}}" 
									title="{{result.result04desc|truncatewords:"20"}}"
									width="700"
								/>
								<p><b>{{result.result04desc}}</b></p>
							</a>
							<p>
								{% if thisuser %}
									{% if result.photo04liked %}
										<a href="/games/{{game.id}}/results/{{result.player.id}}/item/4/unlike/?next=/games/{{game.id}}/photos/">
											<img 
												class="media_icon" 
												src="{% static "assets/images/heart-unlike-256.png" %}" 
												title="Unlike Photo" 
											/> {{result.result04likes.count}} 
										</a>
									{% else %}
										{% if result.result04likes %}
											<a href="/games/{{game.id}}/results/{{result.player.id}}/item/4/like/?next=/games/{{game.id}}/photos/">
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-like-256.png" %}" 
													title="Like Photo" 
												/> {{result.result04likes.count}}
											</a>
										{% else %}
											<a href="/games/{{game.id}}/results/{{result.player.id}}/item/4/like/?next=/games/{{game.id}}/photos/">
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-like-256.png" %}" 
													title="Like Photo" 
												/>
											</a>
										{% endif %}
									{% endif %}
								{% else %}
									{% if result.result04likes %}
										<img 
											class="media_icon" 
											src="{% static "assets/images/heart-nolike-256.png" %}" 
											title="Like Game" 
										/> {{result.result04likes.count}} 
									{% endif %}
								{% endif %}
							</p>
						</div>

						<table width="700" align="center">
							{% if result.photo04comments %}
								<tr>
									<td colspan="2">
										<p>Comments on <b><a href="/accounts/profile/{{result.player.id}}/">
											@{{result.player.username}}'s Result:
											</a></b>
										</p>
									</td>
								</tr>
							{% else %}
								{% if thisuser %}
									<tr>
										<td colspan="2">
											<p>Comment on <b><a href="/accounts/profile/{{result.player.id}}/">
												@{{result.player.username}}'s Result:
												</a></b>
											</p>
										</td>
									</tr>
								{% endif %}
							{% endif %}
							{% if result.photo04comments %}
								{% for photo04comment in result.photo04comments %}
									<tr>
										<td rowspan="2" valign="top" align="right" width="100">
											{% if photo04comment.usertocomment.user_object.avatar_thumbnail %}
												<img src="{% get_static_prefix %}{{photo04comment.usertocomment.user_object.avatar_thumbnail}}" alt="thumbnail" width="50"/>
											{% else %}
												<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
											{% endif %}
										</td>
										<td>
											<a href="/accounts/profile/{{photo04comment.usertocomment.id}}/"><b>{{photo04comment.usertocomment.username}}:</b></a> 
											{{photo04comment.comment}} 
										</td>
									</tr>
									<tr>
										<td colspan="2">
											{% if thisuser %}
												{% if photo04comment.liked %}
													<a href="/games/{{game.id}}/item/4/results/{{result.player.id}}/comment/{{photo04comment.unique_id}}/unlike/?next=/games/{{game.id}}/photos/" />
														<img 
															class="comment_icon" 
															src="{% static "assets/images/heart-unlike-256.png" %}" 
															title="Unlike Photo" 
														/> {{photo04comment.resultitemcommentlikes.count}} 
													</a>
												{% else %}
													<a href="/games/{{game.id}}/item/4/results/{{result.player.id}}/comment/{{photo04comment.unique_id}}/like/?next=/games/{{game.id}}/photos/" />
														<img 
															class="comment_icon" 
															src="{% static "assets/images/heart-like-256.png" %}" 
															title="Like Photo" 
														/> {{photo04comment.resultitemcommentlikes.count}}
													</a>
												{% endif %}
											{% else %}
												{% if photo04comment.resultitemcommentlikes %}
													<img 
														class="comment_icon" 
														src="{% static "assets/images/heart-nolike-256.png" %}" 
														title="Like Game" 
													/> {{photo04comment.resultitemcommentlikes.count}}
												{% endif %} 
											{% endif %} 
											<span class="small_font">
												<i>Posted on {{photo04comment.pubdate}}</i> 
												{% if photo04comment.usertocomment == thisuser %}
													<a href="/games/{{game.id}}/item/{{item_id}}/results/{{result.player.id}}/comment/{{photo04comment.unique_id}}/edit/">
														<b>Edit</b></a>
												{% endif %}
											</span>
										</td>
									</tr>
									<tr><td colspan="2"></td></tr>
								{% endfor %}
							{% endif %}
							{% if thisuser %}
								<tr><td colspan="2">
									<form 
										action="/games/{{game.id}}/item/4/results/{{result.player.id}}/new_comment/?next=/games/{{game.id}}/photos/" 
										method="post"
										>
										{% csrf_token %}
										<input type="text" name="comment" id="comment" placeholder="Comment" size="40" />
										<input type="submit" name="newcomment" id="newcomment" value="New Comment" />
									</form>
								</td></tr>
							{% endif %}
						</table>

					{% endif %}

					<p>
						Played by 
						<a href="/accounts/profile/{{result.player.id}}/">
							<b>@{{result.player.username}}</b>
						</a>
					</p>

				</div>

				<br />

			{% endif %}

		{% endfor %}

		<br />

		<div id="whitebg">

			<table width="100%" cellpadding="2">
				<tr>
					<td>
						<a href="/games/{{game.id}}/">Back to Game</a>
					</td>
					<td align="right">
						<div class="pagination" align="right">
							<span class="step-links">
								{% if results.has_previous %}
									<a href="?page={{ results.previous_page_number }}"><b>previous</b></a>
								{% endif %}

								<span class="current">
									Page {{ results.number }} of {{ results.paginator.num_pages }}
								</span>

								{% if results.has_next %}
									<a href="?page={{ results.next_page_number }}"><b>next</b></a>
								{% endif %}
							</span>
						</div>
					</td>
				</tr>
			</table>

		</div>

	{% else %}

		<div id="whitebg">
			<p>No Results!</p>
		</div>

	{% endif %}

{% endblock %}

