{% extends "base.html" %}
{% block title %}The Best Eye: Edit Result{% endblock %}
{% block extrahead %}
	<script type="text/javascript">
		function checkInputExtension1() {
			var filename = document.getElementById("id_result01crop").value;
			if (filename == ''){
				alert('Please select an image');
				return false;
			}
			else {
				var extension = filename.substring(filename.lastIndexOf('.') + 1).toLowerCase();
				if(extension == "jpg" || extension == "png") {
					// filename is good to go
				}
				else {
					alert ("Please select a jpg or png");
					document.getElementById("id_result01crop").value = '';
					return false;
				}
			}
		}
	</script>
	<script type="text/javascript">
		function checkInputExtension2() {
			var filename = document.getElementById("id_result02crop").value;
			if (filename == ''){
				alert('Please select an image');
				return false;
			}
			else {
				var extension = filename.substring(filename.lastIndexOf('.') + 1).toLowerCase();
				if(extension == "jpg" || extension == "png") {
					// filename is good to go
				}
				else {
					alert ("Please select a jpg or png");
					document.getElementById("id_result02crop").value = '';
					return false;
				}
			}
		}
	</script>
	<script type="text/javascript">
		function checkInputExtension3() {
			var filename = document.getElementById("id_result03crop").value;
			if (filename == ''){
				alert('Please select an image');
				return false;
			}
			else {
				var extension = filename.substring(filename.lastIndexOf('.') + 1).toLowerCase();
				if(extension == "jpg" || extension == "png") {
					// filename is good to go
				}
				else {
					alert ("Please select a jpg or png");
					document.getElementById("id_result03crop").value = '';
					return false;
				}
			}
		}
	</script>
	<script type="text/javascript">
		function checkInputExtension4() {
			var filename = document.getElementById("id_result04crop").value;
			if (filename == ''){
				alert('Please select an image');
				return false;
			}
			else {
				var extension = filename.substring(filename.lastIndexOf('.') + 1).toLowerCase();
				if(extension == "jpg" || extension == "png") {
					// filename is good to go
				}
				else {
					alert ("Please select a jpg or png");
					document.getElementById("id_result04crop").value = '';
					return false;
				}
			}
		}
	</script>
	<script type="text/javascript">
		function confirmDelete() {
			//display confirmation window which returns true or false
			if(!window.confirm("Are you sure you want to delete this result?")) return false;
			 
			//user clicked 'OK'
			window.location.href="/games/{{game.id}}/results/{{result.id}}/delete/"
			}
	</script>
{% endblock %}

{% block content %}

	<div id="whitebg">
		
		{% if result %}

			<table width="100%" cellpadding="5">
				<tr>
					<td>
						<b><span class="heading16px">Edit Your Result</span></b>
					</td>
					<td align="right">
						<button onclick="confirmDelete();">Delete</button>
					</td>
				</tr>

				<form action="/games/{{game.id}}/results/{{result.id}}/edit/" method="post" enctype="multipart/form-data" />{% csrf_token %}

					{% if line1 %}
						<tr>
							<td align="center" width="50%">
								{% if game.item01 %}
									01: {{game.item01}}:
									<p><input type='file' id='id_result01crop' name='result01crop' onchange="checkInputExtension1();" /></p>
									<p>Title: {{form.result01desc}}</p>
								{% endif %}
							</td>
							<td align="center">
								{% if game.item02 %}
									02: {{game.item02}}:
									<p><input type='file' id='id_result02crop' name='result02crop' onchange="checkInputExtension2();" /></p>
									<p>Title: {{form.result02desc}}</p>
								{% endif %}
							</td>
						</tr>
						<tr><td colspan="2"></td></tr>
					{% endif %}
					{% if line2 %}
						<tr>
							<td align="center">
								{% if game.item03 %}
									03: {{game.item03}}:
									<p><input type='file' id='id_result03crop' name='result03crop' onchange="checkInputExtension3();" /></p>
									<p>Title: {{form.result03desc}}</p>
								{% endif %}
							</td>
							<td align="center">
								{% if game.item04 %}
									04: {{game.item04}}:
									<p><input type='file' id='id_result04crop' name='result04crop' onchange="checkInputExtension4();" /></p>
									<p>Title: {{form.result04desc}}</p>
								{% endif %}
							</td>
						</tr>
						<tr><td colspan="2"></td></tr>
					{% endif %}
					{% if line3 %}
						<tr>
							<td align="center">
								{% if game.item05 %}
									05: {{game.item05}}:
									<p>{{form.result05}}</p>
								{% endif %}
							</td>
							<td align="center">
								{% if game.item06 %}
									06: {{game.item06}}:
									<p>{{form.result06}}</p>
								{% endif %}
							</td>
						</tr>
						<tr><td colspan="2"></td></tr>
					{% endif %}
					{% if line4 %}
						<tr>
							<td align="center">
								{% if game.item07 %}
									07: {{game.item07}}:
									<p>{{form.result07}}</p>
								{% endif %}
							</td>
							<td align="center">
								{% if game.item08 %}
									08: {{game.item08}}:
									<p>{{form.result08}}</p>
								{% endif %}
							</td>
						</tr>
						<tr><td colspan="2"></td></tr>
					{% endif %}
					{% if line5 %}
						<tr>
							<td align="center">
								{% if game.item09 %}
									09: {{game.item09}}:
									<p>{{form.result01}}</p>
								{% endif %}
							</td>
							<td align="center">
								{% if game.item10 %}
									10: {{game.item10}}:
									<p>{{form.result10}}</p>
								{% endif %}
							</td>
						</tr>
						<tr><td colspan="2"></td></tr>
					{% endif %}
					<tr>
						<td>
							<input type="submit" name="submit" value="Edit Result" />
						</td>
						<td align="right" style="padding-right:5px"><a href="/games/{{game.id}}/">Back to Game</a></td>
					</tr>
				</form>
			</table>

		{% else %}
			<p>Nothing here!</p>
			<p><a href="/games/"><b>Back to Games</b></a></p>
		{% endif %}

	</div>

{% endblock %}