{% extends "base.html" %}
{% load static %}
{% block title %}The Best Eye: Edit Your Game{% endblock %}
{% block extrahead %}
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<link rel="stylesheet" href="{% static "assets/css/jquery-ui.css" %}">
	<script>
		$(function() {
		$( "#id_endby_date" ).datepicker();
		});
	</script>
	<script type="text/javascript">
		function getRandom01() {
			var randomchoices01 = [
				{% for randomitem in randomgameitems.all %}
					{% if forloop.last %}
						"{{randomitem.item}}"
					{% else %}
						"{{randomitem.item}}",
					{% endif %}
				{% endfor %}
			];
			document.getElementById("id_item01").value = randomchoices01[Math.floor(Math.random() * randomchoices01.length)];
		}
	</script>
	<script type="text/javascript">
		function getRandom02() {
			var randomchoices02 = [
				{% for randomitem in randomgameitems.all %}
					{% if forloop.last %}
						"{{randomitem.item}}"
					{% else %}
						"{{randomitem.item}}",
					{% endif %}
				{% endfor %}
			];
			document.getElementById("id_item02").value = randomchoices02[Math.floor(Math.random() * randomchoices02.length)];
		}
	</script>
	<script type="text/javascript">
		function getRandom03() {
			var randomchoices03 = [
				{% for randomitem in randomgameitems.all %}
					{% if forloop.last %}
						"{{randomitem.item}}"
					{% else %}
						"{{randomitem.item}}",
					{% endif %}
				{% endfor %}
			];
			document.getElementById("id_item03").value = randomchoices03[Math.floor(Math.random() * randomchoices03.length)];
		}
	</script>
	<script type="text/javascript">
		function getRandom04() {
			var randomchoices04 = [
				{% for randomitem in randomgameitems.all %}
					{% if forloop.last %}
						"{{randomitem.item}}"
					{% else %}
						"{{randomitem.item}}",
					{% endif %}
				{% endfor %}
			];
			document.getElementById("id_item04").value = randomchoices04[Math.floor(Math.random() * randomchoices04.length)];
		}
	</script>
	<script type="text/javascript">
		function checkInputExtension() {
			var filename = document.getElementById("id_game_thumbnail").value;
			if (filename == ''){
				alert('Please select an image');
				return false;
			}
			else {
				var extension = filename.substring(filename.lastIndexOf('.') + 1).toLowerCase();
				if(extension == "jpg" || extension == "png") {
					// filename is good to go
				}
				else {
					alert ("Please select a jpg or png");
					document.getElementById("id_game_thumbnail").value = '';
					return false;
				}
			}
		}
	</script>
	<script type="text/javascript">
		function confirmDelete() {
			//display confirmation window which returns true or false
			if(!window.confirm("Are you sure you want to delete this game?")) return false;
			 
			//user clicked 'OK'
			window.location.href="/games/{{game.id}}/delete/"
			}
	</script>
{% endblock %}

{% block content %}

	<div id="whitebg">

		{% if not game %}
			<p>This does not belong to you.</p>
			<p><a href="/games/"><b>Back to Games</b></a></p>
		{% else %}

			<table width="100%" cellpadding="5" bgcolor="#ffffff">
					<tr>
						<td colspan="2">
							<span class="heading16px">Edit Your Game:</span>
						</td>
						<td></td>
						<td align="right" style="padding-right:10px;">
							<button onclick="confirmDelete();">Delete</button>
						</td>
					</tr>

				<form action="/games/{{game.id}}/edit/" method="post" enctype="multipart/form-data" />{% csrf_token %}
					<tr>
						<td width="200" rowspan="2">
							{% if game.game_thumbnail %}
								<img src="{% get_static_prefix %}{{game.game_thumbnail}}" width="200">
							{% else %}
								<img src="{% static "assets/images/thumbnail.png" %}" alt="Hi!" />
							{% endif %}
						</td>
						<td valign="top" width="130" align="right">
							Game Name: 
						</td>
						<td align="left" valign="top">
							{{form.name}}
						</td>
					<tr>
						<td align="right" valign="top">
							Description: 
						</td>
						<td align="left" valign="top">
							{{form.description}}
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<input type='file' id='id_game_thumbnail' name='game_thumbnail' onchange="checkInputExtension();" />
							<br />
						</td>
					</tr>
					<tr>
						<td colspan="3" style="padding-left:25px;">
							<img 
								width="30" 
								src="{% static "assets/images/game-camera-256.png" %}" 
							/> 
							<b>Items to Find:</b> 
							<input 
								type="button" 
								value="Random Game" 
								onclick="getRandom01(); getRandom02(); getRandom03(); getRandom04();" 
							/>
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<p>
								01: {{form.item01}} <input type="button" value="Random!" onclick="getRandom01()" />
							</p>
							<p>
								02: {{form.item02}} <input type="button" value="Random!" onclick="getRandom02()" />
							</p>
							<p>
								03: {{form.item03}} <input type="button" value="Random!" onclick="getRandom03()" />
							</p>	
							<p>
								04: {{form.item04}} <input type="button" value="Random!" onclick="getRandom04()" /> 
								BONUS: Worth 3 points!
							</p>
						</td>
					</tr>
		<!-- 
					<tr>
						<td colspan="3">
							05: {{form.item05}}
						</td>
					</tr>
					<tr>
						<td colspan="3">
							06: {{form.item06}}
						</td>
					</tr>
					<tr>
						<td colspan="3">
							07: {{form.item07}}
						</td>
					</tr>
					<tr>
						<td colspan="3">
							08: {{form.item08}}
						</td>
					</tr>
					<tr>
						<td colspan="3">
							09: {{form.item09}}
						</td>
					</tr>
					<tr>
						<td colspan="3">
							10: {{form.item10}}
						</td>
					</tr>
		-->

					<tr>
						<td colspan="3">
							<img 
								width="30" 
								src="{% static "assets/images/privategame-lock-256.png" %}" 
							/> 
							Private Game: {{form.private_game}} (You can invite players after saving)
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<img 
								width="30" 
								src="{% static "assets/images/enddate-hourglass-256.png" %}" 
							/> 
							End Date: {{form.endby_date}} (Leave blank to keep game open)
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<img 
								width="30" 
								src="{% static "assets/images/game-photo-256.png" %}" 
							/> 
							Hide Latest: {{form.hide_latest}} (Select to hide the latest images played)
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<input type="submit" name="submit" value="Edit Game" />
						</td>
						<td align="right" style="padding-right:10px;">
							<a href="/games/{{game.id}}/">Back</a>
						</td>
					</tr>
				</form>
			</table>
		{% endif %}

	</div>

{% endblock %}