{% extends "base.html" %}
{% block title %}The Best Eye: Edit Photo Comment{% endblock %}
{% block extrahead %}
	<script type="text/javascript">
		function confirmDelete() {
			//display confirmation window which returns true or false
			if(!window.confirm("Are you sure you want to delete this comment?")) return false;
			 
			//user clicked 'OK'
			window.location.href="/games/{{result.game.id}}/item/{{item_id}}/results/{{result.player.id}}/comment/{{comment.unique_id}}/delete/"
			}
	</script>
{% endblock %}

{% block content %}

	<div id="whitebg">

		{% if comment %}
			<table width="100%" cellpadding="5">
				<tr>
					<td>
						<span class="heading16px">Edit Your Comment:</span>
					</td>
					<td align="right" style="padding-right:50px">
						<button onclick="confirmDelete();">Delete</button>
					</td>
				<tr>
					<td colspan="2">
						<b>{{result.player.username}}</b>'s result
					</td>
				</tr>
				<form action="/games/{{result.game.id}}/item/{{item_id}}/results/{{result.player.id}}/comment/{{comment.unique_id}}/edit/" method="post" />
					{% csrf_token %}
					<tr>
						<td colspan="2">
							{{form.comment}}
						</td>
					</tr>
					<tr>
						<td>
							<input type="submit" name="submit" value="Edit Comment" />
						</td>
						<td align="right" style="padding-right:15px">
							<a href="/games/{{result.game.id}}/results/{{result.player.id}}/">Back</a>
						</td>
					</tr>
				</form>
			</table>
		{% else %}
			<p>Nothing to show!</p>
			<p><a href="/games/"><b>Back to Games</b></a></p>
		{% endif %}

	</div>

{% endblock %}