{% extends "base.html" %}
{% load static %}
{% block title %}The Best Eye: Edit Player Result{% endblock %}

{% block content %}

	<div id="whitebg">

		{% if not player_result %}
			<p>This does not belong to you.</p>
			<p><a href="/games/"><b>Back to Games</b></a></p>
		{% else %}
		
			<table width="100%" cellpadding="5">
				<tr>
					<td>
						<b><span class="heading16px">Edit Your Game!</span></b>
					</td>
					<td align="right" style="padding-right:50px">
						<a href="/games/{{player_result.game.id}}/results/{{player_result.player.id}}/delete/">Delete</a>
					</td>
				</tr>

				<form action="/games/{{game.id}}/results/{{player_result.player.id}}/edit/" method="post" enctype="multipart/form-data" />
				{% csrf_token %}

					{% if line1 %}
						<tr>
							<td align="center" width="50%" valign="bottom">
								{% if game.item01 %}
									01: {{game.item01}}:<br />
									{% if player_result.result01crop %}
										<img src="{% get_static_prefix %}{{player_result.result01crop}}" width="200"><br />
									{% endif %}
									<p>{{form.result01crop}}</p>
									<p>Title: {{form.result01desc}}</p>
								{% endif %}
							</td>
							<td align="center" valign="bottom">
								{% if game.item02 %}
									02: {{game.item02}}:<br />
									{% if player_result.result02crop %}
										<img src="{% get_static_prefix %}{{player_result.result02crop}}" width="200"><br />
									{% endif %}
									<p>{{form.result02crop}}</p>
									<p>Title: {{form.result02desc}}</p>
								{% endif %}
							</td>
						</tr>
						<tr><td colspan="2"></td></tr>
					{% endif %}

					{% if line2 %}
						<tr>
							<td align="center" width="50%" valign="bottom">
								{% if game.item03 %}
									03: {{game.item03}}:<br />
									{% if player_result.result03crop %}
										<img src="{% get_static_prefix %}{{player_result.result03crop}}" width="200"><br />
									{% endif %}
									<p>{{form.result03crop}}</p>
									<p>Title: {{form.result03desc}}</p>
								{% endif %}
							</td>
							<td align="center" valign="bottom">
								{% if game.item04 %}
									04: {{game.item04}}:<br />
									{% if player_result.result04crop %}
										<img src="{% get_static_prefix %}{{player_result.result04crop}}" width="200"><br />
									{% endif %}
									<p>{{form.result04crop}}</p>
									<p>Title: {{form.result04desc}}</p>
								{% endif %}
							</td>
						</tr>
						<tr><td colspan="2"></td></tr>
					{% endif %}

					{% if line3 %}
						<tr>
							<td align="center" width="50%" valign="bottom">
								{% if game.item05 %}
									05: {{game.item05}}:<br />
									{% if player_result.result05 %}
										<img src="{% get_static_prefix %}{{player_result.result05}}" width="200"><br />
									{% endif %}
									<p>{{form.result05}}</p>
								{% endif %}
							</td>
							<td align="center" valign="bottom">
								{% if game.item06 %}
									06: {{game.item06}}:<br />
									{% if player_result.result06 %}
										<img src="{% get_static_prefix %}{{player_result.result06}}" width="200"><br />
									{% endif %}
									<p>{{form.result06}}</p>
								{% endif %}
							</td>
						</tr>
						<tr><td colspan="2"></td></tr>
					{% endif %}

					{% if line4 %}
						<tr>
							<td align="center" width="50%" valign="bottom">
								{% if game.item07 %}
									07: {{game.item07}}:<br />
									{% if player_result.result07 %}
										<img src="{% get_static_prefix %}{{player_result.result07}}" width="200"><br />
									{% endif %}
									<p>{{form.result07}}</p>
								{% endif %}
							</td>
							<td align="center" valign="bottom">
								{% if game.item08 %}
									08: {{game.item08}}:<br />
									{% if player_result.result08 %}
										<img src="{% get_static_prefix %}{{player_result.result08}}" width="200"><br />
									{% endif %}
									<p>{{form.result08}}</p>
								{% endif %}
							</td>
						</tr>
						<tr><td colspan="2"></td></tr>
					{% endif %}

					{% if line5 %}
						<tr>
							<td align="center" width="50%" valign="bottom">
								{% if game.item09 %}
									09: {{game.item09}}:<br />
									{% if player_result.result09 %}
										<img src="{% get_static_prefix %}{{player_result.result09}}" width="200"><br />
									{% endif %}
									<p>{{form.result09}}</p>
								{% endif %}
							</td>
							<td align="center" width="50%" valign="bottom">
								{% if game.item10 %}
									10: {{game.item10}}:<br />
									{% if player_result.result10 %}
										<img src="{% get_static_prefix %}{{player_result.result10}}" width="200"><br />
									{% endif %}
									<p>{{form.result10}}</p>
								{% endif %}
							</td>
						</tr>
						<tr><td colspan="2"></td></tr>
					{% endif %}
					<tr>
						<td>
							<input type="submit" name="submit" value="Edit Game" />
						</td>
						<td align="right" style="padding-right:5px"><a href="/games/{{game.id}}/">Back to Game</a></td>
					</tr>
				</form>
			</table>

		{% endif %}

	</div>

{% endblock %}