{% extends "base.html" %}
{% load static %}
{% block title %}The Best Eye: Game Result{% endblock %}
{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/game.css" %}">
	<script type="text/javascript">
		function confirmDisqualify() {
			//display confirmation window which returns true or false
			if(!window.confirm("Are you sure you want to disqualify this player?")) return false;
			 
			//user clicked 'OK'
			window.location.href="/games/{{result.game.id}}/results/{{result.player.id}}/disqualify/"
			}
	</script>
{% endblock %}

{% block content %}

	<p>
		<div class="heading2">
			<img 
				class="heading_icon" 
				src="{% static "assets/images/game-puzzle-256.png" %}" 
			/>
			Game Card for 
				<a href="/accounts/profile/{{result.player.id}}/">
					{% if result.player.user_object.avatar_thumbnail %}
						<img src="{% get_static_prefix %}{{result.player.user_object.avatar_thumbnail}}" width="50"> 
					{% else %}
						<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" /> 
					{% endif %}
					@{{result.player.username}}
				</a>:
		</div>
	</p>

	<div id="whitebg">
		{% if result %}
			{% if result.disqualified %}
				<p>User Disqualified!</p>
				<p><a href="/games/{{result.game.id}}/">Back to Game</a></p>
			{% else %}
				<table width="100%" cellpadding="6">
					
					{% if line1 %}
						<tr>
							<td></td>
							<td>
								{% if result.result01crop %}
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/1/">
										01: {{result.game.item01}}
									</a>
								{% endif %}
							</td>
							<td></td>
							<td>
								{% if result.result02crop %}
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/2/">
										02: {{result.game.item02}}
									</a>
								{% endif %}
							</td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							{% if result.result01crop %}
								<td width="45%" align="center" valign="top">
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/1/">
										<img src="{% get_static_prefix %}{{result.result01crop}}" width="400">
										<p><b>{{result.result01desc}}</b></p>
									</a>
									<!-- RESULT 01 LIKES -->
									{% if request.user.is_authenticated %}
										{% if result01liked %}
											<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/1/unlike/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-unlike-256.png" %}" 
													title="Unlike Game" 
												/> {{result.result01likes.count}}
											</a>
										{% else %}
											{% if result.result01likes.count > 0 %}
												<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/1/like/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
													<img 
														class="media_icon" 
														src="{% static "assets/images/heart-like-256.png" %}" 
														title="Like Game" 
													/> {{result.result01likes.count}}
												</a>
											{% else %}
												<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/1/like/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
													<img 
														class="media_icon" 
														src="{% static "assets/images/heart-like-256.png" %}" 
														title="Like Game" 
													/> {{result.result01likes.count}}
												</a>
											{% endif %}
										{% endif %}
									{% else %}
										{% if result.result01likes.count > 0 %}
											<img 
												class="media_icon" 
												src="{% static "assets/images/heart-nolike-256.png" %}" 
												title="Like Game" 
											/> {{result.result01likes.count}}
										{% endif %}
									{% endif %}
									<!-- END RESULT 01 LIKES -->
<!-- 									{% if result.result01likes %}
										{% if result.result01likes.count = 1 %}
											1 like. 
										{% else %}
											{{result.result01likes.count}} likes. 
										{% endif %}
									{% else %}
										0 likes.
									{% endif %}
									{% if thisuser %}
										{% if result.result01likes == thisuser %}
											<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/1/unlike/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
											<b>Unlike</b></a>
										{% else %}
											<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/1/like/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
											<b>Like!</b></a>
										{% endif %}
									{% endif %} -->
								</td>
							{% else %}
								<td width="400"></td>
							{% endif %}
							<td width="25"></td>
							{% if result.result02crop %}
								<td width="45%" align="center" valign="top">
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/2/">
										<img src="{% get_static_prefix %}{{result.result02crop}}" width="400">
										<p><b>{{result.result02desc}}</b></p>
									</a>
									{% if request.user.is_authenticated %}
										{% if result02liked %}
											<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/2/unlike/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-unlike-256.png" %}" 
													title="Unlike Game" 
												/> {{result.result02likes.count}}
											</a>
										{% else %}
											{% if result.result02likes.count > 0 %}
												<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/2/like/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
													<img 
														class="media_icon" 
														src="{% static "assets/images/heart-like-256.png" %}" 
														title="Like Game" 
													/> {{result.result02likes.count}}
												</a>
											{% else %}
												<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/2/like/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
													<img 
														class="media_icon" 
														src="{% static "assets/images/heart-like-256.png" %}" 
														title="Like Game" 
													/> {{result.result02likes.count}}
												</a>
											{% endif %}
										{% endif %}
									{% else %}
										{% if result.result02likes.count > 0 %}
											<img 
												class="media_icon" 
												src="{% static "assets/images/heart-nolike-256.png" %}" 
												title="Like Game" 
											/> {{result.result02likes.count}}
										{% endif %}
									{% endif %}
								</td>
							{% else %}
								<td width="400"></td>
							{% endif %}
							<td></td>
						</tr>
						<tr><td colspan="5"></td></tr>
					{% endif %}

					{% if line2 %}
						<tr>
							<td></td>
							<td>
								{% if result.result03crop %}
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/3/">
										03: {{result.game.item03}}
									</a>
								{% endif %}
							</td>
							<td></td>
							<td>
								{% if result.result04crop %}
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/4/">
										04: {{result.game.item04}}
									</a>
								{% endif %}
							</td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							{% if result.result03crop %}
								<td width="400" align="center" valign="top">
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/3/">
										<img src="{% get_static_prefix %}{{result.result03crop}}" width="400">
										<p><b>{{result.result03desc}}</b></p>
									</a>
									{% if request.user.is_authenticated %}
										{% if result03liked %}
											<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/3/unlike/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-unlike-256.png" %}" 
													title="Unlike Game" 
												/> {{result.result03likes.count}}
											</a>
										{% else %}
											{% if result.result03likes.count > 0 %}
												<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/3/like/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
													<img 
														class="media_icon" 
														src="{% static "assets/images/heart-like-256.png" %}" 
														title="Like Game" 
													/> {{result.result03likes.count}}
												</a>
											{% else %}
												<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/3/like/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
													<img 
														class="media_icon" 
														src="{% static "assets/images/heart-like-256.png" %}" 
														title="Like Game" 
													/> {{result.result03likes.count}}
												</a>
											{% endif %}
										{% endif %}
									{% else %}
										{% if result.result03likes.count > 0 %}
											<img 
												class="media_icon" 
												src="{% static "assets/images/heart-nolike-256.png" %}" 
												title="Like Game" 
											/> {{result.result03likes.count}}
										{% endif %}
									{% endif %}
								</td>
							{% else %}
								<td width="400"></td>
							{% endif %}
							<td width="25"></td>
							{% if result.result04crop %}
								<td width="400" align="center" valign="top">
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/4/">
										<img src="{% get_static_prefix %}{{result.result04crop}}" width="400">
										<p><b>{{result.result04desc}}</b></p>
									</a>
									{% if request.user.is_authenticated %}
										{% if result04liked %}
											<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/4/unlike/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-unlike-256.png" %}" 
													title="Unlike Game" 
												/> {{result.result04likes.count}}
											</a>
										{% else %}
											{% if result.result04likes.count > 0 %}
												<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/4/like/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
													<img 
														class="media_icon" 
														src="{% static "assets/images/heart-like-256.png" %}" 
														title="Like Game" 
													/> {{result.result04likes.count}}
												</a>
											{% else %}
												<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/4/like/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
													<img 
														class="media_icon" 
														src="{% static "assets/images/heart-like-256.png" %}" 
														title="Like Game" 
													/> {{result.result04likes.count}}
												</a>
											{% endif %}
										{% endif %}
									{% else %}
										{% if result.result04likes.count > 0 %}
											<img 
												class="media_icon" 
												src="{% static "assets/images/heart-nolike-256.png" %}" 
												title="Like Game" 
											/> {{result.result04likes.count}}
										{% endif %}
									{% endif %}
								</td>
							{% else %}
								<td width="400"></td>
							{% endif %}
							<td></td>
						</tr>
						<tr><td colspan="5"></td></tr>
					{% endif %}

					{% if line3 %}
						<tr>
							<td></td>
							<td>
								{% if result.result05 %}
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/5/">
										05: {{result.game.item05}}
									</a>
								{% endif %}
							</td>
							<td></td>
							<td>
								{% if result.result06 %}
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/6/">
										06: {{result.game.item06}}
									</a>
								{% endif %}
							</td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							{% if result.result05 %}
								<td width="200" align="center" valign="top">
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/5/">
										<img src="{% get_static_prefix %}{{result.result05}}" width="200">
									</a><br />
									{% if result.result05likes %}
										{% if result.result05likes.count = 1 %}
											1 like. 
										{% else %}
											{{result.result05likes.count}} likes. 
										{% endif %}
									{% else %}
										0 likes.
									{% endif %}
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/5/like/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
										<b>Like!</b></a>
								</td>
							{% else %}
								<td width="200"></td>
							{% endif %}
							<td width="25"></td>
							{% if result.result06 %}
								<td width="200" align="center" valign="top">
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/6/">
										<img src="{% get_static_prefix %}{{result.result06}}" width="200">
									</a><br />
									{% if result.result06likes %}
										{% if result.result06likes.count = 1 %}
											1 like. 
										{% else %}
											{{result.result06likes.count}} likes. 
										{% endif %}
									{% else %}
										0 likes.
									{% endif %}
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/6/like/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
										<b>Like!</b></a>
								</td>
							{% else %}
								<td width="200"></td>
							{% endif %}
							<td></td>
						</tr>
						<tr><td colspan="5"></td></tr>
					{% endif %}

					{% if line4 %}
						<tr>
							<td></td>
							<td>
								{% if result.result07 %}
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/7/">
										07: {{result.game.item07}}
									</a>
								{% endif %}
							</td>
							<td></td>
							<td>
								{% if result.result08 %}
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/8/">
										08: {{result.game.item08}}
									</a>
								{% endif %}
							</td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							{% if result.result07 %}
								<td width="200" align="center" valign="top">
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/7/">
										<img src="{% get_static_prefix %}{{result.result07}}" width="200">
									</a><br />
									{% if result.result07likes %}
										{% if result.result07likes.count = 1 %}
											1 like. 
										{% else %}
											{{result.result07likes.count}} likes. 
										{% endif %}
									{% else %}
										0 likes.
									{% endif %}
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/7/like/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
										<b>Like!</b></a>
								</td>
							{% else %}
								<td width="200"></td>
							{% endif %}
							<td width="25"></td>
							{% if result.result08 %}
								<td width="200" align="center" valign="top">
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/8/">
										<img src="{% get_static_prefix %}{{result.result08}}" width="200">
									</a><br />
									{% if result.result08likes %}
										{% if result.result08likes.count = 1 %}
											1 like. 
										{% else %}
											{{result.result08likes.count}} likes. 
										{% endif %}
									{% else %}
										0 likes.
									{% endif %}
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/8/like/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
										<b>Like!</b></a>
								</td>
							{% else %}
								<td width="200"></td>
							{% endif %}
							<td></td>
						</tr>
						<tr><td colspan="5"></td></tr>
					{% endif %}

					{% if line5 %}
						<tr>
							<td></td>
							<td>
								{% if result.result09 %}
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/9/">
										09: {{result.game.item09}}
									</a>
								{% endif %}
							</td>
							<td></td>
							<td>
								{% if result.result10 %}
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/10/">
										10: {{result.game.item10}}
									</a>
								{% endif %}
							</td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							{% if result.result09 %}
								<td width="200" align="center" valign="top">
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/9/">
										<img src="{% get_static_prefix %}{{result.result09}}" width="200">
									</a><br />
									{% if result.result09likes %}
										{% if result.result09likes.count = 1 %}
											1 like. 
										{% else %}
											{{result.result09likes.count}} likes. 
										{% endif %}
									{% else %}
										0 likes.
									{% endif %}
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/9/like/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
										<b>Like!</b></a>
								</td>
							{% else %}
								<td width="200"></td>
							{% endif %}
							<td width="25"></td>
							{% if result.result10 %}
								<td width="200" align="center" valign="top">
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/10/">
										<img src="{% get_static_prefix %}{{result.result10}}" width="200">
									</a><br />
									{% if result.result10likes %}
										{% if result.result10likes.count = 1 %}
											1 like. 
										{% else %}
											{{result.result10likes.count}} likes. 
										{% endif %}
									{% else %}
										0 likes.
									{% endif %}
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/item/10/like/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
										<b>Like!</b></a>
								</td>
							{% else %}
								<td width="200"></td>
							{% endif %}
							<td></td>
						</tr>
						<tr><td colspan="5"></td></tr>
					{% endif %}

					{% if result.game.createdby = thisuser %}
						<tr>
							<td colspan="5">
									<button onclick="confirmDisqualify();">Disqualify Result</button>
							</td>
						</tr>
					{% endif %}

					<tr>
						<td colspan="5" align="middle">
							<span class="small_font">
								<i>Created by <b><a href="/accounts/profile/{{result.player.id}}/">{{result.player.username}}</a></b> on {{result.pubdate}}</i> 
								{% if result.player == thisuser %}
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/edit/"><b>Edit</b></a>
								{% endif %}
							</span>
						</td>
					</tr>
					<tr>
						<td colspan="5" align="middle">
							{% if request.user.is_authenticated %}
								{% if liked %}
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/unlike/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
										<img 
											class="media_icon" 
											src="{% static "assets/images/heart-unlike-256.png" %}" 
											title="Unlike Game" 
										/> {{result.resultlikes.count}}
									</a>
								{% else %}
									{% if result.resultlikes.count > 0 %}
										<a href="/games/{{result.game.id}}/results/{{result.player.id}}/like/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
											<img 
												class="media_icon" 
												src="{% static "assets/images/heart-like-256.png" %}" 
												title="Like Game" 
											/> {{result.resultlikes.count}}
										</a>
									{% else %}
										<a href="/games/{{result.game.id}}/results/{{result.player.id}}/like/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
											<img 
												class="media_icon" 
												src="{% static "assets/images/heart-like-256.png" %}" 
												title="Like Game" 
											/>
										</a>
									{% endif %}
								{% endif %}
							{% else %}
								{% if result.resultlikes.count > 0 %}
									<img 
										class="media_icon" 
										src="{% static "assets/images/heart-nolike-256.png" %}" 
										title="Like Game" 
									/> {{result.resultlikes.count}}
								{% endif %}
							{% endif %}

<!--							{% if result.resultlikes.count = 1 %}
								1 like
							{% else %}
								{{result.resultlikes.count}} likes
							{% endif %}
							{% if thisuser %}
								{% if liked %}
									 • 
									<b>
										<a href="/games/{{result.game.id}}/results/{{result.player.id}}/unlike/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
											Unlike this game!
										</a>
									</b>
								{% else %}
									 • 
									<b>
										<a href="/games/{{result.game.id}}/results/{{result.player.id}}/like/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
											Like this game!
										</a>
									</b>
								{% endif %}
							{% endif %} -->
							<br />
							{{result.result_points}} total points.
						</td>
					</tr>
				</table>
				<table width="100%" cellpadding="2">
					{% if comments %}
						<tr>
							<td colspan="2">
								<span class="small_font">
									Comments on <b>{{result.player.username}}</b>'s Results:
								</span>
							</td>
						</tr>
					{% else %}
						{% if thisuser %}
							<tr>
								<td colspan="2">
									<span class="small_font">
										Comment on <b>{{result.player.username}}</b>'s Results:
									</span>
								</td>
							</tr>
						{% endif %}
					{% endif %}
					{% for comment in comments %}
						<tr>
							<td rowspan="2" valign="top" align="right">
								{% if comment.usertocomment.user_object.avatar_thumbnail %}
									<img src="{% get_static_prefix %}{{comment.usertocomment.user_object.avatar_thumbnail}}" alt="thumbnail" width="50"/>
								{% else %}
									<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
								{% endif %}
							</td>
							<td colspan="2">
								<a href="/accounts/profile/{{comment.usertocomment.id}}/"><b>{{comment.usertocomment.username}}:</b></a> 
								{{comment.comment}} 
							</td>
						</tr>
						<tr>
							<td colspan="3">
								{% if request.user.is_authenticated %}
									{% if comment.liked %}
										<a href="/games/{{result.game.id}}/results/{{result.player.id}}/comment/{{comment.unique_id}}/unlike/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
											<img 
												class="comment_icon" 
												src="{% static "assets/images/heart-unlike-256.png" %}" 
												title="Unlike Photo" 
											/> {{comment.resultcommentlikes.count}} 
										</a>
									{% else %}
										{% if comment.resultcommentlikes.count > 0 %}
											<a href="/games/{{result.game.id}}/results/{{result.player.id}}/comment/{{comment.unique_id}}/like/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
												<img 
													class="comment_icon" 
													src="{% static "assets/images/heart-like-256.png" %}" 
													title="Like Photo" 
												/> {{comment.resultcommentlikes.count}} 
											</a>
										{% else %}
											<a href="/games/{{result.game.id}}/results/{{result.player.id}}/comment/{{comment.unique_id}}/like/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
												<img 
													class="comment_icon" 
													src="{% static "assets/images/heart-like-256.png" %}" 
													title="Like Photo" 
												/> 
											</a>
										{% endif %}
									{% endif %}
								{% else %}
									{% if comment.resultcommentlikes.count > 0 %}
										<img 
											class="comment_icon" 
											src="{% static "assets/images/heart-nolike-256.png" %}" 
											title="Like Game" 
										/> {{comment.resultcommentlikes.count}} 
									{% endif %}
								{% endif %}



<!--								{{comment.resultcommentlikes.count}} likes. 
								{% if thisuser %}
									{% if comment.liked %}
										<a href="/games/{{result.game.id}}/results/{{result.player.id}}/comment/{{comment.unique_id}}/unlike/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
											<b>Unlike!</b>
										</a>
									{% else %}
											<a href="/games/{{result.game.id}}/results/{{result.player.id}}/comment/{{comment.unique_id}}/like/?next=/games/{{result.game.id}}/results/{{result.player.id}}/">
											<b>Like!</b>
										</a>
									{% endif %}
								{% endif %} -->
								<span class="small_font">
									<i>Posted on {{comment.pubdate}}</i> 
									{% if comment.usertocomment == thisuser %}
										<a href="/games/{{result.game.id}}/results/{{result.player.id}}/comment/{{comment.unique_id}}/edit/"><b>Edit</b></a>
									{% endif %}
								</span>
							</td>
						</tr>
						<tr><td colspan="3"></td></tr>
					{% endfor %}
					{% if thisuser %}
						<tr>
							<td width="50"></td>
							<td colspan="2">
								<form action="/games/{{result.game.id}}/results/{{result.player.id}}/new_comment/" method="post">{% csrf_token %}
									<input type="text" name="comment" id="comment" placeholder="Comment" size="40" />
									<input type="submit" name="newcomment" id="newcomment" value="New Comment" />
								</form>
							</td>
						</tr>
					{% endif %}
				</table>
				<table width="100%" cellpadding="2">
					<tr>
						<td width="50%">
							<a href="/games/{{result.game.id}}/results/"><b>Back to Results</b></a>
						</td>
						<td align="right" style="padding-right:5px"><a href="/games/{{result.game.id}}/"><b>Back to Game</b></a></td>
					</tr>
				</table>
			{% endif %}
		{% else %}
			<p>Nothing here!</p>
			<p><a href="/games/"><b>Back to Games</b></a></p>
		{% endif %}
	</div>

{% endblock %}