{% extends "base.html" %}
{% load static %}
{% block title %}The Best Eye: {{game.name}}{% endblock %}
{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/all_games.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/game.css" %}">
	<script>
		$(function() {
			$( document ).tooltip();
		});
	</script>
	<style>
		label {
			display: inline-block;
			width: 5em;
		}
	</style>
{% endblock %}

{% block content %}

	{% if game %}

		<div class="gamecard_public">
			<div class="gctop gc">

				<div class="profile_pic">
					<img class="p_pic" src="{% get_static_prefix %}{{game.game_thumbnail}}" />
				</div>

				<table>
					<tr>
						<td valign="top">
							<div class="game_name gc">
								<span>{{game.name}}</span>
							</div>
						</td>
						<td align="right" width="5%">
							{% if thisuser %}
								{% if favorite %}
									<a href="/favorites/{{favorite.id}}/delete/?next=/games/{{game.id}}/">
										<img 
											class="fav_icon" 
											src="{% static "assets/images/fav-unfav-star-256.png" %}" 
										/>
									</a>
								{% else %}
									<a href="/games/{{game.id}}/favorite/?next=/games/{{game.id}}/">
										<img 
											class="fav_icon" 
											src="{% static "assets/images/fav-fav-star-256.png" %}" 
										/>
									</a>
								{% endif %}
							{% endif %}
						</td>
					</tr>

					<tr><td colspan="2">
						<div class="game_creator gc">
							<span>
								<p>
									{{game.description}}
								</p>
							</span>
						</div>

						{% if game.endby_date %}
							<p>Ends on: {{game.endby_date}}</p>
						{% endif %}

						<p>
							<i>
								Created by 
								<b>
									<a href="/accounts/profile/{{game.createdby.id}}/">
										@{{game.createdby.username}}
									</a>
								</b> on {{game.pubdate}}
							</i> 
							{% if not game.game_closed %}
								{% if game.createdby == thisuser %}
									<a href="/games/{{game.id}}/edit/"><b>Edit</a></b>
								{% endif %}
							{% endif %}
						</p>

						{% if game.private_game %}
							{% if game.createdby == thisuser %}
								<p>
									<a href="/games/{{game.id}}/invite_user/">
										<img 
											width="30" 
											src="{% static "assets/images/privategame-lock-256.png" %}" 
										/> 
										<b>Invite Players</b>
									</a>
								</p>
							{% endif %}
						{% endif %}

						<p>							
							{% if thisuser %}
								{% if liked %}
									<a href="/games/{{game.id}}/unlike/?next=/games/#{{game.id}}">
										<img 
											class="media_icon" 
											src="{% static "assets/images/heart-unlike-256.png" %}" 
											title="Unlike Game" 
										/> {{game.gamelikes.count}} 
									</a>
								{% else %}
									{% if game.gamelikes.count > 0 %}
										<a href="/games/{{game.id}}/like/?next=/games/#{{game.id}}">
											<img 
												class="media_icon" 
												src="{% static "assets/images/heart-like-256.png" %}" 
												title="Like Game" 
											/> {{game.gamelikes.count}} 
										</a>
									{% else %}
										<a href="/games/{{game.id}}/like/?next=/games/#{{game.id}}">
											<img 
												class="media_icon" 
												src="{% static "assets/images/heart-like-256.png" %}" 
												title="Like Game" 
											/> 
										</a>
									{% endif %}
								{% endif %}
							{% else %}
								{% if game.gamelikes.count > 0 %}
									<img 
										class="media_icon" 
										src="{% static "assets/images/heart-nolike-256.png" %}" 
										title="Like Game" 
									/> {{game.gamelikes.count}} 
								{% endif %}
							{% endif %}

							{% if game.game_host.count > 0 %}
								<a href="/games/{{game.id}}/results/">
									<img 
										class="media_icon" 
										src="{% static "assets/images/friendgame-users-256.png" %}" 
										title="{{game.game_host.count}} Players"
									/> {{game.game_host.count}} 
								</a> 
							{% endif %}

							{% if game.photocount > 0 %}
								<a href="/games/{{game.id}}/photos/">
									<img 
										class="media_icon"
										src="{% static "assets/images/game-photo-256.png" %}" 
										title="{{game.photocount}} Photos"
									/> {{game.photocount}} 
								</a> 
							{% endif %}

							{% if game.game_for_comment.count > 0 %}
								<a href="/games/{{game.id}}/#comments">
									<img 
										class="media_icon" 
										src="{% static "assets/images/lobby-bubbles-256.png" %}" 
										title="{{game.game_for_comment.count}} Comments"
									/> {{game.game_for_comment.count}}
								</a>
							{% endif %}

						</p>
					</td></tr></table>
					
					{% if not game.hide_latest %}

						<div class="game_stats">
							<div class="game_creator gc">
								<p>
									<img 
										width="30" 
										src="{% static "assets/images/game-camera-256.png" %}" 
									/> 
									<b> Items to Find:</b>
								</p>
							</div>
							{% if game.item01 %}
								<p>
									{% if game.item01photocount > 0 %}
										<a href="/games/{{game.id}}/item/1/">
											01: {{game.item01}} • 
											{% if game.item01photocount = 1 %}
												<img 
													width="30" 
													src="{% static "assets/images/game-photo-256.png" %}" 
												/> x 1
											{% else %}
												<img 
													width="30" 
													src="{% static "assets/images/game-photo-256.png" %}" 
												/> x {{game.item01photocount}}
											{% endif %}
										</a>
									{% else %}
										01: {{game.item01}}
									{% endif %}
								</p>
							{% endif %}
							{% if game.item02 %}
								<p>
									{% if game.item02photocount > 0 %}
										<a href="/games/{{game.id}}/item/2/">
											02: {{game.item02}} • 
											{% if game.item02photocount = 1 %}
												<img 
													width="30" 
													src="{% static "assets/images/game-photo-256.png" %}" 
												/> x 1
											{% else %}
												<img 
													width="30" 
													src="{% static "assets/images/game-photo-256.png" %}" 
												/> x {{game.item02photocount}}
											{% endif %}
										</a>
									{% else %}
										02: {{game.item02}}
									{% endif %}
								</p>
							{% endif %}
							{% if game.item03 %}
								<p>
									{% if game.item03photocount > 0 %}
										<a href="/games/{{game.id}}/item/3/">
											03: {{game.item03}} • 
											{% if game.item03photocount = 1 %}
												<img 
													width="30" 
													src="{% static "assets/images/game-photo-256.png" %}" 
												/> x 1
											{% else %}
												<img 
													width="30" 
													src="{% static "assets/images/game-photo-256.png" %}" 
												/> x {{game.item03photocount}}
											{% endif %}
										</a>
									{% else %}
										03: {{game.item03}}
									{% endif %}
								</p>
							{% endif %}
							{% if game.item04 %}
								<p>
									{% if game.item04photocount > 0 %}
										<a href="/games/{{game.id}}/item/4/">
											04: {{game.item04}} • 
											{% if game.item04photocount = 1 %}
												<img 
													width="30" 
													src="{% static "assets/images/game-photo-256.png" %}" 
												/> x 1
											{% else %}
												<img 
													width="30" 
													src="{% static "assets/images/game-photo-256.png" %}" 
												/> x {{game.item04photocount}}
											{% endif %}
										</a>
									{% else %}
										04: {{game.item04}}
									{% endif %}
								</p>
							{% endif %}
						</div>

					{% else %}

						<div class="game_stats">
							<div class="game_creator gc">
								<p>
									<img 
										width="30" 
										src="{% static "assets/images/game-camera-256.png" %}" 
									/> 
									<b> Items to Find:</b>
								</p>
							</div>
							{% if game.item01 %}
								<p>
									{% if game.item01photocount > 0 %}
										01: {{game.item01}} • 
										{% if game.item01photocount = 1 %}
											<img 
												width="30" 
												src="{% static "assets/images/game-photo-256.png" %}" 
											/> x 1
										{% else %}
											<img 
												width="30" 
												src="{% static "assets/images/game-photo-256.png" %}" 
											/> x {{game.item01photocount}}
										{% endif %}
									{% else %}
										01: {{game.item01}}
									{% endif %}
								</p>
							{% endif %}
							{% if game.item02 %}
								<p>
									{% if game.item02photocount > 0 %}
										02: {{game.item02}} • 
										{% if game.item02photocount = 1 %}
											<img 
												width="30" 
												src="{% static "assets/images/game-photo-256.png" %}" 
											/> x 1
										{% else %}
											<img 
												width="30" 
												src="{% static "assets/images/game-photo-256.png" %}" 
											/> x {{game.item02photocount}}
										{% endif %}
									{% else %}
										02: {{game.item02}}
									{% endif %}
								</p>
							{% endif %}
							{% if game.item03 %}
								<p>
									{% if game.item03photocount > 0 %}
										03: {{game.item03}} • 
										{% if game.item03photocount = 1 %}
											<img 
												width="30" 
												src="{% static "assets/images/game-photo-256.png" %}" 
											/> x 1
										{% else %}
											<img 
												width="30" 
												src="{% static "assets/images/game-photo-256.png" %}" 
											/> x {{game.item03photocount}}
										{% endif %}
									{% else %}
										03: {{game.item03}}
									{% endif %}
								</p>
							{% endif %}
							{% if game.item04 %}
								<p>
									{% if game.item04photocount > 0 %}
										04: {{game.item04}} • 
										{% if game.item04photocount = 1 %}
											<img 
												width="30" 
												src="{% static "assets/images/game-photo-256.png" %}" 
											/> x 1
										{% else %}
											<img 
												width="30" 
												src="{% static "assets/images/game-photo-256.png" %}" 
											/> x {{game.item04photocount}}
										{% endif %}
									{% else %}
										04: {{game.item04}}
									{% endif %}
								</p>
							{% endif %}
						</div>

					{% endif %}
						
					{% if not game.hide_latest %}
						{% if latest %}
							<table width="100%" cellpadding="5">
								<tr>
									<td colspan="4">
										<div class="heading3">
											<p>
												Latest Photos from <a href="/accounts/profile/{{latest.player.id}}/">
												<b>@{{latest.player.username}}</b>:</a>
											</p>
										</div>
									</td>
								</tr>
								<tr>
									<td width="25%" align="center">
										{% if latest.result01crop %}
											<a href="/games/{{game.id}}/photos/">
												<img 
													title="{{latest.result01desc|truncatewords:"20"}}" 
													src="{% get_static_prefix %}{{latest.result01crop}}" 
													width="100"
												/>
											</a>
										{% else %}
											<!-- <img 
												src="{% static "assets/images/generic_avatar.png" %}" 
												alt="Hi!" 
												width="100" 
											/> -->
										{% endif %}
									</td>
									<td width="25%" align="center">
										{% if latest.result02crop %}
											<a href="/games/{{game.id}}/photos/">
												<img 
													title="{{latest.result02desc|truncatewords:"20"}}" 
													src="{% get_static_prefix %}{{latest.result02crop}}" 
													width="100"
												/>
											</a>
										{% else %}
											<!-- <img 
												src="{% static "assets/images/generic_avatar.png" %}" 
												alt="Hi!" 
												width="100" 
											/> -->
										{% endif %}
									</td>
									<td width="25%" align="center">
										{% if latest.result03crop %}
											<a href="/games/{{game.id}}/photos/">
												<img 
													title="{{latest.result03desc|truncatewords:"20"}}" 
													src="{% get_static_prefix %}{{latest.result03crop}}" 
													width="100"
												/>
											</a>
										{% else %}
											<!-- <img 
												src="{% static "assets/images/generic_avatar.png" %}" 
												alt="Hi!" 
												width="100" 
											/> -->
										{% endif %}
									</td>
									<td width="25%" align="center">
										{% if latest.result04crop %}
											<a href="/games/{{game.id}}/photos/">
												<img 
													title="{{latest.result04desc|truncatewords:"20"}}" 
													src="{% get_static_prefix %}{{latest.result04crop}}" 
													width="100"
												/>
											</a>
										{% else %}
											<!-- <img 
												src="{% static "assets/images/generic_avatar.png" %}" 
												alt="Hi!" 
												width="100" 
											/> -->
										{% endif %}
									</td>
								</tr>
							</table>
						{% endif %}
					{% endif %}

			</div>

			<div class="gcbottom"> 
				<!-- <span class="gcaccent gcactions"> -->
					{% if thisuser %}

						<div class="column">
							{% if played %}
								<a href="/games/{{game.id}}/results/{{thisuser.id}}/">Your Score</a>
							{% else %}
								{% if playable %}
									<a href="/games/{{game.id}}/play/">Play</a>
								{% else %}
									Game Over!
								{% endif %}
							{% endif %}
						</div>

						<div class="inbetween_column">|</div> 

						<div class="column">
							{% if game.photocount = 0 %}
								No Photos!
							{% else %}
								<a href="/games/{{game.id}}/photos/">All Photos</a>
							{% endif %}
						</div>

						<div class="inbetween_column">|</div> 

						<div class="column">
							{% if results %}
								<a href="/games/{{game.id}}/results/">Scoreboard</a>
							{% else %}
								No Players!
							{% endif %}
						</div>

					{% else %}

						<div class="column">
							<a href="/accounts/login/">Play</a>
						</div>

						<div class="inbetween_column">|</div> 
						
						<div class="column">
							
							{% if game.photocount = 0 %}
								No Photos!
							{% else %}
								<a href="/games/{{game.id}}/photos/">All Photos</a>
							{% endif %}

						</div>
						
						<div class="inbetween_column">|</div> 
						
						<div class="column">
							{% if results %}
								<a href="/games/{{game.id}}/results/">Scoreboard</a>
							{% else %}
								No Players!
							{% endif %}
						</div>

					{% endif %} 
				<!-- </span> -->
			</div>
		</div>

		<!-- COMMENTS -->

		<div id="whitebg">

			<a name="comments"></a>

			<table width="70%" cellpadding="2">
				{% if comments %}
						<tr>
							<td colspan="2">
								<span class="small_font">
									Comments on <b>{{game.createdby.username}}</b>'s Game:
								</span>
							</td>
						</tr>
					{% else %}
						{% if thisuser %}
							<tr>
								<td colspan="2">
									<span class="small_font">
										Comment on <b>{{game.createdby.username}}</b>'s Game:
									</span>
								</td>
							</tr>
						{% endif %}
					{% endif %}
				{% for comment in comments %}
					<tr>
						<td rowspan="2" valign="top" align="right">
							{% if comment.usertocomment.user_object.avatar_thumbnail %}
								<img src="{% get_static_prefix %}{{comment.usertocomment.user_object.avatar_thumbnail}}" alt="thumbnail" width="50"/>
							{% else %}
								<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
							{% endif %}
						</td>
						<td>
							<a href="/accounts/profile/{{comment.usertocomment.id}}/">
								<b>@{{comment.usertocomment.username}}:</b>
							</a> 
							{{comment.comment}} 
						</td>
					</tr>
					<tr>
						<td colspan="2" valign="top">
							{% if thisuser %}
								{% if comment.liked %}
									<a href="/games/{{game.id}}/comment/{{comment.unique_id}}/unlike/?next=/games/{{game.id}}/">
										<img 
											class="comment_icon" 
											src="{% static "assets/images/heart-unlike-256.png" %}" 
											title="Unlike Photo" 
										/> {{comment.gamecommentlikes.count}}
									</a>
								{% else %}
									<a href="/games/{{game.id}}/comment/{{comment.unique_id}}/like/?next=/games/{{game.id}}/">
										<img 
											class="comment_icon" 
											src="{% static "assets/images/heart-like-256.png" %}" 
											title="Like Photo" 
										/> {{comment.gamecommentlikes.count}}
									</a>
								{% endif %}
							{% else %}
								{% if comment.gamecommentlikes %}
									<img 
										class="comment_icon" 
										src="{% static "assets/images/heart-nolike-256.png" %}" 
										title="Like Game" 
									/> {{comment.gamecommentlikes.count}}
								{% endif %} 
							{% endif %} 

<!--							{% if comment.gamecommentlikes.count = 1 %}
								1 like. 
							{% else %}
								{{comment.gamecommentlikes.count}} likes. 
							{% endif %}
							{% if thisuser %}
								{% if comment.liked %}
									<a href="/games/{{game.id}}/comment/{{comment.unique_id}}/unlike/?next=/games/{{game.id}}/">
										<b>Unlike!</b>
									</a>
								{% else %}
									<a href="/games/{{game.id}}/comment/{{comment.unique_id}}/like/?next=/games/{{game.id}}/">
										<b>Like!</b>
									</a>
								{% endif %}
							{% endif %} -->
							<span class="small_font">
								<i>Posted on {{comment.pubdate}}</i> 
								{% if comment.usertocomment == thisuser %}
									<a href="/games/{{game.id}}/comment/{{comment.unique_id}}/edit/"><b>Edit</b></a>
								{% endif %}
							</span>
						</td>
					</tr>
					<tr><td colspan="2"></td></tr>
				{% endfor %}
				{% if thisuser %}
					<tr>
						<td></td>
						<td>
							<form action="/games/{{game.id}}/new_comment/" method="post">{% csrf_token %}
								<input type="text" name="comment" id="comment" placeholder="Comment" size="40" />
								<input type="submit" name="newcomment" id="newcomment" value="New Comment" />
							</form>
						</td>
					</tr>
				{% endif %}
			</table>

		</div>
	
	{% else %}
		<p>Sorry, this game doesn't exist!</p>
		<p><a href="/games/"><b>Back to Games</b></a></p>
	{% endif %}

{% endblock %}