{% extends "base.html" %}
{% load static %}
{% block title %}The Best Eye: Game Results{% endblock %}
{% block content %}

	<p>
		<div class="heading2">
			<img 
				class="heading_icon" 
				src="{% static "assets/images/game-puzzle-256.png" %}" 
			/>
			Game Results:
		</div>
	</p>

	<div id="whitebg">
		{% if results %}
			{% if results.count > 0 %}

				<table width="100%" cellpadding="2">
					<tr>
						<td>
							Player:
						</td>
						<td width="50">
							Points:
						</td>
						<td style="padding-left:15px">
							Played:
						</td>
					</tr>
					{% for result in results %}
						{% if result.disqualified %}
							<tr><td>User disqualified!</td></tr>
						{% else %}
							<tr>
								<td style="padding-left:15px">
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/">
										{% if result.player.user_object.avatar_thumbnail %}
											<img src="{% get_static_prefix %}{{result.player.user_object.avatar_thumbnail}}" width="50"> 
										{% else %}
											<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" /> 
										{% endif %}
									</a>
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/">{{result.player}}</a>
								</td>
								<td align="right">
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/">{{result.result_points}}</a>
								</td>
								<td style="padding-left:15px">
									<a href="/games/{{result.game.id}}/results/{{result.player.id}}/">{{result.pubdate}}</a>
								</td>
							</tr>
						{% endif %}
					{% endfor %}
					<tr>
						<td colspan="3" align="right" style="padding-right:5px">
							<br />
							<a href="/games/{{game.id}}/">Back to Game</a>
						</td>
					</tr>
				</table>
				<br />
			{% else %}
				<p>None to show!</p>
			{% endif %}
		{% else %}
			<p>No Game!</p>
			<p><a href="/games/"><b>Back to Games</b></a></p>
		{% endif %}
	</div>

{% endblock %}