{% extends "base.html" %}
{% block title %}The Best Eye: Invite Players{% endblock %}
{% load i18n %}
{% block extrahead %}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script>
		$(function() {
			var availableUsers = [
				{% for user in thisuser.user_object.following.all %}
					"{{user.username}}",
				{% endfor %}
			];
			$( "#invitation" ).autocomplete({
				source: availableUsers
			});
		});
	</script>
{% endblock %}

{% block content %}

	<div class="whitebg">

		{% if game %}
			<form action="/games/{{game.id}}/invite_user/" method="post" />{% csrf_token %}
				<table width="100%" cellpadding="5" bgcolor="#ffffff">
					<tr>
						<td colspan="2">
							<input type="text" name="invitation" size="30" id="invitation" placeholder="Add Someone You're Following" />
						</td>
					</tr>
					<tr>
						<td>
							<div class="ui-widget">
							<input type="submit" name="submit" value="Invite User" />
							</div>
						</td>
						<td align="right" style="padding-right:50px">
							<a href="/games/{{game.id}}/">Back</a>
						</td>
					</tr>
					{% if game.private.count >= 1 %}
						<tr>
							<td>
								<p>Invited Players:</p>
								{% for player in game.private.all %}
									<p>
										<a href="/accounts/profile/{{player.id}}/">{{player.username}}</a> 
										<a href="/games/{{game.id}}/remove/{{player.id}}/">(Remove)</a>
									</p>
								{% endfor %}
							</td>
						</tr>
					{% endif %}
				</table>
			</form>
		{% else %}
			<p>Game doesn't exist!</p>
			<p><a href="/games/"><b>Back to Games</b></a></p>
		{% endif %}

	</div>
	
{% endblock %}