{% extends "base.html" %}
{% block title %}The Best Eye: New Game{% endblock %}
{% load static %}
{% block extrahead %}
	<script language="JavaScript" type="text/javascript" src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script language="JavaScript" type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<link rel="stylesheet" href="{% static "assets/css/jquery-ui.css" %}">
	<script>
		$(function() {
			$( "#id_endby_date" ).datepicker();
		});
	</script>
	<script type="text/javascript">
		function getRandom01() {
			var randomchoices01 = [
				{% for randomitem in randomgameitems.all %}
					{% if forloop.last %}
						"{{randomitem.item}}"
					{% else %}
						"{{randomitem.item}}",
					{% endif %}
				{% endfor %}
			];
			document.getElementById("id_item01").value = randomchoices01[Math.floor(Math.random() * randomchoices01.length)];
		}
	</script>
	<script type="text/javascript">
		function getRandom02() {
			var randomchoices02 = [
				{% for randomitem in randomgameitems.all %}
					{% if forloop.last %}
						"{{randomitem.item}}"
					{% else %}
						"{{randomitem.item}}",
					{% endif %}
				{% endfor %}
			];
			document.getElementById("id_item02").value = randomchoices02[Math.floor(Math.random() * randomchoices02.length)];
		}
	</script>
	<script type="text/javascript">
		function getRandom03() {
			var randomchoices03 = [
				{% for randomitem in randomgameitems.all %}
					{% if forloop.last %}
						"{{randomitem.item}}"
					{% else %}
						"{{randomitem.item}}",
					{% endif %}
				{% endfor %}
			];
			document.getElementById("id_item03").value = randomchoices03[Math.floor(Math.random() * randomchoices03.length)];
		}
	</script>
	<script type="text/javascript">
		function getRandom04() {
			var randomchoices04 = [
				{% for randomitem in randomgameitems.all %}
					{% if forloop.last %}
						"{{randomitem.item}}"
					{% else %}
						"{{randomitem.item}}",
					{% endif %}
				{% endfor %}
			];
			document.getElementById("id_item04").value = randomchoices04[Math.floor(Math.random() * randomchoices04.length)];
		}
	</script>
	<script type="text/javascript">
		function checkInputExtension() {
			var filename = document.getElementById("id_game_thumbnail").value;
			if (filename == ''){
				alert('Please select an image');
				return false;
			}
			else {
				var extension = filename.substring(filename.lastIndexOf('.') + 1).toLowerCase();
				if(extension == "jpg" || extension == "png") {
					// filename is good to go
				}
				else {
					alert ("Please select a jpg or png");
					document.getElementById("id_game_thumbnail").value = '';
					return false;
				}
			}
		}
	</script>
	<script>
		function validateGame() {
			if (document.getElementById("id_item01").value == '' && document.getElementById("id_item02").value == '' && document.getElementById("id_item03").value == '' && document.getElementById("id_item04").value == '') {
				alert("You must enter some items for your game");
				return false;
			} else {
				return true;
			}
		}
	</script>
	<script type="text/javascript">
		function checkItem01() {
			var item01input = document.getElementById("id_item01").value;
			if (item01input == '') {
				alert('Please enter something for item 01');
				return false;
			}
		}
		function checkItem02() {
			var item02input = document.getElementById("id_item02").value;
			if (item02input == '') {
				alert('Please enter something for item 02');
				return false;
			}
		}
		function checkItem03() {
			var item03input = document.getElementById("id_item03").value;
			if (item03input == '') {
				alert('Please enter something for item 03');
				return false;
			}
		}
		function checkItem04() {
			var item04input = document.getElementById("id_item04").value;
			if (item04input == '') {
				alert('Please enter something for item 04');
				return false;
			}
		}
	</script>
{% endblock %}

{% block content %}

	<p>
		<div class="heading2">
			<img 
				class="heading_icon" 
				src="{% static "assets/images/newgame-pencil-256.png" %}" 
			/>
			Start a New Game:
		</div>
	</p>

	<div id="whitebg">

		<form action="/games/new/" method="post" enctype="multipart/form-data" onsubmit="return validateGame()" />{% csrf_token %}

			<table width="100%" cellpadding="5" bgcolor="#ffffff">
				<tr>
					<td width="200" rowspan="2">
						<img src="{% static "assets/images/thumbnail.png" %}" alt="Hi!" />
					</td>
					<td valign="top" width="130" align="right">
						Game Name: 
					</td>
					<td align="left" valign="top">
						{{form.name}}
					</td>
				<tr>
					<td align="right" valign="top">
						Description: 
					</td>
					<td align="left" valign="top">
						{{form.description}}
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<input type='file' id='id_game_thumbnail' name='game_thumbnail' onchange="checkInputExtension();" />
						<br />
					</td>
				</tr>
				<tr>
					<td colspan="3" style="padding-left:25px;">
						<img 
							width="30" 
							src="{% static "assets/images/game-camera-256.png" %}" 
						/> 
						<b>Items to Find:</b> 
						<input 
							type="button" 
							value="Random Game" 
							onclick="getRandom01(); getRandom02(); getRandom03(); getRandom04();" 
						/>
					</td>
				</tr>
				<tr>
					<td colspan="3" style="padding-left:45px;">
						<p>
							01: {{form.item01}} <input type="button" value="Random" onclick="getRandom01()" />
						</p>
						<p>
							02: {{form.item02}} <input type="button" value="Random" onclick="getRandom02()" />
						</p>
						<p>	
							03: {{form.item03}} <input type="button" value="Random" onclick="getRandom03()" />
						</p>
						<p>	
							04: {{form.item04}} <input type="button" value="Random" onclick="getRandom04()" /> 
							BONUS: Worth 3 points!
						</p>
					</td>
				</tr>

		<!--
				<tr>
					<td colspan="3">
						05: {{form.item05}}
					</td>
				</tr>
				<tr>
					<td colspan="3">
						06: {{form.item06}}
					</td>
				</tr>
				<tr>
					<td colspan="3">
						07: {{form.item07}}
					</td>
				</tr>
				<tr>
					<td colspan="3">
						08: {{form.item08}}
					</td>
				</tr>
				<tr>
					<td colspan="3">
						09: {{form.item09}}
					</td>
				</tr>
				<tr>
					<td colspan="3">
						10: {{form.item10}}
					</td>
				</tr> 
		-->

				<tr>
					<td colspan="3">
						<img 
							width="30" 
							src="{% static "assets/images/privategame-lock-256.png" %}" 
						/> 
						Private Game: {{form.private_game}} (Invite users from the game page)
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<img 
							width="30" 
							src="{% static "assets/images/enddate-hourglass-256.png" %}" 
						/> 
						End Date: {{form.endby_date}} (Leave blank to keep game open)
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<img 
							width="30" 
							src="{% static "assets/images/game-photo-256.png" %}" 
						/> 
						Hide Latest: {{form.hide_latest}} (Select to hide the latest images played)
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<p>
							<input type="submit" name="submit" value="New Game" />
						</p>
					</td>
				</tr>
			</table>
		</form>

	</div>

{% endblock %}