{% extends "base.html" %}
{% block title %}The Best Eye: Play Game{% endblock %}
{% block extrahead %}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script>
		$(function() {
			$( "#accordion" ).accordion();
		});
  </script>
  <script type="text/javascript">
		function checkInputExtension1() {
			var filename = document.getElementById("id_result01crop").value;
			if (filename == ''){
				alert('Please select an image');
				return false;
			}
			else {
				var extension = filename.substring(filename.lastIndexOf('.') + 1).toLowerCase();
				if(extension == "jpg" || extension == "png") {
					// filename is good to go
				}
				else {
					alert ("Please select a jpg or png");
					document.getElementById("id_result01crop").value = '';
					return false;
				}
			}
		}
	</script>
	<script type="text/javascript">
		function checkInputExtension2() {
			var filename = document.getElementById("id_result02crop").value;
			if (filename == ''){
				alert('Please select an image');
				return false;
			}
			else {
				var extension = filename.substring(filename.lastIndexOf('.') + 1).toLowerCase();
				if(extension == "jpg" || extension == "png") {
					// filename is good to go
				}
				else {
					alert ("Please select a jpg or png");
					document.getElementById("id_result02crop").value = '';
					return false;
				}
			}
		}
	</script>
	<script type="text/javascript">
		function checkInputExtension3() {
			var filename = document.getElementById("id_result03crop").value;
			if (filename == ''){
				alert('Please select an image');
				return false;
			}
			else {
				var extension = filename.substring(filename.lastIndexOf('.') + 1).toLowerCase();
				if(extension == "jpg" || extension == "png") {
					// filename is good to go
				}
				else {
					alert ("Please select a jpg or png");
					document.getElementById("id_result03crop").value = '';
					return false;
				}
			}
		}
	</script>
	<script type="text/javascript">
		function checkInputExtension4() {
			var filename = document.getElementById("id_result04crop").value;
			if (filename == ''){
				alert('Please select an image');
				return false;
			}
			else {
				var extension = filename.substring(filename.lastIndexOf('.') + 1).toLowerCase();
				if(extension == "jpg" || extension == "png") {
					// filename is good to go
				}
				else {
					alert ("Please select a jpg or png");
					document.getElementById("id_result04crop").value = '';
					return false;
				}
			}
		}
	</script>
	<script>
		function validateGame() {
			if (document.getElementById("id_result01crop").value == '' && document.getElementById("id_result02crop").value == '' && document.getElementById("id_result03crop").value == '' && document.getElementById("id_result04crop").value == '') {
				alert("You must enter some items for your game");
				return false;
			} else {
				return true;
			}
		}
	</script>
  {% endblock %}

{% block content %}

	<div id="whitebg">

		{% if game %}
		
			<form action="/games/{{game.id}}/play/" method="post" enctype="multipart/form-data" onsubmit="return validateGame()" />{% csrf_token %}

				<p><div class="heading20px">Play This Game:</div></p>

				<div id="accordion">
					{% if game.item01 %}
						<h3>01: {{game.item01}}:</h3>
						<div>
							<input type='file' id='id_result01crop' name='result01crop' onchange="checkInputExtension1();" />
							<p>Title: {{form.result01desc}}</p>
						</div>
					{% endif %}
					{% if game.item02 %}
						<h3>02: {{game.item02}}:</h3>
						<div>
							<input type='file' id='id_result02crop' name='result02crop' onchange="checkInputExtension2();" />
							<p>Title: {{form.result02desc}}</p>
						</div>
					{% endif %}
					{% if game.item03 %}
						<h3>03: {{game.item03}}:</h3>
						<div>
							<input type='file' id='id_result03crop' name='result03crop' onchange="checkInputExtension3();" />
							<p>Title: {{form.result03desc}}</p>
						</div>
					{% endif %}
					{% if game.item04 %}
						<h3>04: {{game.item04}}:</h3>
						<div>
							<input type='file' id='id_result04crop' name='result04crop' onchange="checkInputExtension4();" />
							<p>Title: {{form.result04desc}}</p>
							BONUS: Worth 3 points!
						</div>
					{% endif %}
				</div>
				<p><input type="submit" name="submit" value="Play Game" /></p>
				<p><a href="/games/{{game.id}}/">Back to Game</a></p>
			</form>
		{% else %}
			<p>No Game!</p>
			<p><a href="/games/"><b>Back to Games</b></a></p>
		{% endif %}
	</div>
{% endblock %}


<!-- 	<table width="100%" cellpadding="5">
			<tr>
				<td colspan="2">
					<b><span class="heading16px">Play This Game!</span></b>
				</td>
			</tr>
			{% if line1 %}
				<tr>
					<td align="center">
						{% if game.item01 %}
							01: {{game.item01}}:
							<p>{{form.result01}}</p>
						{% endif %}
					</td>
					<td align="center">
						{% if game.item02 %}
							02: {{game.item02}}:
							<p>{{form.result02}}</p>
						{% endif %}
					</td>
				</tr>
				<tr><td colspan="2"></td></tr>
			{% endif %}
			{% if line2 %}
				<tr>
					<td align="center">
						{% if game.item03 %}
							03: {{game.item03}}:
							<p>{{form.result03}}</p>
						{% endif %}
					</td>
					<td align="center">
						{% if game.item04 %}
							04: {{game.item04}}:
							<p>{{form.result04}}</p>
						{% endif %}
					</td>
				</tr>
				<tr><td colspan="2"></td></tr>
			{% endif %}
			{% if line3 %}
				<tr>
					<td align="center">
						{% if game.item05 %}
							05: {{game.item05}}:
							<p>{{form.result05}}</p>
						{% endif %}
					</td>
					<td align="center">
						{% if game.item06 %}
							06: {{game.item06}}:
							<p>{{form.result06}}</p>
						{% endif %}
					</td>
				</tr>
				<tr><td colspan="2"></td></tr>
			{% endif %}
			{% if line4 %}
				<tr>
					<td align="center">
						{% if game.item07 %}
							07: {{game.item07}}:
							<p>{{form.result07}}</p>
						{% endif %}
					</td>
					<td align="center">
						{% if game.item08 %}
							08: {{game.item08}}:
							<p>{{form.result08}}</p>
						{% endif %}
					</td>
				</tr>
				<tr><td colspan="2"></td></tr>
			{% endif %}
			{% if line5 %}
				<tr>
					<td align="center">
						{% if game.item09 %}
							09: {{game.item09}}:
							<p>{{form.result01}}</p>
						{% endif %}
					</td>
					<td align="center">
						{% if game.item10 %}
							10: {{game.item10}}:
							<p>{{form.result10}}</p>
						{% endif %}
					</td>
				</tr>
				<tr><td colspan="2"></td></tr>
			{% endif %}
			<tr>
				<td>
					<input type="submit" name="submit" value="Play Game" />
				</td>
				<td align="right" style="padding-right:5px"><a href="/games/{{game.id}}/">Back to Game</a></td>
			</tr>
		</table>

	</form>

-->