{% extends "base.html" %}
{% load static %}
{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/all_games.css" %}">
	<script>
		$(function() {
			$( document ).tooltip();
		});
	</script>
	<style>
		label {
			display: inline-block;
			width: 5em;
		}
	</style>
{% endblock %}

{% block content %}

{% if games.count > 0 %}
			{% for game in games %}
				<div class="gamecard_public">
					<!-- round profile pic area -->
					<div class="gctop gc">
					    <div class="profile_pic">
					    	<a href="/games/{{game.id}}/">
								<img title="{{game.description|truncatewords:"20"}}" class="p_pic" src="{% get_static_prefix %}{{game.game_thumbnail}}"/>
							</a>
					    </div>
					    <div class="game_name gc">
					    	<span>
					    		<a href="/games/{{game.id}}/" title="{{game.description|truncatewords:"20"}}">{{game.name}}</a>
					    	</span>
					    </div>
					    <div class="game_creator gc">
					    	<span>
					    		<p>
					    			Created by <a href="/accounts/profile/{{game.createdby.id}}/">@{{game.createdby.username}}</a> on {{game.pubdate}}
					    		</p>
					    		<p>
					    			{% if game.createdby == thisuser %}
										<b>
											<a href="/games/{{game.id}}/edit/"><b>Edit</b></a>
										</b>
									{% endif %}
								</p>
					    	</span>
					    </div>
					    <div class="game_stats">
					    	<span>
								{{game.gamelikes.count}} Likes {{game.game_host.count}} Players 
								{% if game.private_game %}
									Private Game!
								{% endif %}
							</span>
						</div>
					</div>
					<div class="gcbottom"> 
						<!-- <span class="gcaccent gcactions"> -->
							{% if thisuser %}
								{% if game.gamelikes = thisuser %}
									{% if game.gamelikes.count = 1 %}
										<div class="column"><a href="/games/{{game.id}}/unlike/?next=/games/">1 Like</a></div>
									{% else %}
										<div class="column"><a href="/games/{{game.id}}/unlike/?next=/games/">{{game.gamelikes.count}} Likes</a></div>
									{% endif %}
								{% else %}
									{% if game.gamelikes.count = 1 %}
										<div class="column"><a href="/games/{{game.id}}/like/?next=/games/">1 Like</a></div>
									{% else %}
										<div class="column"><a href="/games/{{game.id}}/like/?next=/games/">{{game.gamelikes.count}} Likes</a></div>
									{% endif %}
								{% endif %}
								<div class="inbetween_column">|</div> 
								<div class="column">
									<a href="/games/{{game.id}}/play/">Play</a>
								</div>
								<div class="inbetween_column">|</div> 
								<div class="column"><a href="/games/{{game.id}}/" title="{{game.description|truncatewords:"20"}}">Moar</a></div>
							{% else %}
								{% if game.gamelikes.count = 1 %}
									<div class="column">1 Like</div>
								{% else %}
									<div class="column">{{game.gamelikes.count}} Likes</div>
								{% endif %}
								<div class="inbetween_column">|</div> 
								<div class="column"><a href="/accounts/login/">Play</a></div>
								<div class="inbetween_column">|</div> 
								<div class="column"><a href="/games/{{game.id}}/">Moar</a></div>
							{% endif %} 
						<!-- </span> -->
					</div>
				</div>
				<br />
			{% endfor %}
			<div class="pagination" align="right">
				<span class="step-links">
					{% if games.has_previous %}
						<a href="?page={{ games.previous_page_number }}">previous</a>
					{% endif %}

					<span class="current">
						Page {{ games.number }} of {{ games.paginator.num_pages }}
					</span>

					{% if games.has_next %}
						<a href="?page={{ games.next_page_number }}">next</a>
					{% endif %}
				</span>
			</div>
		{% else %}
			<p>No Games!</p>
		{% endif %}
{% endblock %}