{% extends "base.html" %}
{% load static %}
{% block title %}The Best Eye: View Player Photo{% endblock %}
{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/game.css" %}">
	<script type="text/javascript">
		function confirmDisqualify() {
			//display confirmation window which returns true or false
			if(!window.confirm("Are you sure you want to disqualify this player?")) return false;
			 
			//user clicked 'OK'
			window.location.href="/games/{{result.game.id}}/results/{{result.player.id}}/disqualify/"
			}
	</script>
{% endblock %}

{% block content %}

	<div id="whitebg">

		{% if result %}
				
			{% if item_id == "1" %}
				{% if result.result01crop %}
					<table width="100%" cellpadding="2">
						<tr>
							<td>
								<span class="heading16px">
									{% if game.createdby.user_object.avatar_thumbnail %}
										<img src="{% get_static_prefix %}{{game.createdby.user_object.avatar_thumbnail}}" width="50"> 
									{% else %}
										<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
									{% endif %}
									<b>01. {{game.item01}}:</b>
								</span>
							</td>
						</tr>
						<tr>
							<td align="center">
								<img src="{% get_static_prefix %}{{result.result01crop}}" width="700">
								<p>{{result.result01desc}}</p>
							</td>
						</tr>
						<tr>
							<td align="center">
								<a href="/games/{{game.id}}/results/{{result.player.id}}/">
									{% if result.player.user_object.avatar_thumbnail %}
										<img src="{% get_static_prefix %}{{result.player.user_object.avatar_thumbnail}}" width="50"> 
									{% else %}
										<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
									{% endif %}
									{{result.player.username}}: 
								</a>

								{% if request.user.is_authenticated %}
									{% if result01liked %}
										<a href="/games/{{game.id}}/results/{{result.player.id}}/item/1/unlike/?next=/games/{{game.id}}/item/1/results/{{result.player.id}}">
											<img 
												class="media_icon" 
												src="{% static "assets/images/heart-unlike-256.png" %}" 
												title="Unlike Game" 
											/> {{result.result01likes.count}} 
										</a>
									{% else %}
										{% if result.result01likes.count > 0 %}
											<a href="/games/{{game.id}}/results/{{result.player.id}}/item/1/like/?next=/games/{{game.id}}/item/1/results/{{result.player.id}}">
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-like-256.png" %}" 
													title="Like Game" 
												/> {{result.result01likes.count}} 
											</a>
										{% else %}
											<a href="/games/{{game.id}}/results/{{result.player.id}}/item/1/like/?next=/games/{{game.id}}/item/1/results/{{result.player.id}}">
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-like-256.png" %}" 
													title="Like Game" 
												/> 
											</a>
										{% endif %}
									{% endif %}
								{% else %}
									{% if result.result01likes.count > 0 %}
										<img 
											class="media_icon" 
											src="{% static "assets/images/heart-nolike-256.png" %}" 
											title="Like Game" 
										/> {{result.result01likes.count}}
									{% endif %}
								{% endif %}


<!--								{% if result.result01likes %}
									{% if result.result01likes.count = 1 %}
										1 like. 
									{% else %}
										{{result.result01likes.count}} likes. 
									{% endif %}
								{% else %}
									0 Likes 
								{% endif %}
								{% if thisuser %}
									<a href="/games/{{game.id}}/results/{{result.player.id}}/item/1/like/?next=/games/{{game.id}}/item/1/results/{{result.player.id}}">
										<b>Like!</b>
									</a>
								{% endif %} -->
							</td>
						</tr>
					</table>
					{% if game.createdby = thisuser %}
						<p><button onclick="confirmDisqualify();">Disqualify Result</button></p>
					{% endif %}
				{% endif %}
			{% endif %}

			{% if item_id == "2" %}
				{% if result.result02crop %}
					<table width="100%" cellpadding="2">
						<tr>
							<td>
								<span class="heading16px">
									{% if game.createdby.user_object.avatar_thumbnail %}
										<img src="{% get_static_prefix %}{{game.createdby.user_object.avatar_thumbnail}}" width="50"> 
									{% else %}
										<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
									{% endif %}
									<b>02. {{game.item02}}:</b>
								</span>
							</td>
						</tr>
						<tr>
							<td align="center">
								<img src="{% get_static_prefix %}{{result.result02crop}}" width="700">
								<p>{{result.result02desc}}</p>
							</td>
						</tr>
						<tr>
							<td align="center">
								<a href="/games/{{game.id}}/results/{{result.player.id}}/">
									{% if result.player.user_object.avatar_thumbnail %}
											<img src="{% get_static_prefix %}{{result.player.user_object.avatar_thumbnail}}" width="50"> 
									{% else %}
										<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
									{% endif %}
									{{result.player.username}}: 
								</a>
								
								{% if request.user.is_authenticated %}
									{% if result02liked %}
										<a href="/games/{{game.id}}/results/{{result.player.id}}/item/2/unlike/?next=/games/{{game.id}}/item/2/results/{{result.player.id}}">
											<img 
												class="media_icon" 
												src="{% static "assets/images/heart-unlike-256.png" %}" 
												title="Unlike Game" 
											/> {{result.result02likes.count}} 
										</a>
									{% else %}
										{% if result.result02likes.count > 0 %}
											<a href="/games/{{game.id}}/results/{{result.player.id}}/item/2/like/?next=/games/{{game.id}}/item/2/results/{{result.player.id}}">
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-like-256.png" %}" 
													title="Like Game" 
												/> {{result.result01likes.count}} 
											</a>
										{% else %}
											<a href="/games/{{game.id}}/results/{{result.player.id}}/item/2/like/?next=/games/{{game.id}}/item/2/results/{{result.player.id}}">
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-like-256.png" %}" 
													title="Like Game" 
												/> 
											</a>
										{% endif %}
									{% endif %}
								{% else %}
									{% if result.result02likes.count > 0 %}
										<img 
											class="media_icon" 
											src="{% static "assets/images/heart-nolike-256.png" %}" 
											title="Like Game" 
										/> {{result.result02likes.count}}
									{% endif %}
								{% endif %}

							</td>
						</tr>
					</table>
					{% if game.createdby = thisuser %}
						<p><button onclick="confirmDisqualify();">Disqualify Result</button></p>
					{% endif %}
				{% endif %}
			{% endif %}

			{% if item_id == "3" %}
				{% if result.result03crop %}
					<table width="100%" cellpadding="2">
						<tr>
							<td>
								<span class="heading16px">
									{% if game.createdby.user_object.avatar_thumbnail %}
										<img src="{% get_static_prefix %}{{game.createdby.user_object.avatar_thumbnail}}" width="50"> 
									{% else %}
										<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
									{% endif %}
									<b>03. {{game.item03}}:</b>
								</span>
							</td>
						</tr>
						<tr>
							<td align="center">
								<img src="{% get_static_prefix %}{{result.result03crop}}" width="700">
								<p>{{result.result03desc}}</p>
							</td>
						</tr>
						<tr>
							<td align="center">
								<a href="/games/{{game.id}}/results/{{result.player.id}}/">
									{% if result.player.user_object.avatar_thumbnail %}
											<img src="{% get_static_prefix %}{{result.player.user_object.avatar_thumbnail}}" width="50"> 
									{% else %}
										<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
									{% endif %}
									{{result.player.username}}: 
								</a>
								
								{% if request.user.is_authenticated %}
									{% if result03liked %}
										<a href="/games/{{game.id}}/results/{{result.player.id}}/item/3/unlike/?next=/games/{{game.id}}/item/3/results/{{result.player.id}}">
											<img 
												class="media_icon" 
												src="{% static "assets/images/heart-unlike-256.png" %}" 
												title="Unlike Game" 
											/> {{result.result03likes.count}} 
										</a>
									{% else %}
										{% if result.result03likes.count > 0 %}
											<a href="/games/{{game.id}}/results/{{result.player.id}}/item/3/like/?next=/games/{{game.id}}/item/3/results/{{result.player.id}}">
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-like-256.png" %}" 
													title="Like Game" 
												/> {{result.result03likes.count}} 
											</a>
										{% else %}
											<a href="/games/{{game.id}}/results/{{result.player.id}}/item/3/like/?next=/games/{{game.id}}/item/3/results/{{result.player.id}}">
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-like-256.png" %}" 
													title="Like Game" 
												/> 
											</a>
										{% endif %}
									{% endif %}
								{% else %}
									{% if result.result03likes.count > 0 %}
										<img 
											class="media_icon" 
											src="{% static "assets/images/heart-nolike-256.png" %}" 
											title="Like Game" 
										/> {{result.result03likes.count}}
									{% endif %}
								{% endif %}

							</td>
						</tr>
					</table>
					{% if game.createdby = thisuser %}
						<p><button onclick="confirmDisqualify();">Disqualify Result</button></p>
					{% endif %}
				{% endif %}
			{% endif %}

			{% if item_id == "4" %}
				{% if result.result04crop %}
					<table width="100%" cellpadding="2">
						<tr>
							<td>
								<span class="heading16px">
									{% if game.createdby.user_object.avatar_thumbnail %}
										<img src="{% get_static_prefix %}{{game.createdby.user_object.avatar_thumbnail}}" width="50"> 
									{% else %}
										<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
									{% endif %}
									<b>04. {{game.item04}}:</b>
								</span>
							</td>
						</tr>
						<tr>
							<td align="center">
								<img src="{% get_static_prefix %}{{result.result04crop}}" width="700">
								<p>{{result.result04desc}}</p>
							</td>
						</tr>
						<tr>
							<td align="center">
								<a href="/games/{{game.id}}/results/{{result.player.id}}/">
									{% if result.player.user_object.avatar_thumbnail %}
											<img src="{% get_static_prefix %}{{result.player.user_object.avatar_thumbnail}}" width="50"> 
									{% else %}
										<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
									{% endif %}
									{{result.player.username}}: 
								</a>
								
								{% if request.user.is_authenticated %}
									{% if result04liked %}
										<a href="/games/{{game.id}}/results/{{result.player.id}}/item/4/unlike/?next=/games/{{game.id}}/item/4/results/{{result.player.id}}">
											<img 
												class="media_icon" 
												src="{% static "assets/images/heart-unlike-256.png" %}" 
												title="Unlike Game" 
											/> {{result.result04likes.count}} 
										</a>
									{% else %}
										{% if result.result04likes.count > 0 %}
											<a href="/games/{{game.id}}/results/{{result.player.id}}/item/4/like/?next=/games/{{game.id}}/item/4/results/{{result.player.id}}">
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-like-256.png" %}" 
													title="Like Game" 
												/> {{result.result04likes.count}} 
											</a>
										{% else %}
											<a href="/games/{{game.id}}/results/{{result.player.id}}/item/4/like/?next=/games/{{game.id}}/item/4/results/{{result.player.id}}">
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-like-256.png" %}" 
													title="Like Game" 
												/> 
											</a>
										{% endif %}
									{% endif %}
								{% else %}
									{% if result.result04likes.count > 0 %}
										<img 
											class="media_icon" 
											src="{% static "assets/images/heart-nolike-256.png" %}" 
											title="Like Game" 
										/> {{result.result04likes.count}}
									{% endif %}
								{% endif %}

							</td>
						</tr>
					</table>
					{% if game.createdby = thisuser %}
						<p><button onclick="confirmDisqualify();">Disqualify Result</button></p>
					{% endif %}
				{% endif %}
			{% endif %}

			{% if item_id == "5" %}
				{% if result.result05 %}
					<table width="100%" cellpadding="2">
						<tr>
							<td colspan="2">
								<span class="heading16px">
									{% if game.createdby.user_object.avatar %}
										<img src="{% get_static_prefix %}{{game.createdby.user_object.avatar}}" width="50"> 
									{% else %}
										<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
									{% endif %}
									<b>05. {{game.item05}}:</b>
								</span>
							</td>
						</tr>
						<tr>
							<td align="right" valign="top">
								<a href="/games/{{game.id}}/results/{{result.player.id}}/">
									{% if result.player.user_object.avatar %}
											<img src="{% get_static_prefix %}{{result.player.user_object.avatar}}" width="50"> 
									{% else %}
										<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
									{% endif %}
									{{result.player.username}}: 
							</td>
							<td>
								<img src="{% get_static_prefix %}{{result.result05}}" width="200">
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								{% if result.result05likes %}
									{% if result.result05likes.count = 1 %}
										1 like. 
									{% else %}
										{{result.result05likes.count}} likes. 
									{% endif %}
								{% else %}
									0 Likes 
								{% endif %}
								<a href="/games/{{game.id}}/results/{{result.player.id}}/item/5/like/?next=/games/{{game.id}}/item/5/results/{{result.player.id}}">
									<b>Like!</b>
								</a>
							</td>
						</tr>
					</table>
					<p><button onclick="confirmDisqualify();">Disqualify Result</button></p>
				{% endif %}
			{% endif %}

			{% if item_id == "6" %}
				{% if result.result06 %}
					<table width="100%" cellpadding="2">
						<tr>
							<td colspan="2">
								<span class="heading16px">
									{% if game.createdby.user_object.avatar %}
										<img src="{% get_static_prefix %}{{game.createdby.user_object.avatar}}" width="50"> 
									{% else %}
										<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
									{% endif %}
									<b>06. {{game.item06}}:</b>
								</span>
							</td>
						</tr>
						<tr>
							<td align="right" valign="top">
								<a href="/games/{{game.id}}/results/{{result.player.id}}/">
									{% if result.player.user_object.avatar %}
											<img src="{% get_static_prefix %}{{result.player.user_object.avatar}}" width="50"> 
									{% else %}
										<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
									{% endif %}
									{{result.player.username}}: 
							</td>
							<td>
								<img src="{% get_static_prefix %}{{result.result06}}" width="200">
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								{% if result.result06likes %}
									{% if result.result06likes.count = 1 %}
										1 like. 
									{% else %}
										{{result.result06likes.count}} likes. 
									{% endif %}
								{% else %}
									0 Likes 
								{% endif %}
								<a href="/games/{{game.id}}/results/{{result.player.id}}/item/6/like/?next=/games/{{game.id}}/item/6/results/{{result.player.id}}">
									<b>Like!</b>
								</a>
							</td>
						</tr>
					</table>
					<p><button onclick="confirmDisqualify();">Disqualify Result</button></p>
				{% endif %}
			{% endif %}

			{% if item_id == "7" %}
				{% if result.result07 %}
					<table width="100%" cellpadding="2">
						<tr>
							<td colspan="2">
								<span class="heading16px">
									{% if game.createdby.user_object.avatar %}
										<img src="{% get_static_prefix %}{{game.createdby.user_object.avatar}}" width="50"> 
									{% else %}
										<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
									{% endif %}
									<b>07. {{game.item07}}:</b>
								</span>
							</td>
						</tr>
						<tr>
							<td align="right" valign="top">
								<a href="/games/{{game.id}}/results/{{result.player.id}}/">
									{% if result.player.user_object.avatar %}
											<img src="{% get_static_prefix %}{{result.player.user_object.avatar}}" width="50"> 
									{% else %}
										<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
									{% endif %}
									{{result.player.username}}: 
							</td>
							<td>
								<img src="{% get_static_prefix %}{{result.result01}}" width="200">
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								{% if result.result07likes %}
									{% if result.result07likes.count = 1 %}
										1 like. 
									{% else %}
										{{result.result07likes.count}} likes. 
									{% endif %}
								{% else %}
									0 Likes 
								{% endif %}
								<a href="/games/{{game.id}}/results/{{result.player.id}}/item/7/like/?next=/games/{{game.id}}/item/7/results/{{result.player.id}}">
									<b>Like!</b>
								</a>
							</td>
						</tr>
					</table>
					<p><button onclick="confirmDisqualify();">Disqualify Result</button></p>
				{% endif %}
			{% endif %}

			{% if item_id == "8" %}
				{% if result.result08 %}
					<table width="100%" cellpadding="2">
						<tr>
							<td colspan="2">
								<span class="heading16px">
									{% if game.createdby.user_object.avatar %}
										<img src="{% get_static_prefix %}{{game.createdby.user_object.avatar}}" width="50"> 
									{% else %}
										<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
									{% endif %}
									<b>08. {{game.item08}}:</b>
								</span>
							</td>
						</tr>
						<tr>
							<td align="right" valign="top">
								<a href="/games/{{game.id}}/results/{{result.player.id}}/">
									{% if result.player.user_object.avatar %}
											<img src="{% get_static_prefix %}{{result.player.user_object.avatar}}" width="50"> 
									{% else %}
										<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
									{% endif %}
									{{result.player.username}}: 
							</td>
							<td>
								<img src="{% get_static_prefix %}{{result.result01}}" width="200">
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								{% if result.result08likes %}
									{% if result.result08likes.count = 1 %}
										1 like. 
									{% else %}
										{{result.result08likes.count}} likes. 
									{% endif %}
								{% else %}
									0 Likes 
								{% endif %}
								<a href="/games/{{game.id}}/results/{{result.player.id}}/item/8/like/?next=/games/{{game.id}}/item/8/results/{{result.player.id}}">
									<b>Like!</b>
								</a>
							</td>
						</tr>
					</table>
					<p><button onclick="confirmDisqualify();">Disqualify Result</button></p>
				{% endif %}
			{% endif %}

			{% if item_id == "9" %}
				{% if result.result09 %}
					<table width="100%" cellpadding="2">
						<tr>
							<td colspan="2">
								<span class="heading16px">
									{% if game.createdby.user_object.avatar %}
										<img src="{% get_static_prefix %}{{game.createdby.user_object.avatar}}" width="50"> 
									{% else %}
										<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
									{% endif %}
									<b>09. {{game.item09}}:</b>
								</span>
							</td>
						</tr>
						<tr>
							<td align="right" valign="top">
								<a href="/games/{{game.id}}/results/{{result.player.id}}/">
									{% if result.player.user_object.avatar %}
											<img src="{% get_static_prefix %}{{result.player.user_object.avatar}}" width="50"> 
									{% else %}
										<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
									{% endif %}
									{{result.player.username}}: 
							</td>
							<td>
								<img src="{% get_static_prefix %}{{result.result01}}" width="200">
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								{% if result.result09likes %}
									{% if result.result09likes.count = 1 %}
										1 like. 
									{% else %}
										{{result.result09likes.count}} likes. 
									{% endif %}
								{% else %}
									0 Likes 
								{% endif %}
								<a href="/games/{{game.id}}/results/{{result.player.id}}/item/9/like/?next=/games/{{game.id}}/item/9/results/{{result.player.id}}">
									<b>Like!</b>
								</a>
							</td>
						</tr>
					</table>
					<p><button onclick="confirmDisqualify();">Disqualify Result</button></p>
				{% endif %}
			{% endif %}

			{% if item_id == "10" %}
				{% if result.result10 %}
					<table width="100%" cellpadding="2">
						<tr>
							<td colspan="2">
								<span class="heading16px">
									{% if game.createdby.user_object.avatar %}
										<img src="{% get_static_prefix %}{{game.createdby.user_object.avatar}}" width="50"> 
									{% else %}
										<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
									{% endif %}
									<b>10. {{game.item10}}:</b>
								</span>
							</td>
						</tr>
						<tr>
							<td align="right" valign="top">
								<a href="/games/{{game.id}}/results/{{result.player.id}}/">
									{% if result.player.user_object.avatar %}
											<img src="{% get_static_prefix %}{{result.player.user_object.avatar}}" width="50"> 
									{% else %}
										<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
									{% endif %}
									{{result.player.username}}: 
							</td>
							<td>
								<img src="{% get_static_prefix %}{{result.result10}}" width="200">
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								{% if result.result10likes %}
									{% if result.result10likes.count = 1 %}
										1 like. 
									{% else %}
										{{result.result10likes.count}} likes. 
									{% endif %}
								{% else %}
									0 Likes 
								{% endif %}
								<a href="/games/{{game.id}}/results/{{result.player.id}}/item/10/like/?next=/games/{{game.id}}/item/10/results/{{result.player.id}}">
									<b>Like!</b>
								</a>
							</td>
						</tr>
					</table>
					<p><button onclick="confirmDisqualify();">Disqualify Result</button></p>
				{% endif %}
			{% endif %}







			<table width="100%" cellpadding="2">
				{% if comments %}
						<tr>
							<td colspan="2">
								<span class="small_font">
									Comments on <b>{{result.player.username}}</b>'s Results:
								</span>
							</td>
						</tr>
					{% else %}
						{% if thisuser %}
							<tr>
								<td colspan="2">
									<span class="small_font">
										Comment on <b>{{result.player.username}}</b>'s Results:
									</span>
								</td>
							</tr>
						{% endif %}
					{% endif %}
				{% for comment in comments %}
					<tr>
						<td rowspan="2" valign="top" align="right" width="15%">
							{% if comment.usertocomment.user_object.avatar_thumbnail %}
								<img src="{% get_static_prefix %}{{comment.usertocomment.user_object.avatar_thumbnail}}" alt="thumbnail" width="50"/> 
							{% else %}
								<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
							{% endif %}
						</td>
						<td>
							<a href="/accounts/profile/{{comment.usertocomment.id}}/"><b>{{comment.usertocomment.username}}:</b></a> 
							{{comment.comment}} 
						</td>
					</tr>
					<tr>
						<td colspan="2" valign="top">
							{% if request.user.is_authenticated %}
								{% if comment.liked %}
									<a href="/games/{{game.id}}/item/{{item_id}}/results/{{result.player.id}}/comment/{{comment.unique_id}}/unlike/?next=/games/{{game.id}}/item/{{item_id}}/results/{{result.player.id}}/">
										<img 
											class="comment_icon" 
											src="{% static "assets/images/heart-unlike-256.png" %}" 
											title="Unlike Photo" 
										/> {{comment.resultitemcommentlikes.count}} 
									</a>
								{% else %}
									{% if comment.resultitemcommentlikes.count > 0 %}
										<a href="/games/{{game.id}}/item/{{item_id}}/results/{{result.player.id}}/comment/{{comment.unique_id}}/like/?next=/games/{{game.id}}/item/{{item_id}}/results/{{result.player.id}}/">
											<img 
												class="comment_icon" 
												src="{% static "assets/images/heart-like-256.png" %}" 
												title="Like Photo" 
											/> {{comment.resultitemcommentlikes.count}} 
										</a>
									{% else %}
										<a href="/games/{{game.id}}/item/{{item_id}}/results/{{result.player.id}}/comment/{{comment.unique_id}}/like/?next=/games/{{game.id}}/item/{{item_id}}/results/{{result.player.id}}/">
											<img 
												class="comment_icon" 
												src="{% static "assets/images/heart-like-256.png" %}" 
												title="Like Photo" 
											/> 
										</a>
									{% endif %}
								{% endif %}
							{% else %}
								{% if comment.resultitemcommentlikes.count > 0 %}
									<img 
										class="comment_icon" 
										src="{% static "assets/images/heart-nolike-256.png" %}" 
										title="Like Game" 
									/> {{comment.resultitemcommentlikes.count}} 
								{% endif %}
							{% endif %}

<!--							{{comment.resultitemcommentlikes.count}} likes. 
							{% if thisuser %}
								{% if comment.liked %}
									<a href="/games/{{game.id}}/item/{{item_id}}/results/{{result.player.id}}/comment/{{comment.unique_id}}/unlike/?next=/games/{{game.id}}/item/{{item_id}}/results/{{result.player.id}}/">
										<b>Unlike!</b>
									</a>
								{% else %}
										<a href="/games/{{game.id}}/item/{{item_id}}/results/{{result.player.id}}/comment/{{comment.unique_id}}/like/?next=/games/{{game.id}}/item/{{item_id}}/results/{{result.player.id}}/">
										<b>Like!</b>
									</a>
								{% endif %}
							{% endif %} -->
							<span class="small_font">
								<i>Posted on {{comment.pubdate}}</i> 
								{% if comment.usertocomment == thisuser %}
									<a href="/games/{{game.id}}/item/{{item_id}}/results/{{result.player.id}}/comment/{{comment.unique_id}}/edit/">
										<b>Edit</b></a>
								{% endif %}
							</span>
						</td>
					</tr>
					<tr><td colspan="2"></td></tr>
				{% endfor %}
				{% if thisuser %}
					<tr>
						<td></td>
						<td>
							<form action="/games/{{game.id}}/item/{{item_id}}/results/{{result.player.id}}/new_comment/?next=/games/{{game.id}}/item/{{item_id}}/results/{{result.player.id}}" 
							method="post">
								{% csrf_token %}
								<input type="text" name="comment" id="comment" placeholder="Comment" size="40" />
								<input type="submit" name="newcomment" id="newcomment" value="New Comment" />
							</form>
						</td>
					</tr>
				{% endif %}
			</table>
			<table width="100%">
				<tr>
					<td width="50%">
						<a href="/games/{{game.id}}/item/{{item_id}}/results/">Back to Item Results</a>
					</td>
					<td align="right">
						<a href="/games/{{game.id}}/">Back to Game</a>
					</td>
				</tr>
			</table>
		{% else %}
			<p>None to show!</p>
			<p><a href="/games/"><b>Back to Games</b></a></p>
		{% endif %}

	</div>

{% endblock %}