{% extends "base.html" %}
{% load static %}
{% block title %}The Best Eye: View Photo Results{% endblock %}
{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/game.css" %}">
{% endblock %}

{% block content %}

		{% if item_results %}
			
			{% if item_id == "1" %}

				<p>
					<div class="heading2">
						<img 
							class="heading_icon" 
							src="{% static "assets/images/game-puzzle-256.png" %}" 
						/>
						{% if game.createdby.user_object.avatar_thumbnail %}
							<img src="{% get_static_prefix %}{{game.createdby.user_object.avatar_thumbnail}}" width="50"> 
						{% endif %}
							<b>01. {{game.item01}}:</b>
					</div>
				</p>
				
				{% for item in item_results %}
					{% if item.disqualified %}
					{% else %}
						<div id="whitebg">
							<table width="100%" cellpadding="2">
								{% if item.result01crop %}
									<tr>
										<td align="center">
											<br />
											<a href="/games/{{game.id}}/item/1/results/{{item.player.id}}/">
												<img 
												src="{% get_static_prefix %}{{item.result01crop}}" 
												title="{{item.result01desc|truncatewords:"20"}}"
												width="700">
												<p><b>{{item.result01desc}}</b></p>
											</a>
											<a href="/games/{{game.id}}/results/{{item.player.id}}/">
												{% if item.player.user_object.avatar_thumbnail %}
													<img src="{% get_static_prefix %}{{item.player.user_object.avatar_thumbnail}}" width="50"> 
												{% else %}
													<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
												{% endif %}
												@{{item.player.username}}: 
											</a>
											{% if thisuser %}
												{% if item.photo01liked %}
													<a href="/games/{{game.id}}/results/{{item.player.id}}/item/{{item_id}}/unlike/?next=/games/{{game.id}}/item/{{item_id}}/">
														<img 
															class="media_icon" 
															src="{% static "assets/images/heart-unlike-256.png" %}" 
															title="Unlike Game" 
														/> {{item.result01likes.count}}
													</a>
												{% else %}
													<a href="/games/{{game.id}}/results/{{item.player.id}}/item/{{item_id}}/like/?next=/games/{{game.id}}/item/{{item_id}}/">
														<img 
															class="media_icon" 
															src="{% static "assets/images/heart-like-256.png" %}" 
															title="Like Game" 
														/> {{item.result01likes.count}}
													</a>
												{% endif %}
											{% else %}
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-nolike-256.png" %}" 
													title="Like Game" 
												/> {{item.result01likes.count}}
											{% endif %}
										</td>
									</tr>
									<tr><td><br /></td></tr>
								{% endif %}
							</table>
						</div>
					{% endif %}
					<table width="700" align="center">
						{% if item.photo01comments %}
							<tr>
								<td colspan="2">
									<p>Comments:</p>
								</td>
							</tr>
							{% for photo01comment in item.photo01comments %}
								<tr>
									<td rowspan="2" valign="top" align="right" width="100">
										{% if photo01comment.usertocomment.user_object.avatar_thumbnail %}
											<img src="{% get_static_prefix %}{{photo01comment.usertocomment.user_object.avatar_thumbnail}}" alt="thumbnail" width="50"/>
										{% else %}
											<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
										{% endif %}
									</td>
									<td>
										<a href="/accounts/profile/{{photo01comment.usertocomment.id}}/">
											<b>{{photo01comment.usertocomment.username}}:</b>
										</a> 
										{{photo01comment.comment}} 
									</td>
								</tr>
								<tr>
									<td colspan="2">
										{% if thisuser %}
											{% if photo01comment.liked %}
												<a href="/games/{{game.id}}/item/1/results/{{item.player.id}}/comment/{{photo01comment.unique_id}}/unlike/?next=/games/{{game.id}}/item/1/" />
													<img 
														class="comment_icon" 
														src="{% static "assets/images/heart-unlike-256.png" %}" 
														title="Unlike Photo" 
													/> {{photo01comment.resultitemcommentlikes.count}} 
												</a>
											{% else %}
												<a href="/games/{{game.id}}/item/1/results/{{item.player.id}}/comment/{{photo01comment.unique_id}}/like/?next=/games/{{game.id}}/item/1/" />
													<img 
														class="comment_icon" 
														src="{% static "assets/images/heart-like-256.png" %}" 
														title="Like Photo" 
													/> {{photo01comment.resultitemcommentlikes.count}} 
												</a>
											{% endif %}
										{% else %}
											<img 
												class="comment_icon" 
												src="{% static "assets/images/heart-nolike-256.png" %}" 
												title="Like Game" 
											/> {{photo01comment.resultitemcommentlikes.count}} 
										{% endif %}
										<span class="small_font">
											<i>Posted on {{photo01comment.pubdate}}</i> 
											{% if photo01comment.usertocomment == thisuser %}
												<a href="/games/{{game.id}}/item/1/results/{{item.player.id}}/comment/{{photo01comment.unique_id}}/edit/">
													<b>Edit</b>
												</a>
											{% endif %}
										</span>
									</td>
								</tr>
								<tr><td colspan="2"></td></tr>
							{% endfor %}
						{% endif %}
						{% if item.result01crop %}
							{% if thisuser %}
								<tr><td colspan="2">
									<form 
										action="/games/{{game.id}}/item/1/results/{{item.player.id}}/new_comment/?next=/games/{{game.id}}/photos/" 
										method="post"
										>
										{% csrf_token %}
										<input type="text" name="comment" id="comment" placeholder="Comment" size="40" />
										<input type="submit" name="newcomment" id="newcomment" value="New Comment" />
									</form>
								</td></tr>
							{% endif %}
						{% endif %}
					</table>
					<br />
				{% endfor %}

			{% endif %}

			{% if item_id == "2" %}
				
				<p>
					<div class="heading2">
						<img 
							class="heading_icon" 
							src="{% static "assets/images/game-puzzle-256.png" %}" 
						/>
						{% if game.createdby.user_object.avatar_thumbnail %}
							<img src="{% get_static_prefix %}{{game.createdby.user_object.avatar_thumbnail}}" width="50"> 
						{% endif %}
							<b>02. {{game.item02}}:</b>
					</div>
				</p>

				{% for item in item_results %}
					{% if item.disqualified %}
					{% else %}
						<div id="whitebg">

							<table width="100%" cellpadding="2">
								{% if item.result02crop %}
									<tr>
										<td align="center">
											<br />
											<a href="/games/{{game.id}}/item/2/results/{{item.player.id}}/">
												<img 
												src="{% get_static_prefix %}{{item.result02crop}}" 
												title="{{item.result02desc|truncatewords:"20"}}" 
												width="700">
												<p><b>{{item.result02desc}}</b></p>
											</a>
											<a href="/games/{{game.id}}/results/{{item.player.id}}/">
												{% if item.player.user_object.avatar_thumbnail %}
													<img src="{% get_static_prefix %}{{item.player.user_object.avatar_thumbnail}}" width="50"> 
												{% endif %}
												{{item.player.username}}: 
											</a>
											{% if thisuser %}
												{% if item.photo02liked %}
													<a href="/games/{{game.id}}/results/{{item.player.id}}/item/{{item_id}}/unlike/?next=/games/{{game.id}}/item/{{item_id}}/">
														<img 
															class="media_icon" 
															src="{% static "assets/images/heart-unlike-256.png" %}" 
															title="Unlike Game" 
														/> {{item.result02likes.count}}
													</a>
												{% else %}
													<a href="/games/{{game.id}}/results/{{item.player.id}}/item/{{item_id}}/like/?next=/games/{{game.id}}/item/{{item_id}}/">
														<img 
															class="media_icon" 
															src="{% static "assets/images/heart-like-256.png" %}" 
															title="Like Game" 
														/> {{item.result02likes.count}}
													</a>
												{% endif %}
											{% else %}
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-nolike-256.png" %}" 
													title="Like Game" 
												/> {{item.result02likes.count}}
											{% endif %}
										</td>
									</tr>
									<tr><td><br /></td></tr>
								{% endif %}
							</table>
						</div>
						<table width="700" align="center">
							{% if item.photo02comments %}
								<tr>
									<td colspan="2">
										<p>Comments:</p>
									</td>
								</tr>
								{% for photo02comment in item.photo02comments %}
									<tr>
										<td rowspan="2" valign="top" align="right" width="100">
											{% if photo02comment.usertocomment.user_object.avatar_thumbnail %}
												<img src="{% get_static_prefix %}{{photo02comment.usertocomment.user_object.avatar_thumbnail}}" alt="thumbnail" width="50"/>
											{% else %}
												<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
											{% endif %}
										</td>
										<td>
											<a href="/accounts/profile/{{photo02comment.usertocomment.id}}/">
												<b>{{photo02comment.usertocomment.username}}:</b>
											</a> 
											{{photo02comment.comment}} 
										</td>
									</tr>
									<tr>
										<td colspan="2">
											{% if thisuser %}
												{% if photo02comment.liked %}
													<a href="/games/{{game.id}}/item/2/results/{{item.player.id}}/comment/{{photo02comment.unique_id}}/unlike/?next=/games/{{game.id}}/item/2/" />
														<img 
															class="comment_icon" 
															src="{% static "assets/images/heart-unlike-256.png" %}" 
															title="Unlike Photo" 
														/> {{photo02comment.resultitemcommentlikes.count}} 
													</a>
												{% else %}
													<a href="/games/{{game.id}}/item/2/results/{{item.player.id}}/comment/{{photo02comment.unique_id}}/like/?next=/games/{{game.id}}/item/2/" />
														<img 
															class="comment_icon" 
															src="{% static "assets/images/heart-like-256.png" %}" 
															title="Like Photo" 
														/> {{photo02comment.resultitemcommentlikes.count}} 
													</a>
												{% endif %}
											{% else %}
												<img 
													class="comment_icon" 
													src="{% static "assets/images/heart-nolike-256.png" %}" 
													title="Like Game" 
												/> {{photo02comment.resultitemcommentlikes.count}} 
											{% endif %}
											<span class="small_font">
												<i>Posted on {{photo02comment.pubdate}}</i> 
												{% if photo02comment.usertocomment == thisuser %}
													<a href="/games/{{game.id}}/item/2/results/{{item.player.id}}/comment/{{photo02comment.unique_id}}/edit/">
														<b>Edit</b>
													</a>
												{% endif %}
											</span>
										</td>
									</tr>
									<tr><td colspan="2"></td></tr>
								{% endfor %}
							{% endif %}
							{% if item.result02crop %}
								{% if thisuser %}
									<tr><td colspan="2">
										<form 
											action="/games/{{game.id}}/item/2/results/{{item.player.id}}/new_comment/?next=/games/{{game.id}}/photos/" 
											method="post"
											>
											{% csrf_token %}
											<input type="text" name="comment" id="comment" placeholder="Comment" size="40" />
											<input type="submit" name="newcomment" id="newcomment" value="New Comment" />
										</form>
									</td></tr>
								{% endif %}
							{% endif %}
							<br />
						{% endif %}
					</table>
				{% endfor %}
			{% endif %}

			{% if item_id == "3" %}
				
				<p>
					<div class="heading2">
						<img 
							class="heading_icon" 
							src="{% static "assets/images/game-puzzle-256.png" %}" 
						/>
						{% if game.createdby.user_object.avatar_thumbnail %}
							<img src="{% get_static_prefix %}{{game.createdby.user_object.avatar_thumbnail}}" width="50"> 
						{% endif %}
							<b>03. {{game.item03}}:</b>
					</div>
				</p>

				{% for item in item_results %}
					{% if item.disqualified %}
					{% else %}
						<div id="whitebg">

							<table width="100%" cellpadding="2">

								{% if item.result03crop %}
									<tr>
										<td align="center">
											<br />
											<a href="/games/{{game.id}}/item/3/results/{{item.player.id}}/">
												<img 
												src="{% get_static_prefix %}{{item.result03crop}}" 
												title="{{item.result03desc|truncatewords:"20"}}" 
												width="700">
												<p><b>{{item.result03desc}}</b></p>
											</a>
											<a href="/games/{{game.id}}/results/{{item.player.id}}/">
												{% if item.player.user_object.avatar_thumbnail %}
													<img src="{% get_static_prefix %}{{item.player.user_object.avatar_thumbnail}}" width="50"> 
												{% endif %}
												{{item.player.username}}: 
											</a>
											{% if thisuser %}
												{% if item.photo03liked %}
													<a href="/games/{{game.id}}/results/{{item.player.id}}/item/{{item_id}}/unlike/?next=/games/{{game.id}}/item/{{item_id}}/">
														<img 
															class="media_icon" 
															src="{% static "assets/images/heart-unlike-256.png" %}" 
															title="Unlike Game" 
														/> {{item.result03likes.count}}
													</a>
												{% else %}
													<a href="/games/{{game.id}}/results/{{item.player.id}}/item/{{item_id}}/like/?next=/games/{{game.id}}/item/{{item_id}}/">
														<img 
															class="media_icon" 
															src="{% static "assets/images/heart-like-256.png" %}" 
															title="Like Game" 
														/> {{item.result03likes.count}}
													</a>
												{% endif %}
											{% else %}
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-nolike-256.png" %}" 
													title="Like Game" 
												/> {{item.result03likes.count}}
											{% endif %}
										</td>
									</tr>
									<tr><td><br /></td></tr>
								{% endif %}
							</table>
						</div>
						<table width="700" align="center">
							{% if item.photo03comments %}
								<tr>
									<td colspan="2">
										<p>Comments:</p>
									</td>
								</tr>
								{% for photo03comment in item.photo03comments %}
									<tr>
										<td rowspan="2" valign="top" align="right" width="100">
											{% if photo03comment.usertocomment.user_object.avatar_thumbnail %}
												<img src="{% get_static_prefix %}{{photo03comment.usertocomment.user_object.avatar_thumbnail}}" alt="thumbnail" width="50"/>
											{% else %}
												<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
											{% endif %}
										</td>
										<td>
											<a href="/accounts/profile/{{photo03comment.usertocomment.id}}/">
												<b>{{photo03comment.usertocomment.username}}:</b>
											</a> 
											{{photo03comment.comment}} 
										</td>
									</tr>
									<tr>
										<td colspan="2">
											{% if thisuser %}
												{% if photo03comment.liked %}
													<a href="/games/{{game.id}}/item/3/results/{{item.player.id}}/comment/{{photo03comment.unique_id}}/unlike/?next=/games/{{game.id}}/item/3/" />
														<img 
															class="comment_icon" 
															src="{% static "assets/images/heart-unlike-256.png" %}" 
															title="Unlike Photo" 
														/> {{photo03comment.resultitemcommentlikes.count}} 
													</a>
												{% else %}
													<a href="/games/{{game.id}}/item/3/results/{{item.player.id}}/comment/{{photo03comment.unique_id}}/like/?next=/games/{{game.id}}/item/3/" />
														<img 
															class="comment_icon" 
															src="{% static "assets/images/heart-like-256.png" %}" 
															title="Like Photo" 
														/> {{photo03comment.resultitemcommentlikes.count}} 
													</a>
												{% endif %}
											{% else %}
												<img 
													class="comment_icon" 
													src="{% static "assets/images/heart-nolike-256.png" %}" 
													title="Like Game" 
												/> {{photo03comment.resultitemcommentlikes.count}} 
											{% endif %}
											<span class="small_font">
												<i>Posted on {{photo03comment.pubdate}}</i> 
												{% if comment.usertocomment == thisuser %}
													<a href="/games/{{game.id}}/item/31/results/{{item.player.id}}/comment/{{photo03comment.unique_id}}/edit/">
														<b>Edit</b>
													</a>
												{% endif %}
											</span>
										</td>
									</tr>
									<tr><td colspan="2"></td></tr>
								{% endfor %}
							{% endif %}
							{% if item.result03crop %}
								{% if thisuser %}
									<tr><td colspan="2">
										<form 
											action="/games/{{game.id}}/item/3/results/{{item.player.id}}/new_comment/?next=/games/{{game.id}}/photos/" 
											method="post"
											>
											{% csrf_token %}
											<input type="text" name="comment" id="comment" placeholder="Comment" size="40" />
											<input type="submit" name="newcomment" id="newcomment" value="New Comment" />
										</form>
									</td></tr>
								{% endif %}
							{% endif %}
						</table>
						<br />
					{% endif %}
				{% endfor %}

			{% endif %}

			{% if item_id == "4" %}

				<p>
					<div class="heading2">
						<img 
							class="heading_icon" 
							src="{% static "assets/images/game-puzzle-256.png" %}" 
						/>
						{% if game.createdby.user_object.avatar_thumbnail %}
							<img src="{% get_static_prefix %}{{game.createdby.user_object.avatar_thumbnail}}" width="50"> 
						{% endif %}
							<b>04. {{game.item04}}:</b>
					</div>
				</p>
				
				{% for item in item_results %}
					{% if item.disqualified %}
					{% else %}
						<div id="whitebg">
							<table width="100%" cellpadding="2">
								{% if item.result04crop %}
									<tr>
										<td align="center">
											<br />
											<a href="/games/{{game.id}}/item/4/results/{{item.player.id}}/">
												<img 
												src="{% get_static_prefix %}{{item.result04crop}}" 
												title="{{item.result04desc|truncatewords:"20"}}" 
												width="700">
												<p><b>{{item.result04desc}}</b></p>
											</a>
											<a href="/games/{{game.id}}/results/{{item.player.id}}/">
												{% if item.player.user_object.avatar_thumbnail %}
													<img src="{% get_static_prefix %}{{item.player.user_object.avatar_thumbnail}}" width="50"> 
												{% endif %}
												{{item.player.username}}: 
											</a> 
											{% if thisuser %}
												{% if item.photo04liked %}
													<a href="/games/{{game.id}}/results/{{item.player.id}}/item/{{item_id}}/unlike/?next=/games/{{game.id}}/item/{{item_id}}/">
														<img 
															class="media_icon" 
															src="{% static "assets/images/heart-unlike-256.png" %}" 
															title="Unlike Game" 
														/> {{item.result04likes.count}}
													</a>
												{% else %}
													<a href="/games/{{game.id}}/results/{{item.player.id}}/item/{{item_id}}/like/?next=/games/{{game.id}}/item/{{item_id}}/">
														<img 
															class="media_icon" 
															src="{% static "assets/images/heart-like-256.png" %}" 
															title="Like Game" 
														/> {{item.result04likes.count}}
													</a>
												{% endif %}
											{% else %}
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-nolike-256.png" %}" 
													title="Like Game" 
												/> {{item.result04likes.count}}
											{% endif %}
										</td>
									</tr>
									<tr><td><br /></td></tr>
								{% endif %}
							</table>
						</div>
						<table width="700" align="center">
							{% if item.photo04comments %}
								<tr>
									<td colspan="2">
										<p>Comments:</p>
									</td>
								</tr>
								{% for photo04comment in item.photo04comments %}
									<tr>
										<td rowspan="2" valign="top" align="right" width="100">
											{% if photo04comment.usertocomment.user_object.avatar_thumbnail %}
												<img src="{% get_static_prefix %}{{photo04comment.usertocomment.user_object.avatar_thumbnail}}" alt="thumbnail" width="50"/>
											{% else %}
												<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
											{% endif %}
										</td>
										<td>
											<a href="/accounts/profile/{{photo04comment.usertocomment.id}}/">
												<b>{{photo04comment.usertocomment.username}}:</b>
											</a> 
											{{photo04comment.comment}} 
										</td>
									</tr>
									<tr>
										<td colspan="2">
											{% if thisuser %}
												{% if photo04comment.liked %}
													<a href="/games/{{game.id}}/item/4/results/{{item.player.id}}/comment/{{photo04comment.unique_id}}/unlike/?next=/games/{{game.id}}/item/4/" />
														<img 
															class="comment_icon" 
															src="{% static "assets/images/heart-unlike-256.png" %}" 
															title="Unlike Photo" 
														/> {{photo04comment.resultitemcommentlikes.count}} 
													</a>
												{% else %}
													<a href="/games/{{game.id}}/item/4/results/{{item.player.id}}/comment/{{photo04comment.unique_id}}/like/?next=/games/{{game.id}}/item/4/" />
														<img 
															class="comment_icon" 
															src="{% static "assets/images/heart-like-256.png" %}" 
															title="Like Photo" 
														/> {{photo04comment.resultitemcommentlikes.count}} 
													</a>
												{% endif %}
											{% else %}
												<img 
													class="comment_icon" 
													src="{% static "assets/images/heart-nolike-256.png" %}" 
													title="Like Game" 
												/> {{photo04comment.resultitemcommentlikes.count}} 
											{% endif %}
											<span class="small_font">
												<i>Posted on {{photo04comment.pubdate}}</i> 
												{% if photo04comment.usertocomment == thisuser %}
													<a href="/games/{{game.id}}/item/4/results/{{item.player.id}}/comment/{{photo04comment.unique_id}}/edit/">
														<b>Edit</b>
													</a>
												{% endif %}
											</span>
										</td>
									</tr>
									<tr><td colspan="2"></td></tr>
								{% endfor %}
							{% endif %}
							{% if item.result01crop %}
								{% if thisuser %}
									<tr><td colspan="2">
										<form 
											action="/games/{{game.id}}/item/4/results/{{item.player.id}}/new_comment/?next=/games/{{game.id}}/photos/" 
											method="post"
											>
											{% csrf_token %}
											<input type="text" name="comment" id="comment" placeholder="Comment" size="40" />
											<input type="submit" name="newcomment" id="newcomment" value="New Comment" />
										</form>
									</td></tr>
								{% endif %}
							{% endif %}
						</table>
						<br />
					{% endif %}
				{% endfor %}	
			{% endif %}

			{% if item_id == "5" %}
				
				<table width="100%" cellpadding="2">
					<tr>
						<td colspan="2">
							<span class="heading16px">
								{% if game.createdby.user_object.avatar %}
									<img src="{% get_static_prefix %}{{game.createdby.user_object.avatar}}" width="50"> 
								{% endif %}
								<b>05. {{game.item05}}:</b>
							</span>
						</td>
					</tr>
					{% for item in item_results %}
						{% if item.disqualified %}
						{% else %}
							{% if item.result05 %}
								<tr>
									<td align="right" valign="top">
										<a href="/games/{{game.id}}/results/{{item.player.id}}/">
											{% if item.player.user_object.avatar %}
												<img src="{% get_static_prefix %}{{item.player.user_object.avatar}}" width="50"> 
											{% endif %}
											{{item.player.username}}: 
										</a>
									</td>
									<td>
										<a href="/games/{{game.id}}/item/5/results/{{item.player.id}}/">
											<img src="{% get_static_prefix %}{{item.result05}}" width="200">
										</a><br />
										{% if item.result05likes %}
											{% if item.result05likes.count = 1 %}
												1 like. 
											{% else %}
												{{item.result05likes.count}} likes. 
											{% endif %}
										{% else %}
											0 Likes 
										{% endif %}
										{% if thisuser %}
											<a href="/games/{{game.id}}/results/{{item.player.id}}/item/{{item_id}}/like/?next=/games/{{game.id}}/item/{{item_id}}/">
												<b>Like!</b></a>
										{% endif %}
									</td>
								</tr>
								<tr><td colspan="2"></td></tr>
							{% endif %}
						{% endif %}
					{% endfor %}
				</table>
			{% endif %}

			{% if item_id == "6" %}
				
				<table width="100%" cellpadding="2">
					<tr>
						<td colspan="2">
							<span class="heading16px">
								{% if game.createdby.user_object.avatar %}
									<img src="{% get_static_prefix %}{{game.createdby.user_object.avatar}}" width="50"> 
								{% endif %}
								<b>06. {{game.item06}}:</b>
							</span>
						</td>
					</tr>
					{% for item in item_results %}
						{% if item.disqualified %}
						{% else %}
							{% if item.result06 %}
								<tr>
									<td align="right" valign="top">
										<a href="/games/{{game.id}}/results/{{item.player.id}}/">
											{% if item.player.user_object.avatar %}
												<img src="{% get_static_prefix %}{{item.player.user_object.avatar}}" width="50"> 
											{% endif %}
											{{item.player.username}}: 
										</a>
									</td>
									<td>
										<a href="/games/{{game.id}}/item/6/results/{{item.player.id}}/">
											<img src="{% get_static_prefix %}{{item.result06}}" width="200">
										</a><br />
										{% if item.result06likes %}
											{% if item.result06likes.count = 1 %}
												1 like. 
											{% else %}
												{{item.result06likes.count}} likes. 
											{% endif %}
										{% else %}
											0 Likes 
										{% endif %}
										{% if thisuser %}
											<a href="/games/{{game.id}}/results/{{item.player.id}}/item/{{item_id}}/like/?next=/games/{{game.id}}/item/{{item_id}}/">
												<b>Like!</b></a>
										{% endif %}
									</td>
								</tr>
								<tr><td colspan="2"></td></tr>
							{% endif %}
						{% endif %}
					{% endfor %}
				</table>
			{% endif %}

			{% if item_id == "7" %}
				
				<table width="100%" cellpadding="2">
					<tr>
						<td colspan="2">
							<span class="heading16px">
								{% if game.createdby.user_object.avatar %}
									<img src="{% get_static_prefix %}{{game.createdby.user_object.avatar}}" width="50"> 
								{% endif %}
								<b>07. {{game.item07}}:</b>
							</span>
						</td>
					</tr>
					{% for item in item_results %}
						{% if item.disqualified %}
						{% else %}
							{% if item.result07 %}
								<tr>
									<td align="right" valign="top">
										<a href="/games/{{game.id}}/results/{{item.player.id}}/">
											{% if item.player.user_object.avatar %}
												<img src="{% get_static_prefix %}{{item.player.user_object.avatar}}" width="50"> 
											{% endif %}
											{{item.player.username}}: 
										</a>
									</td>
									<td>
										<a href="/games/{{game.id}}/item/7/results/{{item.player.id}}/">
											<img src="{% get_static_prefix %}{{item.result07}}" width="200">
										</a><br />
										{% if item.result07likes %}
											{% if item.result07likes.count = 1 %}
												1 like. 
											{% else %}
												{{item.result07likes.count}} likes. 
											{% endif %}
										{% else %}
											0 Likes 
										{% endif %}
										{% if thisuser %}
											<a href="/games/{{game.id}}/results/{{item.player.id}}/item/{{item_id}}/like/?next=/games/{{game.id}}/item/{{item_id}}/">
												<b>Like!</b></a>
										{% endif %}
									</td>
								</tr>
								<tr><td colspan="2"></td></tr>
							{% endif %}
						{% endif %}
					{% endfor %}
				</table>
			{% endif %}

			{% if item_id == "8" %}
				
				<table width="100%" cellpadding="2">
					<tr>
						<td colspan="2">
							<span class="heading16px">
								{% if game.createdby.user_object.avatar %}
									<img src="{% get_static_prefix %}{{game.createdby.user_object.avatar}}" width="50"> 
								{% endif %}
								<b>08. {{game.item08}}:</b>
							</span>
						</td>
					</tr>
					{% for item in item_results %}
						{% if item.disqualified %}
						{% else %}
							{% if item.result08 %}
								<tr>
									<td align="right" valign="top">
										<a href="/games/{{game.id}}/results/{{item.player.id}}/">
											{% if item.player.user_object.avatar %}
												<img src="{% get_static_prefix %}{{item.player.user_object.avatar}}" width="50"> 
											{% endif %}
											{{item.player.username}}: 
										</a>
									</td>
									<td>
										<a href="/games/{{game.id}}/item/8/results/{{item.player.id}}/">
											<img src="{% get_static_prefix %}{{item.result08}}" width="200">
										</a><br />
										{% if item.result08likes %}
											{% if item.result08likes.count = 1 %}
												1 like. 
											{% else %}
												{{item.result08likes.count}} likes. 
											{% endif %}
										{% else %}
											0 Likes 
										{% endif %}
										{% if thisuser %}
											<a href="/games/{{game.id}}/results/{{item.player.id}}/item/{{item_id}}/like/?next=/games/{{game.id}}/item/{{item_id}}/">
												<b>Like!</b></a>
										{% endif %}
									</td>
								</tr>
								<tr><td colspan="2"></td></tr>
							{% endif %}
						{% endif %}
					{% endfor %}
				</table>
			{% endif %}

			{% if item_id == "9" %}
				
				<table width="100%" cellpadding="2">
					<tr>
						<td colspan="2">
							<span class="heading16px">
								{% if game.createdby.user_object.avatar %}
									<img src="{% get_static_prefix %}{{game.createdby.user_object.avatar}}" width="50"> 
								{% endif %}
								<b>09. {{game.item09}}:</b>
							</span>
						</td>
					</tr>
					{% for item in item_results %}
						{% if item.disqualified %}
						{% else %}
							{% if item.result09 %}
								<tr>
									<td align="right" valign="top">
										<a href="/games/{{game.id}}/results/{{item.player.id}}/">
											{% if item.player.user_object.avatar %}
												<img src="{% get_static_prefix %}{{item.player.user_object.avatar}}" width="50"> 
											{% endif %}
											{{item.player.username}}: 
										</a>
									</td>
									<td>
										<a href="/games/{{game.id}}/item/9/results/{{item.player.id}}/">
											<img src="{% get_static_prefix %}{{item.result09}}" width="200">
										</a><br />
										{% if item.result09likes %}
											{% if item.result09likes.count = 1 %}
												1 like. 
											{% else %}
												{{item.result09likes.count}} likes. 
											{% endif %}
										{% else %}
											0 Likes 
										{% endif %}
										{% if thisuser %}
											<a href="/games/{{game.id}}/results/{{item.player.id}}/item/{{item_id}}/like/?next=/games/{{game.id}}/item/{{item_id}}/">
												<b>Like!</b></a>
										{% endif %}
									</td>
								</tr>
								<tr><td colspan="2"></td></tr>
							{% endif %}
						{% endif %}
					{% endfor %}
				</table>
			{% endif %}

			{% if item_id == "10" %}
				
				<table width="100%" cellpadding="2">
					<tr>
						<td colspan="2">
							<span class="heading16px">
								{% if game.createdby.user_object.avatar %}
									<img src="{% get_static_prefix %}{{game.createdby.user_object.avatar}}" width="50"> 
								{% endif %}
								<b>10. {{game.item10}}:</b>
							</span>
						</td>
					</tr>
					{% for item in item_results %}
						{% if item.disqualified %}
						{% else %}
							{% if item.result10 %}
								<tr>
									<td align="right" valign="top">
										<a href="/games/{{game.id}}/results/{{item.player.id}}/">
											{% if item.player.user_object.avatar %}
												<img src="{% get_static_prefix %}{{item.player.user_object.avatar}}" width="50"> 
											{% endif %}
											{{item.player.username}}: 
										</a>
									</td>
									<td>
										<a href="/games/{{game.id}}/item/10/results/{{item.player.id}}/">
											<img src="{% get_static_prefix %}{{item.result10}}" width="200">
										</a><br />
										{% if item.result10likes %}
											{% if item.result10likes.count = 1 %}
												1 like. 
											{% else %}
												{{item.result10likes.count}} likes. 
											{% endif %}
										{% else %}
											0 Likes 
										{% endif %}
										{% if thisuser %}
											<a href="/games/{{game.id}}/results/{{item.player.id}}/item/{{item_id}}/like/?next=/games/{{game.id}}/item/{{item_id}}/">
												<b>Like!</b></a>
										{% endif %}
									</td>
								</tr>
								<tr><td colspan="2"></td></tr>
							{% endif %}
						{% endif %}
					{% endfor %}
				</table>
			{% endif %}

		<div id="whitebg">

			<table width="100%" cellpadding="2">	
				<tr>
					<td>
						<a href="/games/{{game.id}}/"><b>Back to Game</b></a>
					</td>
				</tr>
			</table>

		</div>

		{% else %}

			<div id="whitebg">
				<table width="100%" cellpadding="2">	
					<tr><td><p>None to show!</p></td></tr>
					<tr>
						<td>
							<a href="/games/{{game.id}}/">Back to Game</a>
						</td>
					</tr>
				</table>
			</div>
		{% endif %}

{% endblock %}