{% extends "base.html" %}
{% load static %}
{% block title %}The Best Eye: View Photo Results{% endblock %}
{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/game.css" %}">
{% endblock %}

{% block content %}

		{% if result %}
			{% if result.disqualified %}
				<p>Player is disqualified!</p>
				<p><a href="/games/{{game.id}}/">Back to Game</a></p>
			{% else %}
			
				{% if item_id == "1" %}
					{% if result.result01crop %}

						<p>
							<div class="heading2">
								<img 
									class="heading_icon" 
									src="{% static "assets/images/game-puzzle-256.png" %}" 
								/>
								<b>01. {{game.item01}}:</b>
							</div>
						</p>

						<div id="whitebg">

							<table width="100%" cellpadding="2">
								<tr>
									<td align="center">
										<img 
										src="{% get_static_prefix %}{{result.result01crop}}" 
										title="{{result.result01desc|truncatewords:"20"}}"
										width="700">
										<p><b>{{result.result01desc}}</b></p>
									</td>
								</tr>
								<tr>
									<td align="center">
										<a href="/games/{{game.id}}/results/{{result.player.id}}/">
											{% if result.player.user_object.avatar %}
												<img src="{% get_static_prefix %}{{result.player.user_object.avatar_thumbnail}}" width="50"> 
											{% else %}
												<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
											{% endif %}
											<b>@{{result.player.username}}:</b> 
										</a>

										{% if request.user.is_authenticated %}
											{% if result01liked %}
												<a href="/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/unlike/?next=/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/">
													<img 
														class="media_icon" 
														src="{% static "assets/images/heart-unlike-256.png" %}" 
														title="Unlike Game" 
													/> {{result.result01likes.count}} 
												</a>
											{% else %}
												{% if result.result01likes.count > 0 %}
													<a href="/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/like/?next=/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/">
														<img 
															class="media_icon" 
															src="{% static "assets/images/heart-like-256.png" %}" 
															title="Like Game" 
														/> {{result.result01likes.count}} 
													</a>
												{% else %}
													<a href="/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/like/?next=/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/">
														<img 
															class="media_icon" 
															src="{% static "assets/images/heart-like-256.png" %}" 
															title="Like Game" 
														/> 
													</a>
												{% endif %}
											{% endif %}
										{% else %}
											{% if result.result01likes.count > 0 %}
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-nolike-256.png" %}" 
													title="Like Game" 
												/> {{result.result01likes.count}} 
											{% endif %}
										{% endif %}



<!--										{% if result.result01likes %}
											{% if result.result01likes.count = 1 %}
												1 like. 
											{% else %}
												{{result.result01likes.count}} likes. 
											{% endif %}
										{% else %}
											0 Likes 
										{% endif %}
										{% if thisuser %}
											<a href="/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/like/?next=/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/">
												<b>Like!</b>
											</a>
										{% endif %} -->
									</td>
								</tr>
							</table>

						</div>
					{% endif %}
				{% endif %}

				{% if item_id == "2" %}
					{% if result.result02crop %}

						<p>
							<div class="heading2">
								<img 
									class="heading_icon" 
									src="{% static "assets/images/game-puzzle-256.png" %}" 
								/>
								<b>02. {{game.item02}}:</b>
							</div>
						</p>

						<div id="whitebg">

							<table width="100%" cellpadding="2">
								<tr>
									<td align="center">
										<img 
										src="{% get_static_prefix %}{{result.result02crop}}" 
										title="{{result.result02desc|truncatewords:"20"}}"
										width="700">
										<p><b>{{result.result02desc}}</b></p>
									</td>
								</tr>
								<tr>
									<td align="center">
										<a href="/games/{{game.id}}/results/{{result.player.id}}/">
											{% if result.player.user_object.avatar_thumbnail %}
												<img src="{% get_static_prefix %}{{result.player.user_object.avatar_thumbnail}}" width="50"> 
											{% else %}
												<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
											{% endif %}
											<b>@{{result.player.username}}:</b> 
										</a>
										
										{% if request.user.is_authenticated %}
											{% if result02liked %}
												<a href="/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/unlike/?next=/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/">
													<img 
														class="media_icon" 
														src="{% static "assets/images/heart-unlike-256.png" %}" 
														title="Unlike Game" 
													/> {{result.result02likes.count}} 
												</a>
											{% else %}
												{% if result.result02likes.count > 0 %}
													<a href="/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/like/?next=/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/">
														<img 
															class="media_icon" 
															src="{% static "assets/images/heart-like-256.png" %}" 
															title="Like Game" 
														/> {{result.result02likes.count}} 
													</a>
												{% else %}
													<a href="/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/like/?next=/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/">
														<img 
															class="media_icon" 
															src="{% static "assets/images/heart-like-256.png" %}" 
															title="Like Game" 
														/> 
													</a>
												{% endif %}
											{% endif %}
										{% else %}
											{% if result.result02likes.count > 0 %}
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-nolike-256.png" %}" 
													title="Like Game" 
												/> {{result.result02likes.count}} 
											{% endif %}
										{% endif %}

									</td>
								</tr>
							</table>
						</div>
					{% endif %}
				{% endif %}

				{% if item_id == "3" %}
					{% if result.result03crop %}

						<p>
							<div class="heading2">
								<img 
									class="heading_icon" 
									src="{% static "assets/images/game-puzzle-256.png" %}" 
								/>
								<b>03. {{game.item03}}:</b>
							</div>
						</p>

						<div id="whitebg">

							<table width="100%" cellpadding="2">
								<tr>
									<td align="center">
										<img 
										src="{% get_static_prefix %}{{result.result03crop}}" 
										title="{{result.result03desc|truncatewords:"20"}}"
										width="700">
										<p><b>{{result.result03desc}}</b></p>
									</td>
								</tr>
								<tr>
									<td align="center">
										<a href="/games/{{game.id}}/results/{{result.player.id}}/">
											{% if result.player.user_object.avatar_thumbnail %}
												<img src="{% get_static_prefix %}{{result.player.user_object.avatar_thumbnail}}" width="50"> 
											{% else %}
												<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
											{% endif %}
											<b>@{{result.player.username}}:</b> 
										</a>
										
										{% if request.user.is_authenticated %}
											{% if result03liked %}
												<a href="/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/unlike/?next=/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/">
													<img 
														class="media_icon" 
														src="{% static "assets/images/heart-unlike-256.png" %}" 
														title="Unlike Game" 
													/> {{result.result03likes.count}} 
												</a>
											{% else %}
												{% if result.result03likes.count > 0 %}
													<a href="/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/like/?next=/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/">
														<img 
															class="media_icon" 
															src="{% static "assets/images/heart-like-256.png" %}" 
															title="Like Game" 
														/> {{result.result03likes.count}} 
													</a>
												{% else %}
													<a href="/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/like/?next=/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/">
														<img 
															class="media_icon" 
															src="{% static "assets/images/heart-like-256.png" %}" 
															title="Like Game" 
														/> 
													</a>
												{% endif %}
											{% endif %}
										{% else %}
											{% if result.result03likes.count > 0 %}
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-nolike-256.png" %}" 
													title="Like Game" 
												/> {{result.result03likes.count}} 
											{% endif %}
										{% endif %}

									</td>
								</tr>
							</table>
						</div>
					{% endif %}
				{% endif %}

				{% if item_id == "4" %}
					{% if result.result04crop %}

						<p>
							<div class="heading2">
								<img 
									class="heading_icon" 
									src="{% static "assets/images/game-puzzle-256.png" %}" 
								/>
								<b>04. {{game.item04}}:</b>
							</div>
						</p>

						<div id="whitebg">

							<table width="100%" cellpadding="2">
								<tr>
									<td align="center">
										<img 
										src="{% get_static_prefix %}{{result.result04crop}}" 
										title="{{result.result04desc|truncatewords:"20"}}"
										width="700">
										<p><b>{{result.result04desc}}</b></p>
									</td>
								</tr>
								<tr>
									<td align="center">
										<a href="/games/{{game.id}}/results/{{result.player.id}}/">
											{% if result.player.user_object.avatar_thumbnail %}
												<img src="{% get_static_prefix %}{{result.player.user_object.avatar_thumbnail}}" width="50"> 
											{% else %}
												<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
											{% endif %}
											<b>@{{result.player.username}}:</b> 
										</a>
										
										{% if request.user.is_authenticated %}
											{% if result04liked %}
												<a href="/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/unlike/?next=/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/">
													<img 
														class="media_icon" 
														src="{% static "assets/images/heart-unlike-256.png" %}" 
														title="Unlike Game" 
													/> {{result.result04likes.count}} 
												</a>
											{% else %}
												{% if result.result04likes.count > 0 %}
													<a href="/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/like/?next=/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/">
														<img 
															class="media_icon" 
															src="{% static "assets/images/heart-like-256.png" %}" 
															title="Like Game" 
														/> {{result.result04likes.count}} 
													</a>
												{% else %}
													<a href="/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/like/?next=/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/">
														<img 
															class="media_icon" 
															src="{% static "assets/images/heart-like-256.png" %}" 
															title="Like Game" 
														/> 
													</a>
												{% endif %}
											{% endif %}
										{% else %}
											{% if result.result04likes.count > 0 %}
												<img 
													class="media_icon" 
													src="{% static "assets/images/heart-nolike-256.png" %}" 
													title="Like Game" 
												/> {{result.result04likes.count}} 
											{% endif %}
										{% endif %}

									</td>
								</tr>
							</table>
						</div>
					{% endif %}
				{% endif %}

				{% if item_id == "5" %}
					{% if result.result05 %}
						<table width="100%" cellpadding="2">
							<tr>
								<td colspan="2">
									<span class="heading16px">
										{% if game.createdby.user_object.avatar %}
											<img src="{% get_static_prefix %}{{game.createdby.user_object.avatar}}" width="50"> 
										{% else %}
											<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
										{% endif %}
										<b>05. {{game.item05}}:</b>
									</span>
								</td>
							</tr>
							<tr>
								<td align="right" valign="top">
									<a href="/games/{{game.id}}/results/{{result.player.id}}/">
										{% if result.player.user_object.avatar %}
											<img src="{% get_static_prefix %}{{result.player.user_object.avatar}}" width="50"> 
										{% else %}
											<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
										{% endif %}
										{{result.player.username}}: 
									</a>
								</td>
								<td>
									<img src="{% get_static_prefix %}{{result.result05}}" width="200">
								</td>
							</tr>
							<tr>
								<td></td>
								<td>
									{% if result.result05likes %}
										{% if result.result05likes.count = 1 %}
											1 like. 
										{% else %}
											{{result.result05likes.count}} likes. 
										{% endif %}
									{% else %}
										0 Likes 
									{% endif %}
									<a href="/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/like/?next=/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/">
										<b>Like!</b>
									</a>
								</td>
							</tr>
						</table>
					{% endif %}
				{% endif %}

				{% if item_id == "6" %}
					{% if result.result06 %}
						<table width="100%" cellpadding="2">
							<tr>
								<td colspan="2">
									<span class="heading16px">
										{% if game.createdby.user_object.avatar %}
											<img src="{% get_static_prefix %}{{game.createdby.user_object.avatar}}" width="50"> 
										{% else %}
											<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
										{% endif %}
										<b>06. {{game.item06}}:</b>
									</span>
								</td>
							</tr>
							<tr>
								<td align="right" valign="top">
									<a href="/games/{{game.id}}/results/{{result.player.id}}/">
										{% if result.player.user_object.avatar %}
											<img src="{% get_static_prefix %}{{result.player.user_object.avatar}}" width="50"> 
										{% else %}
											<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
										{% endif %}
										{{result.player.username}}: 
									</a>
								</td>
								<td>
									<img src="{% get_static_prefix %}{{result.result06}}" width="200">
								</td>
							</tr>
							<tr>
								<td></td>
								<td>
									{% if result.result06likes %}
										{% if result.result06likes.count = 1 %}
											1 like. 
										{% else %}
											{{result.result06likes.count}} likes. 
										{% endif %}
									{% else %}
										0 Likes 
									{% endif %}
									<a href="/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/like/?next=/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/">
										<b>Like!</b>
									</a>
								</td>
							</tr>
						</table>
					{% endif %}
				{% endif %}

				{% if item_id == "7" %}
					{% if result.result07 %}
						<table width="100%" cellpadding="2">
							<tr>
								<td colspan="2">
									<span class="heading16px">
										{% if game.createdby.user_object.avatar %}
											<img src="{% get_static_prefix %}{{game.createdby.user_object.avatar}}" width="50"> 
										{% else %}
											<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
										{% endif %}
										<b>07. {{game.item07}}:</b>
									</span>
								</td>
							</tr>
							<tr>
								<td align="right" valign="top">
									<a href="/games/{{game.id}}/results/{{result.player.id}}/">
										{% if result.player.user_object.avatar %}
											<img src="{% get_static_prefix %}{{result.player.user_object.avatar}}" width="50"> 
										{% else %}
											<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
										{% endif %}
										{{result.player.username}}: 
									</a>
								</td>
								<td>
									<img src="{% get_static_prefix %}{{result.result07}}" width="200">
								</td>
							</tr>
							<tr>
								<td></td>
								<td>
									{% if result.result07likes %}
										{% if result.result07likes.count = 1 %}
											1 like. 
										{% else %}
											{{result.result07likes.count}} likes. 
										{% endif %}
									{% else %}
										0 Likes 
									{% endif %}
									<a href="/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/like/?next=/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/">
										<b>Like!</b>
									</a>
								</td>
							</tr>
						</table>
					{% endif %}
				{% endif %}

				{% if item_id == "8" %}
					{% if result.result08 %}
						<table width="100%" cellpadding="2">
							<tr>
								<td colspan="2">
									<span class="heading16px">
										{% if game.createdby.user_object.avatar %}
											<img src="{% get_static_prefix %}{{game.createdby.user_object.avatar}}" width="50"> 
										{% else %}
											<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
										{% endif %}
										<b>08. {{game.item08}}:</b>
									</span>
								</td>
							</tr>
							<tr>
								<td align="right" valign="top">
									<a href="/games/{{game.id}}/results/{{result.player.id}}/">
										{% if result.player.user_object.avatar %}
											<img src="{% get_static_prefix %}{{result.player.user_object.avatar}}" width="50"> 
										{% else %}
											<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
										{% endif %}
										{{result.player.username}}: 
									</a>
								</td>
								<td>
									<img src="{% get_static_prefix %}{{result.result08}}" width="200">
								</td>
							</tr>
							<tr>
								<td></td>
								<td>
									{% if result.result08likes %}
										{% if result.result08likes.count = 1 %}
											1 like. 
										{% else %}
											{{result.result08likes.count}} likes. 
										{% endif %}
									{% else %}
										0 Likes 
									{% endif %}
									<a href="/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/like/?next=/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/">
										<b>Like!</b>
									</a>
								</td>
							</tr>
						</table>
					{% endif %}
				{% endif %}

				{% if item_id == "9" %}
					{% if result.result09 %}
						<table width="100%" cellpadding="2">
							<tr>
								<td colspan="2">
									<span class="heading16px">
										{% if game.createdby.user_object.avatar %}
											<img src="{% get_static_prefix %}{{game.createdby.user_object.avatar}}" width="50"> 
										{% else %}
											<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
										{% endif %}
										<b>09. {{game.item09}}:</b>
									</span>
								</td>
							</tr>
							<tr>
								<td align="right" valign="top">
									<a href="/games/{{game.id}}/results/{{result.player.id}}/">
										{% if result.player.user_object.avatar %}
											<img src="{% get_static_prefix %}{{result.player.user_object.avatar}}" width="50"> 
										{% else %}
											<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
										{% endif %}
										{{result.player.username}}: 
									</a>
								</td>
								<td>
									<img src="{% get_static_prefix %}{{result.result09}}" width="200">
								</td>
							</tr>
							<tr>
								<td></td>
								<td>
									{% if result.result09likes %}
										{% if result.result09likes.count = 1 %}
											1 like. 
										{% else %}
											{{result.result09likes.count}} likes. 
										{% endif %}
									{% else %}
										0 Likes 
									{% endif %}
									<a href="/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/like/?next=/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/">
										<b>Like!</b>
									</a>
								</td>
							</tr>
						</table>
					{% endif %}
				{% endif %}

				{% if item_id == "10" %}
					{% if result.result10 %}
						<table width="100%" cellpadding="2">
							<tr>
								<td colspan="2">
									<span class="heading16px">
										{% if game.createdby.user_object.avatar %}
											<img src="{% get_static_prefix %}{{game.createdby.user_object.avatar}}" width="50"> 
										{% else %}
											<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
										{% endif %}
										<b>10. {{game.item10}}:</b>
									</span>
								</td>
							</tr>
							<tr>
								<td align="right" valign="top">
									<a href="/games/{{game.id}}/results/{{result.player.id}}/">
										{% if result.player.user_object.avatar %}
											<img src="{% get_static_prefix %}{{result.player.user_object.avatar}}" width="50"> 
										{% else %}
											<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
										{% endif %}
										{{result.player.username}}: 
									</a>
								</td>
								<td>
									<img src="{% get_static_prefix %}{{result.result10}}" width="200">
								</td>
							</tr>
							<tr>
								<td></td>
								<td>
									{% if result.result10likes %}
										{% if result.result10likes.count = 1 %}
											1 like. 
										{% else %}
											{{result.result10likes.count}} likes. 
										{% endif %}
									{% else %}
										0 Likes 
									{% endif %}
									<a href="/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/like/?next=/games/{{game.id}}/results/{{result.player.id}}/item/{{item_id}}/">
										<b>Like!</b>
									</a>
								</td>
							</tr>
						</table>
					{% endif %}
				{% endif %}

			<div id="whitebg">	

				<table width="100%" cellpadding="2">
					<tr>
						<td colspan="2">
							<span class="small_font">
								Comments on <b>{{result.player.username}}</b>'s photo:
							</span>
						</td>
					</tr>
					{% for comment in comments %}
						<tr>
							<td rowspan="2" valign="top" align="right">
								{% if comment.usertocomment.user_object.avatar_thumbnail %}
									<img src="{% get_static_prefix %}{{comment.usertocomment.user_object.avatar_thumbnail}}" alt="thumbnail" width="50"/>
								{% else %}
									<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
								{% endif %}
							</td>
							<td>
								<a href="/accounts/profile/{{comment.usertocomment.id}}/"><b>{{comment.usertocomment.username}}:</b></a> 
								{{comment.comment}} 
							</td>
						</tr>
						<tr>
							<td colspan="2">
								{% if request.user.is_authenticated %}
									{% if comment.liked %}
										<a href="/games/{{game.id}}/item/{{item_id}}/results/{{result.player.id}}/comment/{{comment.unique_id}}/unlike/?next=/games/{{game.id}}/photos/results/{{result.player.id}}/item/{{item_id}}/" />
											<img 
												class="comment_icon" 
												src="{% static "assets/images/heart-unlike-256.png" %}" 
												title="Unlike Photo" 
											/> {{comment.resultitemcommentlikes.count}} 
										</a>
									{% else %}
										{% if comment.resultitemcommentlikes.count > 0 %}
											<a href="/games/{{game.id}}/item/{{item_id}}/results/{{result.player.id}}/comment/{{comment.unique_id}}/like/?next=/games/{{game.id}}/photos/results/{{result.player.id}}/item/{{item_id}}/" />
												<img 
													class="comment_icon" 
													src="{% static "assets/images/heart-like-256.png" %}" 
													title="Like Photo" 
												/> {{comment.resultitemcommentlikes.count}} 
											</a>
										{% else %}
											<a href="/games/{{game.id}}/item/{{item_id}}/results/{{result.player.id}}/comment/{{comment.unique_id}}/like/?next=/games/{{game.id}}/photos/results/{{result.player.id}}/item/{{item_id}}/" />
												<img 
													class="comment_icon" 
													src="{% static "assets/images/heart-like-256.png" %}" 
													title="Like Photo" 
												/> {{comment.resultitemcommentlikes.count}} 
											</a>
										{% endif %}
									{% endif %}
								{% else %}
									{% if comment.resultitemcommentlikes.count > 0 %}
										<img 
											class="comment_icon" 
											src="{% static "assets/images/heart-nolike-256.png" %}" 
											title="Like Game" 
										/>
									{% endif %}
								{% endif %}

<!--								{{comment.resultitemcommentlikes.count}} likes. 
								{% if thisuser %}
									{% if comment.liked %}
										<a href="/games/{{game.id}}/item/{{item_id}}/results/{{result.player.id}}/comment/{{comment.unique_id}}/unlike/?next=/games/{{game.id}}/photos/results/{{result.player.id}}/item/{{item_id}}/" />
											<b>Unlike!</b>
										</a>
									{% else %}
										<a href="/games/{{game.id}}/item/{{item_id}}/results/{{result.player.id}}/comment/{{comment.unique_id}}/like/?next=/games/{{game.id}}/photos/results/{{result.player.id}}/item/{{item_id}}/" />
											<b>Like!</b>
										</a>
									{% endif %}
								{% endif %} -->
								<span class="small_font">
									<i>Posted on {{comment.pubdate}}</i> 
									{% if comment.usertocomment == thisuser %}
										<a href="/games/{{game.id}}/item/{{item_id}}/results/{{result.player.id}}/comment/{{comment.unique_id}}/edit/">
											<b>Edit</b></a>
									{% endif %}
								</span>
							</td>
						</tr>
						<tr><td colspan="2"></td></tr>
					{% endfor %}
					{% if thisuser %}
						<tr>
							<td></td>
							<td>
								<form action="/games/{{game.id}}/item/{{item_id}}/results/{{result.player.id}}/new_comment/?next=/games/{{game.id}}/photos/results/{{result.player.id}}/item/{{item_id}}/" method="post">
									{% csrf_token %}
									<input type="text" name="comment" id="comment" placeholder="Comment" size="40" />
									<input type="submit" name="newcomment" id="newcomment" value="New Comment" />
								</form>
							</td>
						</tr>
					{% endif %}
				</table>
				<table width="100%" cellpadding="2">
					<tr>
						<td width="50%">
							<a href="/games/{{game.id}}/results/{{result.player.id}}/"><b>Go to Player Result</b></a>
						</td>
						<td align="right">
							<a href="/games/{{game.id}}/photos/"><b>Back to All Photos</b></a>
						</td>
					</tr>
				</table>

			</div>
			{% endif %}
		{% else %}
			<p>None to show!</p>
			<p><a href="/games/"><b>Back to Games</b></a></p>
		{% endif %}

{% endblock %}