{% extends "base.html" %}
{% block title %}The Best Eye: Notifications{% endblock %}
{% block content %}
	{% if s %}
		<h2>{{s.subject}}</h2>
		{% autoescape off %}<p>{{s.message}}</p>{% endautoescape %}
		<p><a href="/sitemessages/delete/{{s.id}}/">Mark as read</a></p>
	{% else %}
		What
		<p><a href="/"><b>Back</b></a></p>
	{% endif %}
{% endblock %}