@charset "UTF-8";
.gc, p, ul, li, body, span {
    font-family: Gotham-Bold, helvetica neue, Arial, sans-serif;
}

.gcactions {
 padding: 0px 15px;   
}

a {
font-family: Gotham-Bold, helvetica neue, Arial, sans-serif;
color: #21C7EB;
text-decoration: none; 
text-weight: 200; 
}

a:hover {
font-family: Gotham-Bold, helvetica neue, Arial, sans-serif;
color: #6EE5FF;
text-decoration: none;
text-weight: 200;   
}

.gcaccent {
color: #E8E8E8;    
}

/* Rectangle 1: */
.gamecard_public {
background: #FDFDFD;
border: 1px solid #DEDEDE;
box-shadow: 0px 2px 0px 0px rgba(131,131,131,0.50);
border-radius: 6px;
display: inline-block;
height: auto;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
-o-border-dasius: 6px;
margin: 15px auto;
min-width: 340px;
padding: 30px;
position: relative;
width: 90%;
}

/* Profile Pic: */
.profile_pic {
background: #333333;
border: 1px solid #DEDEDE;
border-radius: 300px;
display: block;
float: left;
height: 150px;
-moz-border-radius: 300px;
-webkit-border-radius: 300px;
-o-border-dasius: 300px;
margin: 0px 15px 0px 0px;
min-height: 90px;
min-width: 90px;
overflow: hidden;
position: relative;
vertical-align: center;
width: 150px;
}

.p_pic {
    margin: 0 auto;
    position: relative;
    text-align: center;
    vertical-align: center;  
}


.game_name {
    /* the game name : */
    display: block;
    font-family: Gotham-Bold;
    font-size: 24px;
    color: #21C7EB;
    line-height: 29px;
    max-width: 100%;
    position: relative;
}

.game_creator {
    /* created by X on X : */
    display: block;
    font-family: Gotham-Book;
    font-size: 14px;
    color: #838383;
    /* line-height: 17px; */
    max-width: 100%;
    position: relative;
}

.game_stats {
    /* likes players photos */
    display: block;
    font-family: Gotham-Light;
    font-size: 18px;
    color: #21C7EB;
    /* line-height: 22px; */
    max-width: 100%;
    position: relative;
}

.gcbottom {
    border-top: solid 1px #E8E8E8;
    display: inline-block;
    float: left;
    margin: 10px auto;
    padding: 5px 0px;
    position: relative;
    width: 100%;   
    font-size: 20px;
}

.gctop {
    display: inline-block;
    float: left;
    margin: 10px auto;
    padding: 5px 0px;
    position: relative;
    width: 100%; 
    
}

.column {
    /*-moz-box-flex:1;*/
    /*-webkit-box-flex:1;*/
    /*box-flex:1;*/
    width: 31%;
    float: left;
    text-align: center;
}

.inbetween_column {
    /*-moz-box-flex:1;*/
    /*-webkit-box-flex:1;*/
    /*box-flex:1;*/
    width: 2%;
    float: left;
    text-align: center;
}
/* CSS Document */

@media only screen and (max-width : 480px) {
	/* Smartphone view: 1 tile */
	.game_name {
		font-size: 36px;
	}
	.game_creator {
		font-size: 30px;
	}
	.game_stats {
		font-size: 30px;
	}
	/* Profile Pic: */
	.profile_pic {
	background: #333333;
	border: 1px solid #DEDEDE;
	border-radius: 130px;
	display: block;
	float: left;
	height: 130px;
	-moz-border-radius: 130px;
	-webkit-border-radius: 130;
	-o-border-dasius: 130;
	margin: 0px 15px 0px 0px;
	min-height: 90px;
	min-width: 90px;
	overflow: hidden;
	position: relative;
	vertical-align: center;
	width: 130px;
	}
	.gcbottom {
		font-size: 36px;
	}
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
	/* Tablet view: 2 tiles */
	.game_name {
		font-size: 36px;
	}
	.game_creator {
		font-size: 30px;
	}
	.game_stats {
		font-size: 36px;
	}
	.gcbottom {
		font-size: 36px;
	}
	/* Profile Pic: */
	.profile_pic {
	background: #333333;
	border: 1px solid #DEDEDE;
	border-radius: 150px;
	display: block;
	float: left;
	height: 150px;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150;
	-o-border-dasius: 150;
	margin: 0px 15px 0px 0px;
	min-height: 90px;
	min-width: 90px;
	overflow: hidden;
	position: relative;
	vertical-align: center;
	width: 150px;
	}
}

@media only screen and (max-width : 1050px) and (min-width : 651px) {
	/* Small desktop / ipad view: 3 tiles */
	.game_name {
		font-size: 30px;
	}
	.game_creator {
		font-size: 24px;
	}
	.game_stats {
		font-size: 36px;
	}
	.gcbottom {
		font-size: 36px;
	}
	/* Profile Pic: */
	.profile_pic {
	background: #333333;
	border: 1px solid #DEDEDE;
	border-radius: 150px;
	display: block;
	float: left;
	height: 150px;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150;
	-o-border-dasius: 150;
	margin: 0px 15px 0px 0px;
	min-height: 90px;
	min-width: 90px;
	overflow: hidden;
	position: relative;
	vertical-align: center;
	width: 150px;
	}
}

@media only screen and (max-width : 1290px) and (min-width : 1051px) {
	/* Small desktop / ipad view: 3 tiles */
	.game_name {
		font-size: 30px;
	}
	.game_creator {
		font-size: 24px;
	}
	.game_stats {
		font-size: 24px;
	}
	/* Profile Pic: */
	.profile_pic {
	background: #333333;
	border: 1px solid #DEDEDE;
	border-radius: 150px;
	display: block;
	float: left;
	height: 150px;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150;
	-o-border-dasius: 150;
	margin: 0px 15px 0px 0px;
	min-height: 90px;
	min-width: 90px;
	overflow: hidden;
	position: relative;
	vertical-align: center;
	width: 150px;
	}
}