body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	margin: 0;
	background-color: #f3f3f3;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

a:link {
	color: #000000;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: underline;
	color: #333333;
}

a:active {
	text-decoration: none;
	color: #333333;
}

#page {
	width: 100%;
	text-align: left;
	margin: 10px auto 20px auto;
	margin-top: 7px;
	background-color: #f3f3f3;
	z-index:5;
}

#content {
	margin: 0px auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: left;
	width: 60%;
	padding-left: 10px;
}

#whitebg {
	background: #ffffff;
}

.small_font {
	font-size: 7pt;
}

table {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

input, textarea {
	border: 1px solid #dedede;
	padding: 4px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input:focus, textarea:focus {
	border: 1px solid #000000;
}

.messages {
	background-color: transparent;
	color: #ffffff;
	padding: 1em;
    width: 95%;
}

.success {
	background-color: #27ae60;
	border-color: #005500;
	padding-left: 1em;
}

.deleted {
	background-color: #880000;
	border-color: #550000;
	padding-left: 1em;
}

.navbarbox {
	position: relative;
	bottom: 0;
	width: 100%;
	text-align: left;
}

.pagebottom {
    border-top: solid 1px #E8E8E8;
    width: 70%;
    margin: 0px auto;
}

.nav_icon {
	height: 30px;
	width: 30px;
} 

.main_menu {
	overflow: hidden;
}

.menu_right {
	float: right;
	width: 100px;
}

.menu_left {
	float: left; 
	width: 100px;
}

.menu_center {
	margin: 0 auto;
	width: 400px;
}

.header_logo {
	padding-top: 27px;
}

.menu_icon {
	height: 67px;
	width: 67px;
	padding-left: 30px;
	margin-top: 0px auto;
	padding-top: 30px;
}

.rightmenu_icon {
	height: 67px;
	width: 67px;
	padding-right: 30px;
	padding-top: 30px;
}

.search_icon {
	height: 20px;
	width: 20px;
}

.heading_icon {
	height: 30px;
	width: 30px;
}

.heading1 {
	font-size: 20px;
	font-weight: bold;
}

.heading2 {
	font-size: 16px;
	font-weight: bold;
}

.heading3 {
	display: inline-block;
	font-size: 14px;
	width: 100%;
}

@media only screen and (max-width : 480px) {
	/* Smartphone view: 1 tile */
   #content {
      width: 95%;
      padding-bottom: 10%;
   }
   body {
		font-size: 24px;
	}
	.heading3 {
		font-size: 16px;
	}
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
	/* Tablet view: 2 tiles */
	#content {
		width: 95%;
		padding-bottom: 10%;
	}
	body {
		font-size: 20px;
	}
	.menu_icon {
		height: 75px;
		width: 75px;
		padding-left: 15px;
		margin-top: 0px auto;
		padding-top: 15px;
	}
	.heading3 {
		font-size: 16px;
	}
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
	/* Small desktop / ipad view: 3 tiles */
	#content {
		width: 95%;
		padding-bottom: 10%;
	}
	body {
		font-size: 18px;
	}
	.heading3 {
		font-size: 16px;
	}
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
	/* Medium desktop: 4 tiles */
	#content {
		width: 70%;
		padding-bottom: 25%;
	}
	body {
		font-size: 16px;
	}
}