.Tablediv
	{
		display: table;
	}
.Titlediv
	{
		display: table-caption;
		text-align: center;
		font-weight: bold;
		font-size: larger;
	}
.Headingdiv
	{
		display: table-row;
		font-weight: bold;
		text-align: center;
	}
.Rowdiv
	{
		display: table-row;
	}
.Celldiv
	{
		display: table-cell;
		border: solid;
		border-width: thin;
		padding-left: 5px;
		padding-right: 5px;
	}