
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px; }

h1 {
  font-weight: 200; }

ul {
  list-style-type: none;
  padding: 0; }

::selection {
  background-color: #e77878;
  color: white; }

.wrapper {
  width: 100%;
  box-sizing: border-box;
  border-top: 2px solid #6c6c6c;
  background-color: #f3f3f3; }

/* .link-menu {
  font-size: 2.2rem; }
  .link-menu:hover {
    color: #807d7d; } */

.main-content {

}

.headline {
  font-size: 3.6rem;
  font-weight: 400; }

.headline-main {
  color: #3c3c3c; }

.download {
  padding-top: 40px; }

.btn-download {
  display: inline-block;
  text-align: center;
  padding: 6px;
  background-color: #424242;
  color: white;
  border: 2px solid #6c6c6c;
  font-size: 1.2rem; }
  .btn-download:hover {
    background-color: #6c6c6c;
    color: #ececec;
    border: 2px solid #424242; }

.sidebar {
  font-size: 14px;
  background-color: #bcbcbc; }
  .sidebar li + li {
    margin-top: 12px; }
  .sidebar li a {
    padding: 4px 10px;
    display: block;
    color: #000000; }
    .sidebar li a:hover {
      background-color: #424242; }
  .sidebar li .current {
    background-color: #6b6464; }

@media only screen and (min-width : 480px) and (max-width : 1300px) {
  .sidebar {
    font-size: 16px;
  }
}
