.fav_icon {
/* background: #333333;
border: 1px solid #DEDEDE;
border-radius: 300px;
display: block;
float: left; 
-moz-border-radius: 300px;
-webkit-border-radius: 300px;
-o-border-dasius: 300px;
margin: 0px 15px 0px 0px; */
overflow: hidden;
position: relative;
vertical-align: center;
min-height: 30px;
min-width: 30px;
height: 45px;
width: 45px;
}

.media_icon {
/* background: #333333;
border: 1px solid #DEDEDE;
border-radius: 300px;
display: block;
float: left; 
-moz-border-radius: 300px;
-webkit-border-radius: 300px;
-o-border-dasius: 300px;
margin: 0px 15px 0px 0px; */
overflow: hidden;
position: relative;
vertical-align: center;
min-height: 25px;
min-width: 25px;
height: 25px;
width: 25px;
}

.comment_icon {
/* background: #333333;
border: 1px solid #DEDEDE;
border-radius: 300px;
display: block;
float: left; 
-moz-border-radius: 300px;
-webkit-border-radius: 300px;
-o-border-dasius: 300px;
margin: 0px 15px 0px 0px; */
overflow: hidden;
position: relative;
vertical-align: center;
min-height: 15px;
min-width: 15px;
height: 15px;
width: 15px;
}

@media only screen and (max-width : 480px) {
	.fav_icon {
		height: 45px;
		width: 45px;
	}
	.media_icon {
		height: 25px;
		width: 25px;
	}
	.comment_icon {
		height: 15px;
		width: 15px;
	}
}

@media only screen and (max-width : 650px) and (min-width : 481px) {
	.fav_icon {
		height: 60px;
		width: 60px;
	}
	.media_icon {
		height: 25px;
		width: 25px;
	}
	.comment_icon {
		height: 15px;
		width: 15px;
	}
}

@media only screen and (max-width : 1050px) and (min-width : 651px) {
	.fav_icon {
		height: 45px;
		width: 45px;
	}
	.media_icon {
		height: 25px;
		width: 25px;
	}
	.comment_icon {
		height: 15px;
		width: 15px;
	}
}

@media only screen and (max-width : 1290px) and (min-width : 1051px) {
	.fav_icon {
		height: 45px;
		width: 45px;
	}
	.media_icon {
		height: 25px;
		width: 25px;
	}
	.comment_icon {
		height: 15px;
		width: 15px;
	}
}