{% extends "base.html" %}
{% block title %}The Best Eye: Player Games{% endblock %}
{% load static %}
{% load i18n %}
{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/all_games.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/game.css" %}">
	<script>
		$(function() {
			$( document ).tooltip();
		});
	</script>
	<style>
		label {
			display: inline-block;
			width: 5em;
		}
	</style>
{% endblock %}

{% block content %}
	
	{% if gamesbyuser %}

		<p>
			<div class="heading16px">
				<a href="/accounts/profile/{{gamesuser.id}}/">
					{% if gamesuser.user_object.avatar_thumbnail %}
						<img src="{% get_static_prefix %}{{gamesuser.user_object.avatar_thumbnail}}" width="50">
					{% endif %} 
					<b>{{gamesuser.username}}</b>
				</a>'s games:
			</div>
		</p>

			{% for game in gamesbyuser %}
				<div class="gamecard_public">
					<!-- round profile pic area -->
					<div class="gctop gc">
					    <div class="profile_pic">
					    	<a href="/games/{{game.id}}/">
								<img 
									title="{{game.description|truncatewords:"20"}}" 
									class="p_pic" 
									src="{% get_static_prefix %}{{game.game_thumbnail}}" 
								/>
							</a>
					    </div>
					    <table><tr><td>
							<div class="game_name gc">
								<span>
									<a href="/games/{{game.id}}/" title="{{game.description|truncatewords:"20"}}">
										{{game.name}}
									</a>
								</span>
							</div>
							<div class="game_creator gc">
								<span>
									<p>
										Created by <a href="/accounts/profile/{{game.createdby.id}}/">@{{game.createdby.username}}</a> on {{game.pubdate}}
									</p>
									<p>
										{% if game.createdby == thisuser %}
											<b>
												<a href="/games/{{game.id}}/edit/"><b>Edit</b></a>
											</b>
										{% endif %}
									</p>
								</span>
							</div>
							<div class="game_stats">
								
								<span>

									{% if thisuser %}
												{% if game.liked %}
													<a href="/games/{{game.id}}/unlike/?next=/games/#{{game.id}}">
														<img 
															class="media_icon" 
															src="{% static "assets/images/heart-unlike-256.png" %}" 
															title="Unlike Game" 
														/> {{game.gamelikes.count}} 
													</a>
												{% else %}
													{% if game.gamelikes %}
														<a href="/games/{{game.id}}/like/?next=/games/#{{game.id}}">
															<img 
																class="media_icon" 
																src="{% static "assets/images/heart-like-256.png" %}" 
																title="Like Game" 
															/> {{game.gamelikes.count}} 
														</a>
													{% else %}
														<a href="/games/{{game.id}}/like/?next=/games/#{{game.id}}">
															<img 
																class="media_icon" 
																src="{% static "assets/images/heart-like-256.png" %}" 
																title="Like Game" 
															/> 
														</a>
													{% endif %}
												{% endif %}
											{% else %}
												{% if game.gamelikes %}
													<img 
														class="media_icon" 
														src="{% static "assets/images/heart-nolike-256.png" %}" 
														title="Like Game" 
													/> {{game.gamelikes.count}} 
												{% endif %}
											{% endif %}

											{% if game.game_host.count = 0 %}
												
											{% else %}
												<a href="/games/{{game.id}}/results/">
													<img 
														class="media_icon" 
														src="{% static "assets/images/friendgame-users-256.png" %}" 
														title="{{game.game_host.count}} Players"
													/> {{game.game_host.count}} 
												</a> 
											{% endif %}

											{% if game.photocount = 0 %}

											{% else %}
												<a href="/games/{{game.id}}/photos/">
													<img 
														class="media_icon"
														src="{% static "assets/images/game-photo-256.png" %}" 
														title="{{game.photocount}} Photos"
													/> {{game.photocount}} 
												</a> 
											{% endif %}

											{% if game.game_for_comment.count = 0 %}
												
											{% else %}
												<a href="/games/{{game.id}}/#comments">
													<img 
														class="media_icon" 
														src="{% static "assets/images/lobby-bubbles-256.png" %}" 
														title="{{game.game_for_comment.count}} Comments"
													/> {{game.game_for_comment.count}}
												</a>
											{% endif %}

									{% if game.private_game %}
										Private Game!
									{% endif %}

								</span>
							</div>
						</td></tr></table>

						{% if game.latest %}
							<table width="100%" cellpadding="5">
								<tr>
									<td colspan="4">
										<div class="heading3">
											<p>Latest Photos from <b>@{{game.latest.player.username}}</b>:</p>
										</div>
									</td>
								</tr>
								<tr>
									<td width="25%" align="center">
										{% if game.latest.result01crop %}
											<a href="/games/{{game.id}}/photos/">
												<img 
													title="{{game.latest.result01desc|truncatewords:"20"}}" 
													src="{% get_static_prefix %}{{game.latest.result01crop}}" 
													width="100"
												/>
											</a>
										{% else %}
											<img 
												src="{% static "assets/images/generic_avatar.png" %}" 
												alt="Hi!" 
												width="100" 
											/>
										{% endif %}
									</td>
									<td width="25%" align="center">
										{% if game.latest.result02crop %}
											<a href="/games/{{game.id}}/photos/">
												<img 
													title="{{game.latest.result02desc|truncatewords:"20"}}" 
													src="{% get_static_prefix %}{{game.latest.result02crop}}" 
													width="100"
												/>
											</a>
										{% else %}
											<img 
												src="{% static "assets/images/generic_avatar.png" %}" 
												alt="Hi!" 
												width="100" 
											/>
										{% endif %}
									</td>
									<td width="25%" align="center">
										{% if game.latest.result03crop %}
											<a href="/games/{{game.id}}/photos/">
												<img 
													title="{{game.latest.result03desc|truncatewords:"20"}}" 
													src="{% get_static_prefix %}{{game.latest.result03crop}}" 
													width="100"
												/>
											</a>
										{% else %}
											<img 
												src="{% static "assets/images/generic_avatar.png" %}" 
												alt="Hi!" 
												width="100" 
											/>
										{% endif %}
									</td>
									<td width="25%" align="center">
										{% if game.latest.result04crop %}
											<a href="/games/{{game.id}}/photos/">
												<img 
													title="{{game.latest.result04desc|truncatewords:"20"}}" 
													src="{% get_static_prefix %}{{game.latest.result04crop}}" 
													width="100"
												/>
											</a>
										{% else %}
											<img 
												src="{% static "assets/images/generic_avatar.png" %}" 
												alt="Hi!" 
												width="100" 
											/>
										{% endif %}
									</td>
								</tr>
							</table>
						{% endif %}
						
					</div>
					<div class="gcbottom"> 
						<!-- <span class="gcaccent gcactions"> -->
							{% if thisuser %}
								<div class="column">
									{% if game.played %}
										<a href="/games/{{game.id}}/results/{{thisuser.id}}/">Your Score</a>
									{% else %}
										{% if game.game_closed %}
											<a href="/games/{{game.id}}/results/">Game Over!</a>
										{% else %}
											<a href="/games/{{game.id}}/play/">Play</a>
										{% endif %}
									{% endif %}
								</div>

								<div class="inbetween_column">|</div> 

								<div class="column">
									{% if game.photocount = 0 %}
										No Photos!
									{% else %}
										<a href="/games/{{game.id}}/photos/">All Photos</a>
									{% endif %}
								</div>

								<div class="inbetween_column">|</div> 

								<div class="column">
									{% if game.photocount = 0 %}
										<a href="/games/{{game.id}}/" title="{{game.description|truncatewords:"20"}}">Moar</a>
									{% else %}
										<a href="/games/{{game.id}}/results/">Scoreboard</a>
									{% endif %}
								</div>

							{% else %}

								<div class="column">
									<a href="/accounts/login/">Play</a>
								</div>

								<div class="inbetween_column">|</div> 

								<div class="column">
									{% if game.photocount = 0 %}
										No Photos!
									{% else %}
										<a href="/games/{{game.id}}/photos/">All Photos</a>
									{% endif %}
								</div>

								<div class="inbetween_column">|</div> 
								
								<div class="column">
									{% if game.photocount = 0 %}
										<a href="/games/{{game.id}}/" title="{{game.description|truncatewords:"20"}}">Moar</a>
									{% else %}
										<a href="/games/{{game.id}}/results/">Scoreboard</a>
									{% endif %}
								</div>


							{% endif %} 
						<!-- </span> -->
					</div>
				</div>
				<br />
			{% endfor %}
			<div class="pagination" align="right">
				<span class="step-links">
					{% if gamesbyuser.has_previous %}
						<a href="?page={{ gamesbyuser.previous_page_number }}">previous</a>
					{% endif %}

					<span class="current">
						Page {{ gamesbyuser.number }} of {{ gamesbyuser.paginator.num_pages }}
					</span>

					{% if gamesbyuser.has_next %}
						<a href="?page={{ gamesbyuser.next_page_number }}">next</a>
					{% endif %}
				</span>
			</div>
	{% else %}
		<p><a href="/accounts/profile/{{gamesuser.id}}/"><b>{{gamesuser.username}}</b></a> doesn't have any games!</p>
	{% endif %}
{% endblock %}