{% extends "base.html" %}
{% load static %}
{% block title %}The Best Eye: Your Profile{% endblock %}
{% load i18n %}
{% block extrahead %}
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="{% static "assets/js/jquery.guillotine.js" %}"></script>
	<script src="{% static "assets/js/modernizr.js" %}"></script>
	<script src="{% static "assets/js/modernizr-test.js" %}"></script>
	<!-- <script src="{% static "assets/js/user_profile.js" %}"></script> -->
	
	<link rel="stylesheet" href="{% static "assets/css/jquery-ui.css" %}">
	<link rel="stylesheet" href="{% static "assets/css/jquery.guillotine.css" %}">
	<link rel="stylesheet" href="{% static "assets/css/user_profile.css" %}">
	
	<script>
		$(function() {
		$( "#id_birthday" ).datepicker();
		});
	</script>
	<script type="text/javascript">
		function checkInputExtension() {
			var filename = document.getElementById("id_avatar_thumbnail").value;
			if (filename == ''){
				alert('Please select an image');
				return false;
			}
			else {
				var extension = filename.substring(filename.lastIndexOf('.') + 1).toLowerCase();
				if(extension == "jpg" || extension == "png") {
					// filename is good to go
				}
				else {
					alert ("Please select a jpg or png");
					document.getElementById("id_avatar_thumbnail").value = '';
					return false;
				}
			}
		}
	</script>
<!-- Hide until cropper
	<script type="text/javascript">

		function PreviewImage() {
			var oFReader = new FileReader();
			oFReader.readAsDataURL(document.getElementById("id_avatar_thumbnail").files[0]);

			oFReader.onload = function (oFREvent) {
				document.getElementById("avatar_preview").src = oFREvent.target.result;
				
			};

		};
		
	</script>
end hide until cropper -->
{% endblock %}

{% block content %}

	<div class="heading2">
		<img 
			class="heading_icon" 
			src="{% static "assets/images/profile-card-256.png" %}" 
		/> 
		Your Profile:
	</div>

	{% for field in form %}
		{{field.error}}

	{% endfor %}

	<form action="/accounts/profile/" method="post" enctype="multipart/form-data" />{% csrf_token %}
		<table width="100%" cellpadding="5" style="background:#ffffff;">
			<tr>
				<td width="50" align="right" style="padding-right:5px" valign="top">
					Avatar:
				</td>
			
				<td valign="top">					
					
					{% if profile.avatar_thumbnail %}
						<img src="{% get_static_prefix %}{{profile.avatar_thumbnail}}" width="200"><br />
					{% endif %}
					
					<input type='file' id='id_avatar_thumbnail' name='avatar_thumbnail' onchange="checkInputExtension();" /><br />

				</td>

			</tr>
			<tr>
				<td width="50" align="right" style="padding-right:5px" valign="top">
					Public:
				</td>
				<td valign="top">{{form.visible}}</td>
			</tr>
			<tr>
				<td align="right" style="padding-right:5px" valign="top">
					Bio:
				</td>
				<td valign="top">{{form.bio}}</td>
			</tr>
			<tr>
				<td align="right" style="padding-right:5px" valign="top">
					Camera:
				</td>
				<td valign="top">
					{{form.camera}} 
					<img 
						width="30" 
						src="{% static "assets/images/game-camera-256.png" %}" 
					/> 
				</td>
			</tr>
			<tr>
				<td align="right" style="padding-right:5px" valign="top">
					Birthday:
				</td>
				<td valign="top">
					{{form.birthday}} 
					<img 
						width="30" 
						src="{% static "assets/images/profile-calendar-256.png" %}" 
					/>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" value="Update" />
				</td>
			</tr>
		</table>
	</form>

{% endblock %}