{% extends "base.html" %}
{% block title %}The Best Eye: View {{userlookup.username}}'s Profile{% endblock %}
{% load static %}
{% load i18n %}

{% block content %}
	
	{% if viewprofile %}
		<table width="100%" cellpadding="5">
			<tr>
				<td valign="bottom">		
					<div class="heading2">
						<p>
							<img 
								class="heading_icon" 
								src="{% static "assets/images/profile-card-256.png" %}" 
							/> 
							<b>{{userlookup.username}}'s profile</b>
						</p>
					</div>
				</td>
				<td align="right" style="padding-right:40px">
					{% if userlookup.username = thisuser.username %}
						<a href="/accounts/profile/">Edit Your Profile</a>
					{% else %}
						<a href="/accounts/profile/{{userlookup.id}}/games/">{{userlookup.username}}'s games</a><br />
						{% if follower %}
							<a href="/eyechat/new/{{userlookup.id}}/">Send {{userlookup.username}} a message</a><br />
						{% endif %}
						{% if thisuser %}
							{% if iffollowing %}
								Following <a 
								href="/accounts/profile/{{userlookup.id}}/unfollow/?nextpage=/accounts/profile/{{userlookup.id}}/">
								(Unfollow)</a>
	        				{% else %}
	        					<a href="/accounts/profile/{{userlookup.id}}/follow/?nextpage=/accounts/profile/{{userlookup.id}}/">Follow</a>
	        				{% endif %}
	        			{% endif %}
        			{% endif %}
				</td>
			</tr>
		</table>

		{% if viewprofile.visible %}
			<table width="100%" cellpadding="5" style="background:#ffffff;">
				<tr>
					<td rowspan="4" width="200" valign="top">
						{% if viewprofile.avatar_thumbnail %}
							<img src="{% get_static_prefix %}{{viewprofile.avatar_thumbnail}}" width="200"><br />
						{% endif %}
					</td>
					<td colspan="2" style="padding-left:25px;">
						{% if viewprofile.bio %}
							{{viewprofile.bio}}
						{% endif %}
					</td>
				</tr>
				<tr>
					<td align="right" style="padding-right:2px">
						<img 
							width="30" 
							src="{% static "assets/images/points-medal-256.png" %}" 
						/>
					</td>
					<td>
						{{viewprofile.totalpoints}} points
					</td>
				</tr>
				<tr>
					{% if viewprofile.camera %}
						<td width="50" align="right" style="padding-right:2px">
							<img 
								width="30" 
								src="{% static "assets/images/game-camera-256.png" %}" 
							/> 
						</td>
						<td>
							{{viewprofile.camera}}
						</td>
					{% else %}
						<td colspan="2"></td>
					{% endif %}
				</tr>
				<tr>
					<td align="right" style="padding-right:2px">
						<img 
							width="30" 
							src="{% static "assets/images/profile-calendar-256.png" %}" 
						/>
					</td>
					<td>
						{{viewprofile.birthday}}
					</td>
				</tr>
				{% if viewprofile.achievements.count > 0 %}
					<tr>
						<td colspan="3">
							{% for a in viewprofile.achievements.all %}
								<p>
									<img 
										width="30" 
										src="{% static "assets/images/achievement-trophy-256.png" %}" 
									/>
									Achievement: {{a.name}} | {{a.description}}
								</p>
							{% endfor %}
						</td>
					</tr>
				{% endif %}
			</table>
		{% else %}
			<p>Sorry, this user is private.</p>
		{% endif %}
	{% else %}
		<p>Sorry, this user doesn't exist.</p>
	{% endif %}

{% endblock %}