<!DOCTYPE html>

{% load static from staticfiles %}

<html lang="en">
	<head>

		<meta charset="utf-8">
		<title>{% block title %}The Best Eye{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static "assets/css/base.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "assets/css/lib/fontello.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "assets/css/lib/normalize.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "assets/css/index.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "assets/css/sidebar.css" %}">
		<!--[if lt IE 9]>
			<script src="{% static "assets/js/lib/html5shiv.js" %}"></script>
		<![endif]-->
		
		<script language="JavaScript" type="text/javascript" src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-63614521-1', 'auto');
			ga('send', 'pageview');
		</script>
		
		{% block extrahead %}{% endblock %}

	</head>

	<body>
	
		<div class="wrapper jsc-sidebar-content jsc-sidebar-pulled">

			<div class="main_menu">
				<div class="menu_right">
					{% if new_game_available %}
						<a href="/games/new/">
							<img 
								class="rightmenu_icon" 
								src="{% static "assets/images/newgame-pencil-256.png" %}" 
								alt="New Game" 
								title="New Game" 
							/> 
						</a>
					{% else %}
						{% if new_post_available %}
							<a href="/lobby/posts/new/">
								<img 
									class="rightmenu_icon" 
									src="{% static "assets/images/newpost-plus-256.png" %}" 
									alt="New Lobby Post" 
									title="New Lobby Post" 
								/> 
							</a>
						{% endif %}
					{% endif %}
				</div>
				<div class="menu_left">
					<a href="#" class="jsc-sidebar-trigger">
						<img 
							class="menu_icon"
							src="{% static "assets/images/menu-icons-256.png" %}" 
							title="Main Menu" 
						/> 
					</a> 
				</div>
				<div class="menu_center">
					<a href="/">
						<img 
							src="{% static "assets/images/tbe_logo_flat.png" %}" 
							alt="The Best Eye Logo" 
							width="400" 
							class="header_logo" 
							title="Welcome to The Best Eye!" 
						/> 
					</a>
				</div>
			</div>

			<p></p>

			<section class="main-content">
				<div class="page">
					<br />
					<div id="content" style="overflow:hidden;">
						{% if s.count > 0 %}
							<h3>Notifications:</h3>
							{% for msg in s %}
								<p><a href="/sitemessages/show/{{msg.id}}/">{{msg.subject}}</a></p>
							{% endfor %}
						{% endif %}
						{% if messages %}
							<ul class="messages">
								{% for message in messages %}
									<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
								{% endfor %}
							</ul>
						{% endif %}
						{% block content %}
							This is the content area.
						{% endblock %}
					</div>
				</div>

				{% block footer %}
					<br />
					<div class="pagebottom" align="center"></div>
					<br />
					<table width="60%" align="center">
						{% if thisuser %}
							<tr>
								<td align="center" width="33%">
									<div class="heading2">
										<a href="/blog/">
											<img 
												width="30" 
												src="{% static "assets/images/blog-gear-256.png" %}" 
											/> 
											Best Eye Blog
										</a>
									</div>
								</td>
								<td align="center" width="34%">
									<div class="heading2">
										<a href="/contact/">
											<img 
												width="30" 
												src="{% static "assets/images/contact-letter-256.png" %}" 
											/> 
											Contact Us
										</a>
									</div>
								</td>
								<td align="center" width="33%">
									<div class="heading2">
										<a href="/accounts/logout/">
											<img 
												width="30" 
												src="{% static "assets/images/logout-x-256.png" %}" 
											/> 
											Logout
										</a>
									</div>
								</td>
							</tr>
						{% endif %}
						<tr>
							<td colspan="3" align="center">
								<br />
									<p><i><a href="http://www.jasonboyce.com/">Site by: Jason Boyce</a></i></p>
								<br />
							</td>
						</tr>
					</table>
				{% endblock %}
			</section>

		</div>

		<nav class="sidebar jsc-sidebar" id="jsi-nav" data-sidebar-options="">
			<ul class="sidebar-list">
				{% if thisuser %}
					<div align="center" class="heading2">
						<li>Hello, @{{thisuser.username}}</li>
					</div>
					<br />
					<li>
						<a href="/accounts/profile/{{thisuser.id}}/">
							<div class="heading3">
								<img 
									class="nav_icon" 
									src="{% static "assets/images/points-medal-256.png" %}" 
								/> 
								{% if thisuser.user_object.totalpoints = 1 %}
									1 Point
								{% else %}
									{{thisuser.user_object.totalpoints}} Points
								{% endif %}
							</div>
						</a>
					</li>
					<li>
						<div class="heading3">
							<a href="/games/">
								<img 
									class="nav_icon" 
									src="{% static "assets/images/home-house-256.png" %}" 
								/> 
								All Games
							</a>
						</div>
					</li>
					<li>
						<a href="/favorites/">
							<div class="heading3">
								<img 
									class="nav_icon" 
									src="{% static "assets/images/favorites-star-256.png" %}" 
								/> 
								Favorites
							</div>
						</a>
					</li>
					<li>
						<a href="/games/friends/">
							<div class="heading3">
								<img 
									class="nav_icon" 
									src="{% static "assets/images/friendgame-users-256.png" %}" 
								/> 
								Friend Games
							</div>
						</a>
					</li>
					<li>
						<a href="/games/yourgames/">
							<div class="heading3">
								<img 
									class="nav_icon" 
									src="{% static "assets/images/yourgame-user-256.png" %}" 
								/> 
								Your Games
							</div>
						</a>
					</li>
					<li>
						<a href="/games/new/">
							<div class="heading3">
								<img 
									class="nav_icon" 
									src="{% static "assets/images/newgame-pencil-256.png" %}" 
								/> 
								New Game
							</div>
						</a>
					</li>
					<li>
						<a href="/activity/">
							<div class="heading3">
								<img 
									class="nav_icon" 
									src="{% static "assets/images/activity-list-256.png" %}" 
								/> 
								Activity Stream
							</div>
						</a>
					</li>
					<li>
						<a href="/leaderboards/">
							<div class="heading3">
								<img 
									class="nav_icon" 
									src="{% static "assets/images/leader-crown-256.png" %}" 
								/> 
								Leaderboards
							</div>
						</a>
					</li>
					<li>
						<a href="/eyechat/">
							<div class="heading3">
								<img 
									class="nav_icon" 
									src="{% static "assets/images/eyechat-eye-256.png" %}" 
								/> 
								Eyechat
							</div>
						</a>
					</li>
					<li>
						<a href="/lobby/">
							<div class="heading3">
								<img 
									class="nav_icon" 
									src="{% static "assets/images/lobby-bubbles-256.png" %}" 
								/> 
								Lobby
							</div>
						</a>
					</li>
					<li>
						<a href="/lobby/posts/new/">
							<div class="heading3">
								<img 
									class="nav_icon" 
									src="{% static "assets/images/newpost-plus-256.png" %}" 
								/> 
								New Lobby Post
							</div>
						</a>
					</li>
					<li>
						<a href="/accounts/profile/{{thisuser.id}}/following/">
							<div class="heading3">
								<img 
									class="nav_icon" 
									src="{% static "assets/images/follow-users-256.png" %}" 
								/> 
								Following: {{following}}
							</div>
						</a>
					</li>
					<li>
						<a href="/accounts/profile/{{thisuser.id}}/followers/">
							<div class="heading3">
								<img 
									class="nav_icon" 
									src="{% static "assets/images/follow-users-256.png" %}" 
								/> 
								Followers: {{followers}}
							</div>
						</a>
					</li>
					<li>
						<a href="/accounts/profile/">
							<div class="heading3">
								<img 
									class="nav_icon" 
									src="{% static "assets/images/profile-card-256.png" %}" 
								/> 
								Your Profile
							</div>
						</a>
					</li>
					{% if thisuser.user_object.blog_writer == True %}
						<li>
							<div class="heading3">
								<a href="/blog/new/">
									<img 
										class="nav_icon" 
										src="{% static "assets/images/newpost-plus-256.png" %}" 
									/> 
									New Blog Post
								</div>
							</a>
						</li>
					{% endif %}
				{% else %}
					<li>
						<a href="/accounts/login/">
							<div class="heading3">
								<img 
									class="nav_icon" 
									src="{% static "assets/images/yourgame-user-256.png" %}" 
								/> 
								Login
							</div>
						</a>
					</li>
					<li>
						<a href="/accounts/signup/">
							<div class="heading3">
								<img 
									class="nav_icon" 
									src="{% static "assets/images/yourgame-user-256.png" %}" 
								/> 
								Sign Up
							</div>
						</a>
					</li>
					<li>
						<a href="/games/">
							<div class="heading3">
								<img 
									class="nav_icon" 
									src="{% static "assets/images/home-house-256.png" %}" 
								/> 
								All Games
							</div>
						</a>
					</li>
					<li>
						<a href="/lobby/">
							<div class="heading3">
								<img 
									class="nav_icon" 
									src="{% static "assets/images/lobby-bubbles-256.png" %}" 
								/> 
								Lobby
							</div>
						</a>
					</li>
					<li>
						<a href="/blog/">
							<div class="heading3">
								<img 
									class="nav_icon" 
									src="{% static "assets/images/blog-gear-256.png" %}" 
								/> 
								Best Eye Blog
							</div>
						</a>
					</li>
				{% endif %}
			</ul>
		</nav>


<!--		<script src="{% static "assets/js/lib/jquery.min.js" %}"></script>-->
		
		<script src="{% static "assets/js/sidebar.js" %}"></script>
		
		<script>
			$('#jsi-nav').sidebar({
				trigger: '.jsc-sidebar-trigger',
				pullCb: function () { console.log('pull'); },
				pushCb: function () { console.log('push'); }
			});
		</script>
	</body>

</html>