{% extends "base.html" %}
{% block title %}The Best Eye: Contact Us{% endblock %}
{% load i18n %}

{% block content %}

	<h2>Contact Us</h2>
	<p>Step {{wizard.steps.step1}} of {{wizard.steps.count}}</p>
	{% for field in form %}
		{{field.error}}
	{% endfor %}

	<form action="/contact/" method="post">{% csrf_token %}
		<table>
			{{wizard.management_form}}
			{% if wizard.form.forms %}
				{{wizard.form.management_form}}
				{% for form in wizard.form.tools %}
					{{form}}
				{% endfor %}
			{% else %}
				{{wizard.form}}
			{% endif %}
		</table>
		{% if wizard.steps.prev %}
			<button name="wizard_goto_step" type="submit" value="{{wizard.steps.first}}">"First Step"</button>
			<button name="wizard_goto_step" type="submit" value="{{wizard.steps.prev}}">"Prev Step"</button>
		{% endif %}

		<input type="submit" value="submit" />

	</form>

{% endblock %}