{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block content %}

	<div id="whitebg">
		<table width="100%" cellpadding="5">
			<tr>
				<td>
						<b>Welcome {% if thisuser %}back{% endif %} to The Best Eye!</b>
						<p>The Best Eye is an online photo scavenger hunt. You compete against your friends online and in person to take the best pictures and figure out who has The Best Eye.</p>
						<p>Click <a href="/games/"><b>here</b></a> to check out the latest games!</p>
						{% if not thisuser %}<p>Click <a href="/accounts/login/"><b>here</b></a> to login and <a href="/accounts/signup/"><b>here</b></a> to sign up!</p>{% endif %}
				</td>
			</tr>
		</table>
	</div>

{% endblock %}