{% extends "base.html" %}
{% load i18n %}

{% block content %}

	<div id="whitebg">
		Your login details are invalid!
		<p>Click <a href="/accounts/login/">here</a> to try again.</p>
	</div>

{% endblock %}