{% extends "base.html" %}
{% load i18n %}

{% block content %}
	<div id="whitebg">
		<table width="100%" cellpadding="5">
			<tr>
				<td>
					Welcome back, <a href="/accounts/profile/{{thisuser.id}}/"><b>{{full_name}}</b></a>!
					{% if sitemessages.count > 0 %}
						<h3>Notifications:</h3>
						{% for s in sitemessages %}
							<p><a href="/sitemessages/show/{{s.id}}/">{{s.subject}}</a></p>
						{% endfor %}
					{% endif %}
					<p>Click <a href="/games/"><b>here</b></a> to search for new games.</p>
					<p>Click <a href="/games/yourgames/"><b>here</b></a> to view any games you've made or played.</p>
					<p>Click <a href="/lobby/"><b>here</b></a> to go to the lobby and chat.</p>
					<p>Click <a href="/accounts/profile/"><b>here</b></a> to edit your profile.</p>
				</td>
			</tr>
		</table>
	</div>

{% endblock %}