{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div id="whitebg">

		{% if form.errors %}
			<p class="error">Sorry, that's not a valid username or password</p>
		{% endif %}

		<form action="/accounts/auth/" method="post">{% csrf_token %}
			<table width="100%" cellpadding="5">
				<tr>
					<td>
						<label for="username">Username:</label>
						<input type="text" name="username" value="" id="username">
						<label for="password">Password:</label>
						<input type="password" name="password" value="" id="password">

						<input type="submit" value="login" />
						<p><a href="accounts/password/reset/">Need to reset your password?</a></p>
					</td>
				</tr>
			</table>
		</form>

</div>

{% endblock %}