{% extends "base.html" %}
{% load i18n %}

{% block content %}

	<div id="whitebg">

		Register:<br />
		<form action="/accounts/register/" method="post">{% csrf_token %}
		{{form.as_ul}}

		<input type="submit" value="Register" />

		</form>

	</div>

{% endblock %}