{% extends "base.html" %}
{% load static %}
{% block title %}The Best Eye: Favorite Games{% endblock %}
{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/all_games.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/game.css" %}">
	<script>
		$(function() {
			$( document ).tooltip();
		});
	</script>
	<style>
		label {
			display: inline-block;
			width: 5em;
		}
	</style>
{% endblock %}

{% block content %}

	{% if search_sent %}

		{% if search_game_results.count > 0 %}

			<table width="100%">
				<tr>
					<td>
						<div class="heading2">
							<img 
								class="heading_icon" 
								src="{% static "assets/images/favorites-star-256.png" %}" 
							/>
							Search Results:
						</div>
					</td>
					<td align="right" style="padding-right:5px;">
						<form action="/favorites/" method="post">{% csrf_token %}
							<input type="text" id="search_favorite_games" name="search_favorite_games" placeholder="Search" /> 
							<input type="image" src="{% static "assets/images/search-glass-256.png" %}" class="search_icon">
						</form>
					</td>
				</tr>
			</table>

			{% for game in search_game_results %}

				<a name="{{game.id}}"></a>

				<div class="gamecard_public">
					<!-- round profile pic area -->
					<div class="gctop gc">
					    <table width="100%">
							<tr>
								<td rowspan="2" width="20%">
									<div class="profile_pic">
										<a href="/games/{{game.id}}/">
											<img 
												title="{{game.description|truncatewords:"20"}}" 
												class="p_pic" 
												src="{% get_static_prefix %}{{game.game_thumbnail}}" 
											/>
										</a>
								    </div>
								</td>
								<td valign="top">
									<div class="game_name gc">
										<span>
											<a href="/games/{{game.id}}/" title="{{game.description|truncatewords:"20"}}">
												{{game.name}}
											</a>
										</span>
									</div>
									<div class="game_creator gc">
										<span>
											<p>
												By <a href="/accounts/profile/{{game.createdby.id}}/">@{{game.createdby.username}}</a> on {{game.pubdate}} 
												{% if game.createdby == thisuser %}
													{% if not game.game_closed %}
														<b>
															<a href="/games/{{game.id}}/edit/"><b>Edit</b></a>
														</b>
													{% endif %}
												{% endif %}
											</p>
											{% if game.endby_date %}
												{% if game.game_closed %}
													<p>Ended {{game.endby_date}}</p>
												{% else %}
													<p>Ends {{game.endby_date}}</p>
												{% endif %}
											{% endif %}
										</span>
									</div>
								</td>
								<td align="right" valign="top" rowspan="2">
									<a href="/favorites/{{game.favorite_game.id}}/delete/?next=/favorites/">
										<img 
											class="fav_icon" 
											src="{% static "assets/images/fav-unfav-star-256.png" %}" 
											title="Delete Favorite" 
										/>
									</a>
								</td>
							</tr>
							<tr>
								<td valign="top">
									<div class="game_stats">
										<span>
											{% if thisuser %}
												{% if game.liked %}
													<a href="/games/{{game.id}}/unlike/?next=/games/#{{game.id}}">
														<img 
															class="media_icon" 
															src="{% static "assets/images/heart-unlike-256.png" %}" 
															title="Unlike Game" 
														/> {{game.gamelikes.count}} 
													</a>
												{% else %}
													{% if game.gamelikes %}
														<a href="/games/{{game.id}}/like/?next=/games/#{{game.id}}">
															<img 
																class="media_icon" 
																src="{% static "assets/images/heart-like-256.png" %}" 
																title="Like Game" 
															/> {{game.gamelikes.count}} 
														</a>
													{% else %}
														<a href="/games/{{game.id}}/like/?next=/games/#{{game.id}}">
															<img 
																class="media_icon" 
																src="{% static "assets/images/heart-like-256.png" %}" 
																title="Like Game" 
															/> 
														</a>
													{% endif %}
												{% endif %}
											{% else %}
												{% if game.gamelikes %}
													<img 
														class="media_icon" 
														src="{% static "assets/images/heart-nolike-256.png" %}" 
														title="Like Game" 
													/> {{game.gamelikes.count}} 
												{% endif %}
											{% endif %}

											{% if game.game_host.count = 0 %}
												
											{% else %}
												<a href="/games/{{game.id}}/results/">
													<img 
														class="media_icon" 
														src="{% static "assets/images/friendgame-users-256.png" %}" 
														title="{{game.game_host.count}} Players"
													/> {{game.game_host.count}} 
												</a> 
											{% endif %}

											{% if game.photocount = 0 %}

											{% else %}
												<a href="/games/{{game.id}}/photos/">
													<img 
														class="media_icon"
														src="{% static "assets/images/game-photo-256.png" %}" 
														title="{{game.photocount}} Photos"
													/> {{game.photocount}} 
												</a> 
											{% endif %}

											{% if game.game_for_comment.count = 0 %}
												
											{% else %}
												<a href="/games/{{game.id}}/#comments">
													<img 
														class="media_icon" 
														src="{% static "assets/images/lobby-bubbles-256.png" %}" 
														title="{{game.game_for_comment.count}} Comments"
													/> {{game.game_for_comment.count}}
												</a>
											{% endif %}

											{% if game.private_game %}
												Private Game!
											{% endif %}

										</span>
									</div>
								</td>
							</tr>
						</table>

						{% if not game.hide_latest %}
							{% if game.latest %}
								<table width="100%" cellpadding="5">
									<tr>
										<td colspan="4">
											<div class="heading3">
												<p>
													Latest Photos from <a href="/accounts/profile/{{game.latest.player.id}}/">
													<b>@{{game.latest.player.username}}</b>:</a>
												</p>
											</div>
										</td>
									</tr>
									<tr>
										<td width="25%" align="center">
											{% if game.latest.result01crop %}
												<a href="/games/{{game.id}}/photos/">
													<img 
														title="{{game.latest.result01desc|truncatewords:"20"}}" 
														src="{% get_static_prefix %}{{game.latest.result01crop}}" 
														width="100"
													/>
												</a>
											{% else %}
												<!-- <img 
													src="{% static "assets/images/generic_avatar.png" %}" 
													alt="Hi!" 
													width="100" 
												/> -->
											{% endif %}
										</td>
										<td width="25%" align="center">
											{% if game.latest.result02crop %}
												<a href="/games/{{game.id}}/photos/">
													<img 
														title="{{game.latest.result02desc|truncatewords:"20"}}" 
														src="{% get_static_prefix %}{{game.latest.result02crop}}" 
														width="100"
													/>
												</a>
											{% else %}
												<!-- <img 
													src="{% static "assets/images/generic_avatar.png" %}" 
													alt="Hi!" 
													width="100" 
												/> -->
											{% endif %}
										</td>
										<td width="25%" align="center">
											{% if game.latest.result03crop %}
												<a href="/games/{{game.id}}/photos/">
													<img 
														title="{{game.latest.result03desc|truncatewords:"20"}}" 
														src="{% get_static_prefix %}{{game.latest.result03crop}}" 
														width="100"
													/>
												</a>
											{% else %}
												<!-- <img 
													src="{% static "assets/images/generic_avatar.png" %}" 
													alt="Hi!" 
													width="100" 
												/> -->
											{% endif %}
										</td>
										<td width="25%" align="center">
											{% if game.latest.result04crop %}
												<a href="/games/{{game.id}}/photos/">
													<img 
														title="{{game.latest.result04desc|truncatewords:"20"}}" 
														src="{% get_static_prefix %}{{game.latest.result04crop}}" 
														width="100"
													/>
												</a>
											{% else %}
												<!-- <img 
													src="{% static "assets/images/generic_avatar.png" %}" 
													alt="Hi!" 
													width="100" 
												/> -->
											{% endif %}
										</td>
									</tr>
								</table>
							{% endif %}
						{% endif %}
						
					</div>
					<div class="gcbottom"> 
						<!-- <span class="gcaccent gcactions"> -->
							<div class="column">
								{% if game.played %}
									<a href="/games/{{game.id}}/results/{{thisuser.id}}/">Your Score</a>
								{% else %}
									{% if game.game_closed %}
										<a href="/games/{{game.id}}/results/">Game Over!</a>
									{% else %}
										<a href="/games/{{game.id}}/play/">Play</a>
									{% endif %}
								{% endif %}
							</div>

							<div class="inbetween_column">|</div> 

							<div class="column">
								{% if game.photocount = 0 %}
									No Photos!
								{% else %}
									<a href="/games/{{game.id}}/photos/">All Photos</a>
								{% endif %}
							</div>

							<div class="inbetween_column">|</div> 

							<div class="column">
								{% if game.photocount = 0 %}
									<a href="/games/{{game.id}}/" title="{{game.description|truncatewords:"20"}}">Moar</a>
								{% else %}
									<a href="/games/{{game.id}}/results/">Scoreboard</a>
								{% endif %}
							</div>
						<!-- </span> -->
					</div>
				</div>
				<br />
			{% endfor %}

		{% else %}

			<table width="100%">
				<tr>
					<td>
						<div class="heading2">
							<img 
								class="heading_icon" 
								src="{% static "assets/images/favorites-star-256.png" %}" 
							/>
							No Search Results!
						</div>
					</td>
					<td align="right" style="padding-right:5px;">
						<form action="/favorites/" method="post">{% csrf_token %}
							<input type="text" id="search_favorite_games" name="search_favorite_games" placeholder="Search" /> 
							<input type="image" src="{% static "assets/images/search-glass-256.png" %}" class="search_icon">
						</form>
						</form>
					</td>
				</tr>
			</table>

		{% endif %}

	{% else %}

		{% if all_favoritegames.count > 0 %}

			<table width="100%">
				<tr>
					<td>
						<div class="heading2">
							<img 
								class="heading_icon" 
								src="{% static "assets/images/favorites-star-256.png" %}" 
							/>
							Your Favorite Games:
						</div>
					</td>
					<td align="right" style="padding-right:5px;">
						<form action="/favorites/" method="post">{% csrf_token %}
							<input type="text" id="search_favorite_games" name="search_favorite_games" placeholder="Search" /> 
							<input type="image" src="{% static "assets/images/search-glass-256.png" %}" class="search_icon">
						</form>
					</td>
				</tr>
			</table>

			{% for game in all_favoritegames %}

				<a name="{{game.id}}"></a>

				<div class="gamecard_public">
					<!-- round profile pic area -->
					<div class="gctop gc">
					    <table width="100%">
							<tr>
								<td rowspan="2" width="20%">
									<div class="profile_pic">
										<a href="/games/{{game.id}}/">
											<img 
												title="{{game.game.description|truncatewords:"20"}}" 
												class="p_pic" 
												src="{% get_static_prefix %}{{game.game_thumbnail}}" 
											/>
										</a>
								    </div>
								</td>
								<td valign="top">
									<div class="game_name gc">
										<span>
											<a href="/games/{{game.id}}/" title="{{game.description|truncatewords:"20"}}">
												{{game.name}}
											</a>
										</span>
									</div>
									<div class="game_creator gc">
										<span>
											<p>
												By <a href="/accounts/profile/{{game.game.createdby.id}}/">@{{game.createdby.username}}</a> on {{game.pubdate}} 
												{% if game.createdby == thisuser %}
													{% if not game.game_closed %}
														<b>
															<a href="/games/{{game.id}}/edit/"><b>Edit</b></a>
														</b>
													{% endif %}
												{% endif %}
											</p>
											{% if game.endby_date %}
												{% if game.game_closed %}
													<p>Ended {{game.endby_date}}</p>
												{% else %}
													<p>Ends {{game.endby_date}}</p>
												{% endif %}
											{% endif %}
										</span>
									</div>
								</td>
								<td align="right" valign="top" rowspan="2">
									<a href="/favorites/{{game.id}}/delete/?next=/favorites/">
										<img 
											class="fav_icon" 
											src="{% static "assets/images/fav-unfav-star-256.png" %}" 
											title="Delete Favorite" 
										/>
									</a>
								</td>
							</tr>
							<tr>
								<td valign="top">
									<div class="game_stats">
										<span>
											{% if thisuser %}
												{% if game.liked %}
													<a href="/games/{{game.id}}/unlike/?next=/games/#{{game.id}}">
														<img 
															class="media_icon" 
															src="{% static "assets/images/heart-unlike-256.png" %}" 
															title="Unlike Game" 
														/> {{game.gamelikes.count}} 
													</a>
												{% else %}
													{% if game.gamelikes %}
														<a href="/games/{{game.id}}/like/?next=/games/#{{game.id}}">
															<img 
																class="media_icon" 
																src="{% static "assets/images/heart-like-256.png" %}" 
																title="Like Game" 
															/> {{game.gamelikes.count}} 
														</a>
													{% else %}
														<a href="/games/{{game.id}}/like/?next=/games/#{{game.id}}">
															<img 
																class="media_icon" 
																src="{% static "assets/images/heart-like-256.png" %}" 
																title="Like Game" 
															/> 
														</a>
													{% endif %}
												{% endif %}
											{% else %}
												{% if game.gamelikes %}
													<img 
														class="media_icon" 
														src="{% static "assets/images/heart-nolike-256.png" %}" 
														title="Like Game" 
													/> {{game.gamelikes.count}} 
												{% endif %}
											{% endif %}

											{% if game.game_host.count = 0 %}
												
											{% else %}
												<a href="/games/{{game.id}}/results/">
													<img 
														class="media_icon" 
														src="{% static "assets/images/friendgame-users-256.png" %}" 
														title="{{game.game_host.count}} Players"
													/> {{game.game_host.count}} 
												</a> 
											{% endif %}

											{% if game.photocount = 0 %}

											{% else %}
												<a href="/games/{{game.id}}/photos/">
													<img 
														class="media_icon"
														src="{% static "assets/images/game-photo-256.png" %}" 
														title="{{game.photocount}} Photos"
													/> {{game.photocount}} 
												</a> 
											{% endif %}

											{% if game.game_for_comment.count = 0 %}
												
											{% else %}
												<a href="/games/{{game.id}}/#comments">
													<img 
														class="media_icon" 
														src="{% static "assets/images/lobby-bubbles-256.png" %}" 
														title="{{game.game_for_comment.count}} Comments"
													/> {{game.game_for_comment.count}}
												</a>
											{% endif %}

											{% if game.game.private_game %}
												Private Game!
											{% endif %}

										</span>
									</div>
								</td>
							</tr>
						</table>

						{% if not game.hide_latest %}
							{% if game.latest %}
								<table width="100%" cellpadding="5">
									<tr>
										<td colspan="4">
											<div class="heading3">
												<p>
													Latest Photos from <a href="/accounts/profile/{{game.latest.player.id}}/">
													<b>@{{game.latest.player.username}}</b>:</a>
												</p>
											</div>
										</td>
									</tr>
									<tr>
										<td width="25%" align="center">
											{% if game.latest.result01crop %}
												<a href="/games/{{game.id}}/photos/">
													<img 
														title="{{game.latest.result01desc|truncatewords:"20"}}" 
														src="{% get_static_prefix %}{{game.latest.result01crop}}" 
														width="100"
													/>
												</a>
											{% else %}
												<!-- <img 
													src="{% static "assets/images/generic_avatar.png" %}" 
													alt="Hi!" 
													width="100" 
												/> -->
											{% endif %}
										</td>
										<td width="25%" align="center">
											{% if game.latest.result02crop %}
												<a href="/games/{{game.id}}/photos/">
													<img 
														title="{{game.latest.result02desc|truncatewords:"20"}}" 
														src="{% get_static_prefix %}{{game.latest.result02crop}}" 
														width="100"
													/>
												</a>
											{% else %}
												<!-- <img 
													src="{% static "assets/images/generic_avatar.png" %}" 
													alt="Hi!" 
													width="100" 
												/> -->
											{% endif %}
										</td>
										<td width="25%" align="center">
											{% if game.latest.result03crop %}
												<a href="/games/{{game.id}}/photos/">
													<img 
														title="{{game.latest.result03desc|truncatewords:"20"}}" 
														src="{% get_static_prefix %}{{game.latest.result03crop}}" 
														width="100"
													/>
												</a>
											{% else %}
												<!-- <img 
													src="{% static "assets/images/generic_avatar.png" %}" 
													alt="Hi!" 
													width="100" 
												/> -->
											{% endif %}
										</td>
										<td width="25%" align="center">
											{% if game.latest.result04crop %}
												<a href="/games/{{game.id}}/photos/">
													<img 
														title="{{game.latest.result04desc|truncatewords:"20"}}" 
														src="{% get_static_prefix %}{{game.latest.result04crop}}" 
														width="100"
													/>
												</a>
											{% else %}
												<!-- <img 
													src="{% static "assets/images/generic_avatar.png" %}" 
													alt="Hi!" 
													width="100" 
												/> -->
											{% endif %}
										</td>
									</tr>
								</table>
							{% endif %}
						{% endif %}
						
					</div>
					<div class="gcbottom"> 
						<!-- <span class="gcaccent gcactions"> -->
							<div class="column">
								{% if game.played %}
									<a href="/games/{{game.id}}/results/{{thisuser.id}}/">Your Score</a>
								{% else %}
									{% if game.game_closed %}
										<a href="/games/{{game.id}}/results/">Game Over!</a>
									{% else %}
										<a href="/games/{{game.id}}/play/">Play</a>
									{% endif %}
								{% endif %}
							</div>

							<div class="inbetween_column">|</div> 

							<div class="column">
								{% if game.photocount = 0 %}
									No Photos!
								{% else %}
									<a href="/games/{{game.id}}/photos/">All Photos</a>
								{% endif %}
							</div>

							<div class="inbetween_column">|</div> 

							<div class="column">
								{% if game.photocount = 0 %}
									<a href="/games/{{game.id}}/" title="{{game.description|truncatewords:"20"}}">Moar</a>
								{% else %}
									<a href="/games/{{game.id}}/results/">Scoreboard</a>
								{% endif %}
							</div>
						<!-- </span> -->
					</div>
				</div>
				<br />

			{% endfor %}

			<div class="pagination" align="right">
				<span class="step-links">
					{% if all_favoritegames.has_previous %}
						<a href="?page={{ all_favoritegames.previous_page_number }}"><b>previous</b></a>
					{% endif %}

					<span class="current">
						Page {{ all_favoritegames.number }} of {{ all_favoritegames.paginator.num_pages }}
					</span>

					{% if all_favoritegames.has_next %}
						<a href="?page={{ all_favoritegames.next_page_number }}"><b>next</b></a>
					{% endif %}
				</span>
			</div>

		{% else %}

			<p>You don't have any favorites.</p>
			<p>Try favoriting some <a href="/games/"><b>games!</b></a></p>

		{% endif %}

	{% endif %}

{% endblock %}