{% extends "base.html" %}
{% load static %}

{% block header %}

{% block content %}

	<div id="whitebg">

		{% if favorite_game %}
			<table width="100%" cellpadding="2">
				<tr>
					<td colspan="5">
						<span class="heading16px"><b>{{favorite_game.game.name}}</b></span>
					</td>
				<tr>
					<td width="205" valign="top" rowspan="9" colspan"3">
						{% if favorite_game.game.game_thumbnail %}
							<img src="{% get_static_prefix %}{{favorite_game.game.game_thumbnail}}" width="200" /><br />
						{% endif %}
					</td>
					<td colspan="2">
						{{favorite_game.game.description}}
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<b>Items to Find:</b>
					</td>
				</tr>
				{% if favorite_game.game.item01 %}
					<tr>
						<td colspan="2" style="padding-left:15px">
							{% if results %}
								<a href="/games/{{game.id}}/item/1/">01: {{game.item01}}</a>
							{% else %}
								01: {{game.item01}}
							{% endif %}
						</td>
					</tr>
				{% endif %}
				{% if game.item02 %}
					<tr>
						<td colspan="2" style="padding-left:15px">
							{% if results %}
								<a href="/games/{{game.id}}/item/2/">02: {{game.item02}}</a>
							{% else %}
								02: {{game.item02}}
							{% endif %}
						</td>
					</tr>
				{% endif %}
				{% if game.item03 %}
					<tr>
						<td colspan="2" style="padding-left:15px">
							{% if results %}
								<a href="/games/{{game.id}}/item/3/">03: {{game.item03}}</a>
							{% else %}
								03: {{game.item03}}
							{% endif %}
						</td>
					</tr>
				{% endif %}
				{% if game.item04 %}
					<tr>
						<td colspan="2" style="padding-left:15px">
							{% if results %}
								<a href="/games/{{game.id}}/item/4/">04: {{game.item04}}</a>
							{% else %}
								04: {{game.item04}}
							{% endif %}
						</td>
					</tr>
				{% endif %}
	<!--
				{% if game.item05 %}
					<tr>
						<td colspan="2" style="padding-left:15px">
							{% if results %}
								<a href="/games/{{game.id}}/item/5/">05: {{game.item05}}</a>
							{% else %}
								05: {{game.item05}}
							{% endif %}
						</td>
				</tr>
				{% endif %}
				{% if game.item06 %}
					<tr>
						<td colspan="2" style="padding-left:15px">
							{% if results %}
								<a href="/games/{{game.id}}/item/6/">06: {{game.item06}}</a>
							{% else %}
								06: {{game.item06}}
							{% endif %}
						</td>
					</tr>
				{% endif %}
				{% if game.item07 %}
					<tr>
						<td colspan="2" style="padding-left:15px">
							{% if results %}
								<a href="/games/{{game.id}}/item/7/">07: {{game.item07}}</a>
							{% else %}
								07: {{game.item07}}
							{% endif %}
						</td>
					</tr>
				{% endif %}
				{% if game.item08 %}
					<tr>
						<td colspan="2" style="padding-left:15px">
							{% if results %}
								<a href="/games/{{game.id}}/item/8/">08: {{game.item08}}</a>
							{% else %}
								08: {{game.item08}}
							{% endif %}
						</td>
					</tr>
				{% endif %}
				{% if game.item09 %}
					<tr>
						<td colspan="2" style="padding-left:15px">
							{% if results %}
								<a href="/games/{{game.id}}/item/9/">09: {{game.item09}}</a>
							{% else %}
								09: {{game.item09}}
							{% endif %}
						</td>
					</tr>
				{% endif %}
				{% if game.item10 %}
					<tr>
						<td colspan="2" style="padding-left:15px">
							{% if results %}
								<a href="/games/{{game.id}}/item/10/">10: {{game.item10}}</a>
							{% else %}
								10: {{game.item10}}
							{% endif %}
						</td>
					</tr>
				{% endif %}
	-->
				<tr>
					<td colspan="2">
						{% if playable %}
							{% if thisuser %}
									{% if played %}
										<b><a href="/games/{{game.id}}/results/{{played.player.id}}/">Click here to see your score</a>!</b>
									{% else %}
										<b><a href="/games/{{game.id}}/play/">Play This Game!</a></b>
									{% endif %}
							{% else %}
								<b><a href="/accounts/register/">Sign up to Play!</a></b>
							{% endif %}
							{% if results %}
									{% if thisuser %}
										• <b><a href="/games/{{game.id}}/results/">See the Results!</a></b>
									{% else %}
										<b><a href="/games/{{game.id}}/results/">See the Results!</a></b>
									{% endif %}
							{% endif %}
						{% else %}
							This game has ended. <a href="/games/{{game.id}}/results/">Click here to see the results.</a>
						{% endif %}
					</td>
				</tr>
				<tr>
					{% if thisuser %}
						{% if game.gamelikes == thisuser %}
							<td width="18">
								<a href="/games/{{game.id}}/unlike/?next=/games/{{game.id}}/">
									<img src="{% static "assets/images/like.png" %}" alt="Like" width="18" />
								</a>
							</td>
							<td align="left">
								<a href="/games/{{game.id}}/unlike/?next=/games/{{game.id}}/">
									<b>{{game.gamelikes.count}}</b>
								</a>
							</td>
						{% else %}
							<td width="18">
								<a href="/games/{{game.id}}/like/?next=/games/{{game.id}}/">
									<img src="{% static "assets/images/like.png" %}" alt="Like" width="18" />
								</a>
							</td>
							<td align="left">
								<a href="/games/{{game.id}}/like/?next=/games/{{game.id}}/">
									<b>{{game.gamelikes.count}}</b>
								</a>
							</td>
							{% endif %}
					{% else %}
						<td width="18">
								<img src="{% static "assets/images/like.png" %}" alt="Like" width="18" />
						</td>
						<td align="left">
								<b>{{game.gamelikes.count}}</b>
						</td>
					{% endif %}
				</tr>
				<tr>
					<td colspan="2">
						{% if game.endby_date %}
							Ends on: {{game.endby_date}}
						{% endif %}
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<span class="small_font">
							<i>Created by <b><a href="/accounts/profile/{{game.createdby.id}}/">{{game.createdby.username}}</a></b> on {{game.pubdate}}</i> {% if not game.game_closed %}{% if game.createdby == thisuser %}<a href="/games/{{game.id}}/edit/"><b>Edit</a></b>{% endif %}{% endif %}
						</span>
					</td>
				</tr>
				{% if game.private_game %}
					{% if game.createdby == thisuser %}
						<tr>
							<td colspan="3">
								<a href="/games/{{game.id}}/invite_user/">Invite Players</a>
							</td>
						</tr>
					{% endif %}
				{% endif %}
			</table>

	<!-- COMMENTS -->

			<table width="100%" cellpadding="2">
				<tr>
					<td colspan="2">
						<span class="small_font">
							Comments on <b>{{game.createdby.username}}</b>'s game:
						</span>
					</td>
				</tr>
				{% for comment in comments %}
					<tr>
						<td rowspan="2" valign="top" align="right">
							{% if comment.usertocomment.user_object.avatar_thumbnail %}
								<img src="{% get_static_prefix %}{{comment.usertocomment.user_object.avatar_thumbnail}}" alt="thumbnail" width="50"/>
							{% else %}
								<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
							{% endif %}
						</td>
						<td>
							<a href="/accounts/profile/{{comment.usertocomment.id}}/"><b>{{comment.usertocomment.username}}:</b></a> 
							{{comment.comment}} 
						</td>
					</tr>
					<tr>
						<td colspan="2" valign="top">
							{{comment.gamecommentlikes.count}} likes. 
							{% if thisuser %}
								<a href="/games/{{game.id}}/comment/{{comment.unique_id}}/like/?next=/games/{{game.id}}/"><b>Like!</b></a>
							{% endif %}
							<span class="small_font">
								<i>Posted on {{comment.pubdate}}</i> 
								{% if comment.usertocomment == thisuser %}
									<a href="/games/{{game.id}}/comment/{{comment.unique_id}}/edit/"><b>Edit</b></a>
								{% endif %}
							</span>
						</td>
					</tr>
					<tr><td colspan="2"></td></tr>
				{% endfor %}
				{% if thisuser %}
					<tr>
						<td></td>
						<td>
							<form action="/games/{{game.id}}/new_comment/" method="post">{% csrf_token %}
								<input type="text" name="comment" id="comment" placeholder="Comment" size="40" />
								<input type="submit" name="newcomment" id="newcomment" value="New Comment" />
							</form>
						</td>
					</tr>
				{% endif %}
			</table>
		{% else %}
			<p>Sorry, this game doesn't exist!</p>
			<p><a href="/games/"><b>Back to Games</b></a></p>
		{% endif %}

	</div>

{% endblock %}