{% extends "base.html" %}
{% load static %}
{% block title %}The Best Eye: View Message{% endblock %}
{% load i18n %}
{% block extrahead %}
	<script type="text/javascript">
		function confirmDelete() {
			//display confirmation window which returns true or false
			if(!window.confirm("Are you sure you want to delete this message?")) return false;
			 
			//user clicked 'OK'
			window.location.href="/eyechats/{{message_view.id}}/delete/"
			}
	</script>
{% endblock %}

{% block content %}

	<p>	
		<div class="heading2">
			<img 
				class="heading_icon" 
				src="{% static "assets/images/eyechat-eye-256.png" %}" 
			/>
			Message:
		</div>
	</p>

	<div id="whitebg">

		{% if message_view %}

			{% if message_view.recipient == thisuser %}

				<table width="100%" cellpadding="5" />
					<tr>
						<td>
							<a href="/accounts/profile/{{message_view.sender.id}}/">
								{% if messsage_view.sender.user_object.avatar_thumbnail %}
									<img 
									src="{% get_static_prefix %}{{messsage_view.sender.user_object.avatar_thumbnail}}" 
									width="50"
									/> 
								{% else %}
									<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
								{% endif %} 
								<b>{{message_view.sender}}:</b>
							</a>
						</td>
						<td style="padding-right:5px;" align="right">
							<button onclick="confirmDelete();">Delete Message</button>
						</td>
					<tr>
						<td colspan="2" style="padding-left:30px;">
							<div class="heading2">{{message_view.subject}}</div>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="padding-left:45px;">
							<p>
								{{message_view.body}}
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>
								<b><a href="/eyechat/{{message_view.id}}/reply/">Reply</a></b>
							</p>
						</td>
						<td style="padding-right:5px;" align="right">
							<p>
								<a href="/eyechat/"><b>Back</b></a>
							</p>
						</td>
					</tr>
				</table>

			{% endif %}
			{% if message_view.sender == thisuser %}

				<table width="100%" cellpadding="5" />
					<tr>
						<td>
							<div class="heading2">{{message_view.subject}}</div>
						</td>
						<td style="padding-right:5px;" align="right">
							<button onclick="confirmDelete();">Delete Message</button>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="padding-left:25px;">
							<p>
								{{message_view.body}}
							</p>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<p>
								<a href="/eyechat/"><b>Back</b></a>
							</p>
						</td>
					</tr>
				</table>

			{% endif %}
		
		{% else %}
			<p>Message doesn't exist!</p>
		{% endif %}

	</div>

{% endblock %}