{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}The Best Eye: New Message{% endblock %}

{% block content %}

	<p>
		<div class="heading2">
			<img 
				class="heading_icon" 
				src="{% static "assets/images/eyechat-eye-256.png" %}" 
			/>
			Send Message:
		</div>
	</p>

	<div id="whitebg">

		<form action="/eyechat/new/{{user_id}}/" method="post" />{% csrf_token %}

			<table width="100%" cellpadding="2">
				<tr>
					<td align="right" width="10%">
						To:
					</td>
					<td>
						<b>{{send_to.username}}</b>
					</td>
				</tr>
				<tr>
					<td align="right">
						Subject:
					</td>
					<td>
						{{form.subject}}
					</td>
				</tr>
				<tr>
					<td align="right" valign="top">
						Message:
					</td>
					<td>
						{{form.body}}
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" name="submit" value="Send Message" />
					</td>
					<td align="right" style="padding-right:5px;">
						<a href="/eyechats/"><b>Cancel</b></a>
					</td>
				</tr>
			</table>

		</form>

	</div>

{% endblock %}