{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}The Best Eye: Reply to Message{% endblock %}

{% block content %}

	<p>
		<div class="heading2">
			<img 
				class="heading_icon" 
				src="{% static "assets/images/eyechat-eye-256.png" %}" 
			/>
			Reply:
		</div>
	</p>

	<div id="whitebg">

		{% if message_view %}

				<form action="/eyechat/{{message_view.id}}/reply/" method="post">{% csrf_token %}

					<table width="100%" cellpadding="2">
						<tr>
							<td align="right" width="10%">
								To:
							</td>
							<td>
								<b>{{message_view.sender.username}}</b>
							</td>
						</tr>
						<tr>
							<td align="right">
								Subject:
							</td>
							<td>
								{{form.subject}}
							</td>
						</tr>
						<tr>
							<td align="right" valign="top">
								Message:
							</td>
							<td>
								{{form.body}}<br />
								<p><i>{{message_view.body}}</i></p>
							</td>
						</tr>
						<tr>
							<td style="padding-left:5px;">
								<p>
									<input type="submit" name="submit" value="Reply" />
								</p>
							</td>
							<td align="right" style="padding-right:5px;">
								<a href="/eyechat/{{message_view.id}}/"><b>Cancel</b></a>
							</td>
						</tr>
					</table>

				</form>

		{% else %}

			<div style="padding-left:10px;"><p>No message to show!</p></div>

		{% endif %}

	</div>

{% endblock %}