{% extends "base.html" %}
{% load i18n %}
{% block title %}The Best Eye: Edit Post{% endblock %}
{% block extrahead %}
	<script type="text/javascript">
		function confirmDelete() {
			//display confirmation window which returns true or false
			if(!window.confirm("Are you sure you want to delete this post?")) return false;
			 
			//user clicked 'OK'
			window.location.href="/lobby/posts/{{post.id}}/delete/"
			}
	</script>
{% endblock %}

{% block content %}

	<div id="whitebg">

		{% if post %}
			<table width="100%" cellpadding="5">

				<tr>
					<td>
						<span class="heading16px">
							Edit Your Post
						</span>
					</td>
					<td align="right" style="padding-right:50px">
						<button onclick="confirmDelete();">Delete</button>
					</td>
				</tr>

				<form action="/lobby/posts/{{post.id}}/edit/" method="post" />{% csrf_token %}
					<tr>
						<td colspan="2">
							{{form.body}}
						</td>
					</tr>
					<tr>
						<td>
							<input type="submit" name="submit" value="Edit Post" />
						</td>
						<td align="right" style="padding-right:15px">
							<a href="/lobby/">Back</a>
						</td>
					</tr>
				</form>
			</table>
		{% else %}
			<p>Nothing to show!</p>
			<p><a href="/lobby/"><b>Back to Lobby</b></a></p>
		{% endif %}

	</div>

{% endblock %}