{% extends "base.html" %}
{% load static %}
{% block title %}The Best Eye: Followers{% endblock %}
{% load i18n %}

{% block content %}

	<p>	
		<div class="heading20px">
			<img 
				width="30" 
				src="{% static "assets/images/follow-users-256.png" %}" 
			/>
			Followers:
		</div>
	</p>

	<div id="whitebg">

		<table width="100%" cellpadding="2">

			{% for f,user_status in followers_list %}
			
				<tr>
					<td>
						<a href="/accounts/profile/{{f.user.id}}/">
							{% if f.avatar_thumbnail %}
								<img src="{% get_static_prefix %}{{f.avatar_thumbnail}}" width="50" />
							{% else %}
								<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
							{% endif %}
						</a> 
						<a href="/accounts/profile/{{f.user.id}}/">{{f.user.username}}</a>
					</td>
					<td>
						<a href="/accounts/profile/{{f.user.id}}/">{{f.totalpoints}} points</a>
					</td>
					<td>
						<a href="/accounts/profile/{{f.user.id}}/games/">
							See {{f.user.username}}'s games!
						</a>
					</td>
					<td>
						{% if user_status %}
							<a href="/accounts/profile/{{f.user.id}}/unfollow/?nextpage=/accounts/profile/{{thisuser.id}}/followers/">(Unfollow)</a>
						{% else %}
							<a href="/accounts/profile/{{f.user.id}}/follow/?nextpage=/accounts/profile/{{thisuser.id}}/followers/">(Follow)</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>

			<div class="pagination" align="right">
				<span class="step-links">
					{% if user_followers.has_previous %}
						<a href="?page={{ user_followers.previous_page_number }}">previous</a>
					{% endif %}

					<span class="current">
						Page {{ user_followers.number }} of {{ user_followers.paginator.num_pages }}
					</span>

					{% if user_followers.has_next %}
						<a href="?page={{ user_followers.next_page_number }}">next</a>
					{% endif %}
				</span>
			</div>

	</div>

{% endblock %}