{% extends "base.html" %}
{% load static %}
{% block title %}The Best Eye: Following{% endblock %}
{% load i18n %}

{% block content %}

	<p>	
		<div class="heading20px">
			<img 
				width="30" 
				src="{% static "assets/images/follow-users-256.png" %}" 
			/>
			Following:
		</div>
	</p>

	<div id="whitebg">

		<table width="100%" cellpadding="2">

			{% for f in users_following %}

				<tr>
					<td>
						<a href="/accounts/profile/{{f.user.id}}/">
							{% if f.user_object.avatar_thumbnail %}
								<img src="{% get_static_prefix %}{{f.user_object.avatar_thumbnail}}" width="50" />
							{% else %}
								<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
							{% endif %}
							 <a href="/accounts/profile/{{f.id}}/"><b>@{{f.username}}</b></a>
						</a>
					</td>
					<td>
						<a href="/accounts/profile/{{f.id}}/">
							{{f.user_object.totalpoints}} points
						</a>
					</td>
					<td>
						<a href="/accounts/profile/{{f.id}}/games/">
							See {{f.username}}'s games!
						</a>
					</td>
					<td>
						<a href="/accounts/profile/{{f.id}}/unfollow/?nextpage=/accounts/profile/{{thisuser.id}}/following/">
							(Unfollow)
						</a>
					</td>
			{% endfor %}

		</table>	

		<div class="pagination" align="right">
				<span class="step-links">
					{% if users_following.has_previous %}
						<a href="?page={{ users_following.previous_page_number }}">previous</a>
					{% endif %}

					<span class="current">
						Page {{ users_following.number }} of {{ users_following.paginator.num_pages }}
					</span>

					{% if users_following.has_next %}
						<a href="?page={{ users_following.next_page_number }}">next</a>
					{% endif %}
				</span>
			</div>

	</div>

{% endblock %}