{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}The Best Eye: New Post{% endblock %}

{% block sidebar %}
	{% if thisuser %}
		<a href="/games/">All Games</a><br />
		<a href="/games/yourgames/">Your Games</a><br />
		<a href="/games/new/">New Game</a><br />
		<a href="/eyechat/">Eyechat</a></br />
		<a href="/lobby/">Lobby</a><br />
		<a href="/lobby/posts/new/">New Lobby Post</a><br />
		<a href="/accounts/profile/{{thisuser.id}}/following/">Following: {{following}}</a><br />
		<a href="/accounts/profile/{{thisuser.id}}/followers/">Followers: {{followers}}</a><br />
		<a href="/accounts/profile/">Your Profile</a><br />
		<a href="/accounts/logout/">Log Out</a><br />
	{% else %}
		<a href="/accounts/login/">Log In</a><br />
	{% endif %}
{% endblock %}

{% block content %}

	<p>
		<div class="heading16px">
			<img 
				width="30" 
				src="{% static "assets/images/newpost-plus-256.png" %}" 
			/> 
			New Post:
		</div>
	</p>

	<div id="whitebg">

		<form action="/lobby/posts/new/" method="post" />{% csrf_token %}

			<table width="100%" cellpadding="5" bgcolor="#ffffff">
				<tr>
					<td colspan="2">
						{{form.body}}
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" name="submit" value="New Post" />
					</td>
					<td align="right" style="padding-right:15px">
						<a href="/lobby/"><b>Cancel</b></a>
					</td>
				</tr>
			</table>

		</form>

	</div>

{% endblock %}