{% extends "base.html" %}
{% load i18n %}

{% block sidebar %}
	{% if thisuser %}
		<a href="/games/">All Games</a><br />
		<a href="/games/yourgames/">Your Games</a><br />
		<a href="/games/new/">New Game</a><br />
		<a href="/eyechat/">Eyechat</a></br />
		<a href="/lobby/">Lobby</a><br />
		<a href="/lobby/posts/new/">New Lobby Post</a><br />
		<a href="/accounts/profile/">Your Profile</a><br />
		<a href="/accounts/logout/">Log Out</a><br />
	{% else %}
		<a href="/accounts/login/">Log In</a><br />
	{% endif %}
{% endblock %}

{% block content %}

{% endblock %}